<div class="breadcrumbs fon-light">
	<div class="container-full">
		<div class="breadcrumbs_wrapp">
			<span>
			    <span>
			        <a href="#">Главная</a>
			        <a href="#">Наши новости</a>
			        <span class="breadcrumb_last">Текущая публикация</span>
			    </span>
			</span>
		</div>
	</div>
</div>