<footer class="m-footer js-footer">
    <div class="m-footer_top">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <div class="row">
                        <div class="col-md-4 col-sm-5 js-match-height">
                            <div class="m-footer_block">
                                <a href="#" class="m-footer_logo logo">
                                    <img src="img/logo-inverse.png" alt="">
                                </a>
                                <p class="m-footer_text">Интернет-магазин спортивной одежды и экипировки для единоборств MMA Style</p>
                                <ul class="soc-icons">
                                    <li><a href="#" class="icon-facebook"></a></li>
                                    <li><a href="#" class="icon-vkontakte"></a></li>
                                    <li><a href="#" class="icon-twitter"></a></li>
                                    <li><a href="#" class="icon-youtube"></a></li>
                                </ul>
                                <div class="pay-methods">
                                    <i class="icon icon-visa"></i>
                                    <i class="icon icon-mastercard"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-offset-2 col-sm-7 js-panel-wrapper js-resize-wrp">
                            <i class="icon-click s-icon_burger-w js-panel-btn"></i>
                            <div class="row js-panel-toggle js-resize-panel m-footer_panel">
                                <div class="col-xs-6 js-match-height">
                                    <div class="m-footer_cat">
                                        <p class="heading4">Мужчинам</p>
                                        <ul class="m-footer_cat-ul">
                                            <li><a href="#">Рашгарды</a></li>
                                            <li><a href="#">Шорты</a></li>
                                            <li><a href="#">Штаны</a></li>
                                            <li><a href="#">Комплекты ММА</a></li>
                                            <li><a href="#">Футболки</a></li>
                                        </ul>
                                    </div>
                                    <div class="m-footer_cat">
                                        <p class="heading4">Женщинам</p>
                                        <ul class="m-footer_cat-ul">
                                            <li><a href="#">Рашгарды</a></li>
                                            <li><a href="#">Леггенсы</a></li>
                                            <li><a href="#">Топы</a></li>
                                            <li><a href="#">Майки</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xs-6 js-match-height">
                                    <div class="m-footer_cat">
                                        <p class="heading4">Специальные предложения</p>
                                        <ul class="m-footer_cat-ul">
                                            <li><a href="#">Акции</a></li>
                                            <li><a href="#">Final round</a></li>
                                        </ul>
                                    </div>
                                    <div class="m-footer_cat">
                                        <p class="heading4">о магазине</p>
                                        <ul class="m-footer_cat-ul">
                                            <li><a href="#">Как заказать</a></li>
                                            <li><a href="#">Оплата</a></li>
                                            <li><a href="#">Доставка</a></li>
                                            <li><a href="#">Гарантии</a></li>
                                            <li><a href="#">Блог</a></li>
                                            <li><a href="#">Контакты</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1 col-sm-4 js-match-height">
                    <p class="heading4">Контактная информация</p>
                    <ul class="m-footer_cnt">
                        <li>
                            <i class="icon icon-location"></i>
                            <p>Белгород ул.Мичурина 100</p>
                            <a href="#" class="link">Посмотреть на карте</a>
                        </li>
                        <li>
                            <i class="icon icon-phone"></i>
                            <p><a href="tel:+74 (99) 322-77-91">+74 (99) 322-77-91</a></p>
                            <p><a href="tel:+74 (99) 322-77-91">+74 (99) 322-77-91</a></p>
                            <a href="#" class="link">Обратный звонок</a>
                        </li>
                        <li>
                            <i class="icon icon-clock-1"></i>
                            <p>
                                Пн – Пт: с 10:00 до 18:30</br>
                                Сб: с 12:00 до 17:00</br>
                                Вс: Выходной
                            </p>
                        </li>
                    </ul>
                </div>  
            </div>
        </div>
    </div>
    <div class="m-footer_bottom">
        <p>© Интернет-магазин Dojo, 2018. Все права защищены</p>
    </div>
</footer>
<!-- popup form start-->
//= popup-form.html
<!-- popup form end-->
<!-- loading JS Start -->
<script src="js/libs.js"></script>
<script src="js/main.js"></script>
<!-- loading JS End -->

<!--<Deject>-->
<!-- stylesheet vas delet for production -->
<link rel="stylesheet" href="css/development.css"><!-- script vas delet for production -->
<script src="js/development.js"></script>
<!-- scrollup vas delet for production -->
<div id="scrollup"><i class="icon-up-big"></i></div>
<div id="scrollDown"><i class="icon-down-big"></i></div>
<!--</Deject>-->

</body>

</html>
