<div class="hidden">
     <!-- form order -->
    <div id="xoo-cp-modal" class="xoo-cp-modal mfp-hide">
        <div class="xoo-cp-modal">
            <!-- классы: popup-wrp, mfp-hide и id: xoo-cp-modal удалить -->
            <div class="xoo-cp-container popup-wrp">
                <div class="xoo-cp-outer">
                    <div class="xoo-cp-cont-opac"></div>
                    <i class="xcp-icon xcp-icon-spinner2 xcp-outspin"></i>
                </div>
                <div class="xoo-cp-atcn">
                    <div class="xoo-cp-success">Товар добавлен в корзину</div>
                    <i class="xcp-icon-cross xcp-icon xoo-cp-close">×</i>
                </div>

                <div class="xoo-cp-content">
                    <table class="xoo-cp-pdetails clearfix">
                        <tr>
                            <td class="xoo-cp-remove"><i class="xcp-icon-cancel-circle xcp-icon"></i></td>
                            <td class="xoo-cp-pimg"><a href="#"><img src="img/content/121-150.jpg" alt=""></a></td>
                            <td class="xoo-cp-ptitle">
                                <a href="#">Рашгард Venum Gorilla Long Sleeves Black</a>
                                <div class="xoo-cp-variations">
                                    <span>S</span>
                                    <span>L</span>
                                    <span>XXL</span>
                                </div>
                            </td>

                            <td class="xoo-cp-pprice"><span class="woocommerce-Price-amount amount">899&nbsp;<span class="woocommerce-Price-currencySymbol">грн</span></span></td>


                            <td class="xoo-cp-pqty">
                                <div class="xoo-cp-qtybox">
                                    <span class="xcp-minus xcp-chng">-</span>
                                    <input type="number" class="xoo-cp-qty" max="1" min="1" step="1" value="1" pattern="[0-9]*">
                                    <span class="xcp-plus xcp-chng">+</span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="xoo-cp-ptotal"><span class="xcp-totxt">В корзине товаров на сумму:</span>
                        <span class="xcp-ptotal">3 280 руб</span>    
                    </div>
                </div>
                <div class="xoo-cp-btns">
                    <a class="xoo-cp-close xcp-btn" href="#">Продолжить покупки</a>
                    <a class="xoo-cp-btn-ch xcp-btn" href="#">ОФОРМИТЬ ЗАКАЗ</a>
                </div>
            </div>
        </div>
    </div>
    <!-- form order -->
    <div id="order" class="mfp-hide popup-wrp fon-base style-input">
        <div class="f1">
            <p class="popup-title">Быстрый заказ <button class="mfp-close">×</button></p>
            <div class="row">
                <div class="col-sm-6">
                    <div class="order_block prod-cat_block">
                        <div class="prod-cat_img">
                            <img src="img/content/139-171.jpg" alt="">
                        </div>
                        <div class="prod-cat_cnt">
                            <span class="heading4">Рашгард Venum Gorilla</span>
                            <span class="price">
                                <ins>
                                    <span class="woocommerce-Price-amount amount">
                                        7 200
                                        <span class="woocommerce-Price-currencySymbol">грн</span>
                                    </span>
                                </ins>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <form method="post" class="wpcf7-form">
                        <p class="icon-form">
                            <i class="icon s-icon-user"></i>
                            <input type="text" name="your-name" placeholder="Ваше имя*" value="" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"> 
                        </p>
                        <p class="icon-form">
                            <i class="icon s-icon-phone"></i>
                            <input type="tel" placeholder="Номер телефона">
                        </p>
                         <p class="btn-center">
                            <input type="submit" value="ЗАКАЗАТЬ" class="wpcf7-form-control wpcf7-submit btn btn-full btn-primary">
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <div class="f2 feedback" style="display:none">
            <p class="popup-title">Данные успешно отправлены <button class="close-click hid-popup">×</button></p>
            <p>
                <?php echo $wpcf7_request_sent_ok_text; ?>
            </p>
            <p>Спасибо за ваше сообщение.Это окно закроется через <span class="timer_inp">10</span> <span class="timer_text">секунд</span>само по себе. Нажмите кнопку или на значок "×", если вы цените своё время и не хотите, чтобы бездушная машина решала, сколько времени вам ждать.</p>
            <p class="btn-center">
                <input type="submit" value="Отправить сообщение" class="wpcf7-form-control wpcf7-submit btn btn-full btn-primary">
            </p>
        </div>
    </div>
    <!-- form request -->
    <div id="request" class="mfp-hide popup-wrp fon-base style-input">
        <div class="f1">
            <p class="popup-title">Оформить заявку <button class="mfp-close">×</button></p>
            <form method="post" class="wpcf7-form">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <p class="icon-form">
                            <i class="icon s-icon-user"></i>
                            <input type="text" name="your-name" placeholder="Ваше имя*" value="" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"> 
                        </p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <p class="icon-form">
                            <i class="icon s-icon-mail"></i>
                            <input type="email" placeholder="Ваш e-mail" name="your-email" value="" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-email">
                        </p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <p class="icon-form">
                            <i class="icon s-icon-phone"></i>
                            <input type="tel" placeholder="Номер телефона">
                        </p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <p class="icon-form">
                            <i class="icon s-icon-mail"></i>
                            <input type="email" name="your-email" placeholder="Ваш e-mail" value="" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-email">
                        </p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <span class="wpcf7-form-control wpcf7-checkbox clearfix">
                                    <span class="wpcf7-list-item first">
                                        <input type="checkbox" name="checkbox-6[]" value="check 1" />
                                        <span class="wpcf7-list-item-label">Неактивный чекбокс</span>
                        </span>
                        <span class="wpcf7-list-item">
                                        <input type="checkbox" name="checkbox-6[]" value="check 2" checked/>
                                        <span class="wpcf7-list-item-label">Активный чекбокс</span>
                        </span>
                        </span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <span class="wpcf7-form-control wpcf7-radio clearfix">
                                    <span class="wpcf7-list-item first">
                                        <input type="radio" name="radio-264" value="radio 1" />
                                        <span class="wpcf7-list-item-label">Неактивный радиобаттон</span>
                        </span>
                        <span class="wpcf7-list-item">
                                        <input type="radio" name="radio-264" value="radio 2" checked/>
                                        <span class="wpcf7-list-item-label">Активный радиобаттон</span>
                        </span>
                        </span>
                    </div>
                </div>
                <div class="row clearfix select-wrp">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <select name="your-parent" class="wpcf7-form-control wpcf7-select input-text label" aria-invalid="false">
                            <option>List example</option>
                            <option>Lorem ipsum dolor sit amet</option>
                            <option>Consectetur adipisicing elit</option>
                            <option>Tempor incididunt</option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <select name="your-parent" class="wpcf7-form-control wpcf7-select input-text label" aria-invalid="false">
                            <option>List example</option>
                            <option>Lorem ipsum dolor sit amet</option>
                            <option>Consectetur adipisicing elit</option>
                            <option>Tempor incididunt</option>
                        </select>
                    </div>
                </div>
                <p class="btn-center">
                    <input type="submit" value="Отправить сообщение" class="wpcf7-form-control wpcf7-submit btn btn-full btn-primary">
                </p>
            </form>
        </div>
        <div class="f2 feedback" style="display:none">
            <p class="popup-title">Данные успешно отправлены <button class="close-click hid-popup">×</button></p>
            <p>
                <?php echo $wpcf7_request_sent_ok_text; ?>
            </p>
            <p>Спасибо за ваше сообщение.Это окно закроется через <span class="timer_inp">10</span> <span class="timer_text">секунд</span>само по себе. Нажмите кнопку или на значок "×", если вы цените своё время и не хотите, чтобы бездушная машина решала, сколько времени вам ждать.</p>
            <p class="btn-center">
                <input type="submit" value="Отправить сообщение" class="wpcf7-form-control wpcf7-submit btn btn-full btn-primary">
            </p>
        </div>
    </div>
</div>
