//
// Grid system
// --------------------------------------------------

// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.container
    @include container-fixed
    transition: all .5s ease-out-quad
    //+transition(all .5s $ease-out-quad)

    @media (min-width: $screen-sm-min)
        width: $container-sm

    @media (min-width: $screen-md-min)
        width: $container-md

    @media (min-width: $screen-lg-min)
        width: $container-lg

// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.
.container-fluid
    @include container-fixed

// Row
//
// Rows contain and clear the floats of your columns.
.row
    @include make-row

// Columns
//
// Common styles for small and large grid columns

@include make-grid-columns

// Exstra small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.

@media (min-width: $screen-xs-min)
    @include make-grid(xs)

// Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.
@media (min-width: $screen-sm-min)
    @include make-grid(sm)

// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.
@media (min-width: $screen-md-min)
    @include make-grid(md)

// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.
@media (min-width: $screen-lg-min)
    @include make-grid(lg)

//---------------------BREAKPOINTS

@mixin breakpoint($point)
    @if $point == desktop
        @media (max-width: $screen-lg-desktop)
            @content
    @else if $point == laptop
        @media (max-width: $screen-desktop)
            @content
    @else if $point == tablet
        @media (max-width: 767px)
            @content
    @else if $point == phone
        @media (max-width: $screen-phone)
            @content
    @else if $point == mobileonly
        @media (max-width: $screen-custom)
            @content


