// //-----------------------------------fonts size
//variable font h1-h6
$font-h1:        44px;
$font-h2:        36px;
$font-h3:     	 24px;
$font-h4:    	 16px;
$font-h5:        20px;
$font-h6:        16px;
//variable mobile font h1-h6
$font-h1_mob:        34px;
$font-h2_mob:        26px;
$font-h3_mob:     	 22px;
$font-h4_mob:    	 14px;
$font-h5_mob:        18px;
$font-h6_mob:        14px;
//variable color h1-h6
$color_h: #2a2a2a;
//-----------------------------------the title of the font size
$title-size: (1: $font-h1, 2: $font-h2, 3: $font-h3, 4: $font-h4, 5: $font-h5, 6: $font-h6);
// //-----------------------------------the title of the font size on mobile
$title-size-mob: (1: $font-h1_mob, 2: $font-h2_mob, 3: $font-h3_mob, 4: $font-h4_mob, 5: $font-h5_mob, 6: $font-h6_mob);
//----------------------------------- maps title
h, .title {
    @each $title-main,
    $size in $title-size {
        &#{$title-main} {
        	//style for h1 - h6
            color: $color_h;
            @include fs($size);
            line-height: normal;
        }
    }
    @each $title,
    $size-mob in $title-size-mob {
        &#{$title} {
            @include respond-to(phone) {
            	//style for mobile h1 - h6
                font-size: $size-mob;
            }
        }
    }
};