//more detal http://prgssr.ru/development/otzyvchivaya-tipografika-s-associativnymi-massivami-sass.html
@mixin font-size($fs-map, $fs-breakpoints: $breakpoints) {
    @each $fs-breakpoint,
    $fs-font-size in $fs-map {
        @if $fs-breakpoint==null {
            @include make-font-size($fs-font-size);
        }
        @else {
            // If $fs-font-size is a key that exists in
            // $fs-breakpoints, use the value
            @if map-has-key($fs-breakpoints, $fs-breakpoint) {
                $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
            }
            @media screen and (min-width: $fs-breakpoint) {
                @include make-font-size($fs-font-size);
            }
        }
    }
}

// Utility function for mixin font-size
@mixin make-font-size($fs-font-size) {
    // If $fs-font-size is a list, include
    // both font-size and line-height
    @if type-of($fs-font-size)=="list" {
        font-size: nth($fs-font-size, 1);
        @if (length($fs-font-size) > 1) {
            line-height: nth($fs-font-size, 2);
        }
    }
    @else {
        font-size: $fs-font-size;
    }
}

$breakpoints: (
                small: 480px,
                medium: 700px,
                large: 1024px
                );

$p-font-sizes: (
    null: (15px, 1.3),
    small: 16px,
    medium: (17px, 1.4),
    900px: 18px,
    large: (19px, 1.45),
    1440px: (16px / 20px * 1rem, 24px / 20px)
    );

// p {
//     @include font-size($p-font-sizes);
// }