<div class="cat-nav">
	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				<a href="#" class="cat-nav_item">
					<img src="img/content/555-360-2.jpg" alt="">
					<div class="cat-nav_title">
						<p class="heading1">Мужчинам</p>
					</div>
				</a>
			</div>
			<div class="col-xs-6">
				<a href="#" class="cat-nav_item">
					<img src="img/content/555-360.jpg" alt="">
					<div class="cat-nav_title">
						<p class="heading1">Мужчинам</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>