<div class="m-slider js-one-slider">
	<div class="m-slider_item">
		<img src="img/content/1394-768.jpg" alt="">
		<div class="m-slider_conteiner">
			<div class="container">
				<div class="m-slider_content">
					<p class="heading1">спортивная одежда и экипировка для единоборств MMA Style</p>
					<a href="#" class="hidden-xs btn btn-big btn-inverse">Перейти в магазин</a>
				</div>
			</div>
		</div>
	</div>
	<div class="m-slider_item">
		<img src="img/content/1394-768.jpg" alt="">
		<div class="m-slider_conteiner">
			<div class="container">
				<div class="m-slider_content">
					<p class="heading1">спортивная одежда и экипировка для единоборств MMA Style</p>
					<a href="#request" class="popup-show hidden-xs btn btn-big btn-inverse">Перейти в магазин</a>
				</div>
			</div>
		</div>
	</div>
	<div class="m-slider_item">
		<img src="img/content/1394-768.jpg" alt="">
		<div class="m-slider_conteiner">
			<div class="container">
				<div class="m-slider_content">
					<p class="heading1">спортивная одежда и экипировка для единоборств MMA Style</p>
					<a href="#" class="hidden-xs btn btn-big btn-inverse">Перейти в магазин</a>
				</div>
			</div>
		</div>
	</div>
</div>