<div class="s-ban">
	<img src="img/content/1394-409.jpg" alt="">
	<div class="s-ban_container">
		<div class="container">
			<div class="s-ban_content">
				<p class="heading2">следите за Dojo store в Instagram</p>
				<p>Фотографии с соревнований, обзоры одежды и экипировки MMA Style и многое другое. Ежедневные обновления</p>
				<a href="#" class="btn btn-middle btn-inverse">Подписаться сейчас</a>
			</div>
		</div>
	</div>
</div>
<div class="s-ban-fix">
	<div class="aside-fix">
	    <img src="img/content/263-468.jpg" alt="">
	    <div class="aside-fix_content">
	        <p>
	            следите за Dojo store в Instagram
	        </p>
	    </div>
	    <div class="aside-fix_btn">
	        <a href="#" class="btn btn-inverse btn-full btn-medium">Подписаться сейчас</a>
	    </div>
	</div>
</div>