<div class="s-part fon-light">
	<div class="container">
		<div class="js-slider-def s-part_sl">
			<div class="s-part_sl-item">
				<img src="img/content/131-67.png" alt="">
			</div>
			<div class="s-part_sl-item">
				<img src="img/content/131-67-2.png" alt="">
			</div>
			<div class="s-part_sl-item">
				<img src="img/content/131-67-3.png" alt="">
			</div>
			<div class="s-part_sl-item">
				<img src="img/content/131-67-4.png" alt="">
			</div>
			<div class="s-part_sl-item">
				<img src="img/content/131-67-5.png" alt="">
			</div>
			<div class="s-part_sl-item">
				<img src="img/content/131-67-6.png" alt="">
			</div>
		</div>
	</div>
</div>