//---------------------------------------var
$base_color-list-style:    $color-default
$base_fontello-list-icon: '\f219'
$base_indent-style:        15px
//--------------------------------table
$base_color-table-border:  $color-default
$base_indent-tble-top:     10px
$base_indent-tble-bottom:  10px
//--------------------------------blockquote
$base_bg-bq:               #f9f9f9
$base_border-left-bq:      3px
$base_border-color-bq:     $color-default
$base_icon-color-bq:       $color-default
$base_icon-list-bq:        '\f10d'
//--------------------------------title
$base_indent-title-sub:    30px
$base_indent-title-df:     30px
//---------------------------------------var end

html,
body,
#wrapper
	width: 100%

body,
input,
button,
textarea
	-webkit-apperance: none
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
.clearfix
	@include clearfix
.hidden
	display: none
.overflow
	overflow: hidden

.content
	min-height: calc(100vh - 379px)
body
	font-size: $font-size-base
	color: $color-default
	line-height: 1.6
	@extend %rLight
	overflow-x: hidden 
.pull-right
	float: right
.pull-left
	float: left

//--------------------------------background-fon
.fon
	@each $fon, $background in $background-fon
		&-#{$fon}
			background: $background

//--------------------------------typography style
.alignright
	float: right
	margin: 0 0 $base_indent-style 30px
.alignleft
	float: left
	margin: 0 30px $base_indent-style 0
.aligncenter
	display: block
	margin: 0 auto $base_indent-style 
img
	height: auto
	max-width: 100%
.inline-center
	text-align: center

.extension
	counter-reset: list 0

a
	text-decoration: none
	@extend %hoverLink


//--------------------------------tlist style
ol:not([class]),
ul:not([class]),
.list-style
	padding: 0 0 0 20px
	li
		position: relative
		overflow: hidden
		margin: 0 0 10px
		padding: 0 0 0 30px
		&:before
			display: block
			position: absolute
			top: 0
			left: 1px
ul:not([class]),
.list-style
	li
		&:before
			//--------------------------fontello style
			//content: $base_fontello-list-style
			//font-size: 16px
			//font-family: 'fontello'
			//color: $base_color-list-style
			//--------------------------defult style
			content: ''
			border: 5px solid transparent
			border-left: 5px solid $color-accent
			top: 6px
ol:not([class]),
.list-style
	counter-reset: li
	li
		&:before
			content: counter(li)
			counter-increment: li 
			color: $color-accent
			//@include fblack
			@extend %bold
			font-size: 13px
			top: 2px
.extension 
	ol
		counter-reset: section
		li
			&:before
				counter-increment: list 1
				content: counter(list) "."

b,
strong
	@extend %rBold
	color: $color-default
i,
em
	@extend %rLight-italic 

.text-style
	//--------------------------------table
	table
		width: 100%
		vertical-align: middle
		margin: 0 0 $base_indent-style
		text-align: left
		//border: 1px solid $base_color-table-border
	th
		text-transform: uppercase
		@extend %bold
		font-size: 13px
		border: none
		background: #e6e6e6
		padding: $base_indent-tble-top $base_indent-tble-bottom
		//font-size: $font-size-base
		&:first-child
			border-right: 1px solid $color-base 
	td
		font-size: 15px
		border: none
		padding: $base_indent-tble-top $base_indent-tble-bottom
		//font-size: $font-size-base
		background: #fbfbfb
		&:first-child
			border-right: 1px solid $color-base
	tr
		&:nth-child(2n+1)
			background: #f7f7f7

	//--------------------------------figure
	figure
		display: flex
		align-items: center
		margin: 30px 0
		//border: 1px solid $color-default-light
		p
			margin: 0
		img
			display: block
		figcaption
			display: flex
			align-items: center
			color: $color-default
			font-size: 18px
			max-width: 50%
			padding: 10px 40px
			//border-left: 1px solid $color-default-light
			//@include fbold

	//--------------------------------text style
	a
		text-decoration: none
		color: $color-accent
		@extend %rMedium
		&:hover
			text-decoration: underline
			//color: $color-accent
	p,
	li
		margin: 0 0 $base_indent-style
		//font-size: $font-default
//--------------------------------blockquote
blockquote
	position: relative
	line-height: 24px
	background: #fbfbfb
	margin: 30px 0
	border-left: $base_border-left-bq solid $color-accent
	padding: 30px
	overflow: hidden
	//font-size: $font-default
	//@include foregular
	// &:before
	// 	color: $base_icon-color-bq
	// 	position: absolute
	// 	top: 30px
	// 	left: 30px
		//--------------------------fontello style
		// content: $base_icon-list-bq
		// font-size: 30px
		// font-family: 'fontello'
		//--------------------------defult style
		content: $base_icon-list-bq
		font-size: 60px
		font-weight: 100

//--------------------------------title style sub page


.heading
	@each $title, $size-sub in $title-size-sub
		&#{$title}
			font-size: $size-sub
			line-height: normal
			@extend %bold
			margin: 14px 0
h
	@each $title, $size-sub in $title-size-sub
		&#{$title}
			font-size: $size-sub
			line-height: normal
			margin: 14px 0
			@extend %bold

h1,
.heading1
	margin: 40px 0
	text-transform: uppercase
h2,
.heading2
	margin: 34px 0
	text-transform: uppercase
h3,
.heading3
	margin: 34px 0
	text-transform: uppercase
h4
.heading4,
	text-transform: uppercase
h5,
.heading5
	@extend %bold
h6,
.heading6
	@extend %bold


//----------------media
@include breakpoint(desktop)     //---max-width 1200
	h1,
	.heading1,
	h2,
	.heading2,
	h3,
	.heading3
		margin: 25px 0
@include breakpoint(laptop)      //---max-width 992
	h2,
	.heading2,
	h3,
	.heading3
		margin: 15px 0
	h1,
	.heading1
		font-size: 22px
		margin: 20px 0
	h2,
	.heading2
		font-size: 20px
	blockquote
		margin: 15px 0
		padding: 15px
@include breakpoint(tablet)      //---max-width 768
	/**/
@include breakpoint(phone)       //---max-width 480
	h1,
	.heading1,
	h2,
	.heading2,
	h3,
	.heading3
		margin: 15px 0
	h1,
	.heading1
		font-size: 20px
	h3,
	.heading3
		font-size: 16px
	.list-style, 
	ol:not([class]), 
	ul:not([class])
		padding: 0
		li
			padding: 0 0 0 15px
@include breakpoint(mobileonly)  //---max-width 320
	/**/


