//---------------------clearfix

@mixin clearfix()
    &:before,
    &:after
        content: " "
        display: table
    &:after
        clear: both

//---------------------fonts em

@function em($pixels, $context: $font-size-base)
    @if (unitless($pixels))
        $pixels: $pixels * 1px
    @if (unitless($context))
        $context: $context * 1px
    @return $pixels / $context * 1em

//---------------------reset button

@mixin reset-btn()
    border: none
    outline: none
    margin: 0
    cursor: pointer

//---------------------vertical align

$vertical: true
@mixin centerer($vertical: true)
    position: absolute
    @if ($vertical)
        top: 50%
        transform: translate(0, -50%)
    @else if ($vertical)
        top: 50%
        transform: translate(0, -50%)

//---------------------input placeholder

@mixin placeholder
    ::-webkit-input-placeholder
        @content
    :-moz-placeholder
        @content
    ::-moz-placeholder
        @content
    :-ms-input-placeholder
        @content



