//-----------------------------------spacing
$spacing-default: 15px
$spacing:         10px
$spacing-double:  $spacing * 2
$spacing-third:   $spacing * 3
$spacing-fourth:  $spacing * 4
$spacing-half:    $spacing / 2

//-----------------------------------fonts size
$font-size-base: 15px
$font-xs:        em(13px)
$font-xm:        em(14px)
$font-default:   em(16px)
$font-sm:        em(17px)
$font-md:        em(18px)
$font-md-md:     em(20px)
$font-md-big:    em(24px)
$font-lg:        em(30px)
$font-lg-x:      em(36px)
$font-lg-big:    em(44px)

//-----------------------------------font family
// $font-black:      "black", sans-serif
// $font-bold:       "bold", sans-serif
// $font-boldit:     "boldit", sans-serif
// $font-light:      "light", sans-serif
// $font-lightit:    "lightit", sans-serif
// $font-reg:        "reg", sans-serif
// $font-regit:      "regit", sans-serif
// $font-medium:     "medium", sans-serif
// $font-mediumit:   "mediumit", sans-serif

//-----------------------------------color
$color-base:            #fff
$color-default:         #0b0b0b
$color-accent:          #3f435d
$color-hover:           #5f658c
$color-border:          #e5e5e5
$color-light:           #f7f7f7
$color-light2:          #8f8f8f
$color-emphasis:        #8c8c8c
$color-danger:          #a82c3e
// $color-default:         #343434
// $color-default-med:     #494a4d
// $color-base-med:        #767676
// $color-default-light:   #9c9c9c
// $color-light:           #c5c5c5

// $color-light-other:     #bfbfbf
// $color-brand-other:  #1e325a
// $color-emphasis:     #0c1c49
// $color-light-other:  #f8fafc

// $color-brand-sub:    #4e5f68

//-----------------------------------the title of the font size on the sub page
$title-size-sub: (1: 30px, 2: 24px, 3: 18px, 4: 15px, 5: 18px, 6: 15px)

//-----------------------------------the title of the font size on the home page
//$title-main-size: (1: $font-lg-x, 2: $font-lg-x, 3: $font-md, 4: $font-md, 5:$font-md, 6: $font-md)

//-----------------------------------background-fon
$background-fon: (default: $color-base, base: #f9f9f9, inverse: $color-default )

%hoverLink
	transition: all .5s ease
	&:hover
		color: $color-hover
%headerStyle
	padding: 0 30px
	transition: all .5s ease
	&:hover
		background: $color-hover
		color: $color-base
%headerFlex
	@extend .flex-row
	@extend .flex-items-middle
	height: 100%