// Для того чтобы писать алиасы и функции для автоматизации нам нужно создать
// файл .bashrc по адресу C:/Users/ИМЯ_ПОЛЬЗОВАТЕЛЯ/.bashrc
//--------------------flex------------------
//flex-direction - направление главной оси
flex-direction:row row-reverse column column-reverse
//justify-content - выравнивание по главной оси
justify-content: flex-start flex-end center space-between space-around
//align-items - выравнивание по поперечной оси
align-items: flex-start flex-end center stretch  baseline
//flex-wrap - многострочность
flex-wrap: nowrap wrap wrap-reverse
//align-self - выравнивание отдельно взятого flex-блока по поперечной оси.
align-self: flex-start flex-end center stretch  baseline
//align-content - равнение по вертикали!работает только при flex-wrap:wrap
align-content:flex-start flex-end center space-between space-around stretch
// flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]
flex: 1 1 auto;
//order порядок следования отдельно взятого flex-блока внутри flex-контейнера.
order: 1;

//---------------media point
//full
$screen-full: 1920;
//xl
$screen-xl: 1400px;
//pc
$screen-lg: 1100px;
//laptop
$screen-md: 960px;
//tablet
$screen-sm: 768px;
//phone
$screen-xs: 480px;
//mobile
$screen-c: 320px;

//--------------------media
//>1921px
@include respond-to(more_full) {

}
//full 1400>1920px
@include respond-to(full) {

}
//xl <1400
@include respond-to(xl) {

}
//pc <1100px;
@include respond-to(pc) {

}
//laptop <960px;
@include respond-to(laptop) {

}
//tablet <768px;
@include respond-to(tablet) {

}
//phone <480px;
@include respond-to(phone) {

}
//mobile <320px
@include respond-to(mobile) {

}
//-----------------fonts
@extend %bold;
    // font-weight: 700
    // font-style: normal

@extend %medium;
    // font-weight: 500
    // font-style: normal

@extend %regular;
    // font-weight: 400
    // font-style: normal

@extend %light;
    // font-weight: 300
    // font-style: normal

@extend %italic;
    // font-weight: 400
    // font-style: italic

//---------------------mixin
.block {
@include fs(16px);
@include lh(36px);
@include center(true, false);
@include siz(36px);
@include responsive-ratio(16,9);
@include placeholder {color: green;}
@include w(100, 1000);
}
//---------------------snipet
//font mix
fm
//resp
res
//background-color: $fon-brand;
fb
//color: $color-brand;
cb
//@extend
ex
//@extend %bold
exb
//@extend %regular
exr
//@extend %light
exl
//@include
in
//margin-15 -------- margin-left:-15px;margin-right:-15px;
mm
//margin-auto ------ margin-left: auto;margin-right:auto;
mlr
//before ----------- &:before {content:"";position:absolute;}
bef
b-c
//    <div class="col-xs- col-sm- col-md- col-lg-">
//
//    </div>
b-r
//<div class="row">
//    <div class="col-xs- col-sm- col-md- col-lg-">
//
//    </div>
//</div>

//--------------------all-extend
//extend ------------------------ clearfix
.block {@extend .clearfix;}
//extend --------------------------- center xy
.block {@extend .center-xy;}
//extend --------------------------- center y
.block {@extend .center-y;}
//extend ---------------------------- center x
.block {@extend .center-x;}