// button #size
%butt_size_s {
    display: block;
    padding: 4px 0;
    width: 170px;
    text-align: center;
    border-radius: 48px;
    border-style: solid;
    border-width: 8px;
    border-color: #83a0c9;
    text-transform: uppercase;
    // @extend %bold;
    font-size: 18px;
}

%butt_size_l {
    display: block;
    padding: 10px 0;
    width: 263px;
    text-align: center;
    border-radius: 48px;
    border-style: solid;
    border-width: 8px;
    border-color: #83a0c9;
    text-transform: uppercase;
    // @extend %bold;
    font-size: 18px;
}

%butt_size_xl {
    display: block;
    padding: 10px 0;
    width: 373px;
    text-align: center;
    border-radius: 48px;
    border-style: solid;
    border-width: 8px;
    border-color: #83a0c9;
    text-transform: uppercase;
    // @extend %bold;
    font-size: 18px;
}


%butt_size_max {
    display: block;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    border-radius: 48px;
    border-style: solid;
    border-width: 8px;
    border-color: #83a0c9;
    text-transform: uppercase;
    // @extend %bold;
    font-size: 18px;
}

// button #colors
%butt_brand {
    color: $color-white;
    background-color: $fon-brand;
    &:hover,
    &:focus {
        text-decoration: none;
    }
    &:hover {
        background-color: $fon-brand;
        border-color: $fon-brand;
        color: $color-white;
    }
}


%butt_trans {
    color: $color-brand;
    background-color: transparent;
    border: 2px solid $color-brand;
    &:hover,
    &:focus {
        text-decoration: none;
    }

    &:hover {
        color: $color-white;
        background-color: $fon-brand;
    }
}