// --------------------extend--------------------
//extend ------------------------ clearfix
.clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}
// .block {@extend .clearfix;}
//extend --------------------------- center xy
.center-xy {
	@include center(true, true);
}
// .block {@extend .center-xy;}
//extend --------------------------- center y
.center-y {
	@include center(false, true);
}
// .block {@extend .center-y;}
//extend ---------------------------- center x
.center-x {
	@include center(true, false);
}
// .block {@extend .center-x;}
//extend ---------------------------- text-hide
.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
// .block {@extend .text-hide;}