// для подключения шрифтов используеться миксин! название папки и файла должно совпадать
// и шрифты находиться в папке fonts
// задавать нужно лиш название шрифта ;ащте-тфьу и назание тихого класса для директивы @extend %class;
// код взять с https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// =============================================================================
// Font Face
// =============================================================================
//------------------------------при нелбходимости разкоментировать дополнительные форматы шрифта woff2 svg
@mixin ff-mixin($name, $path, $weight: null, $style: null, $exts: eot woff ttf /* woff2 svg */) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

// подключение! 
// задавать нужно лиш название шрифта $font-name (название должно совпадать
// с названием папки и файла шрифта) и назание тихого класса для директивы @extend %class;
// и если надо меняем font-style и font-weight
// название переменных менять не нужно

$font-name: "robotocondensed-bold";
$font-folder: "../fonts/#{$font-name}/#{$font-name}";
@include ff-mixin($font-name, $font-folder , 700, normal);
%bold {
  font-family: $font-name, sans-serif;
};

$font-name: "robotocondensed-bolditalic";
$font-folder: "../fonts/#{$font-name}/#{$font-name}";
@include ff-mixin($font-name, $font-folder , 700, italic );
%bold-italic {
  font-family: $font-name, cursive;
};

$font-name: "robotocondensed-italic";
$font-folder: "../fonts/#{$font-name}/#{$font-name}";
@include ff-mixin($font-name, $font-folder , 400, italic);
%italic {
  font-family: $font-name, sans-serif;
};

$font-name: "robotocondensed-light";
$font-folder: "../fonts/#{$font-name}/#{$font-name}";
@include ff-mixin($font-name, $font-folder , 100, normal);
%light {
  font-family: $font-name, sans-serif;
};

$font-name: "robotocondensed-lightitalic";
$font-folder: "../fonts/#{$font-name}/#{$font-name}";
@include ff-mixin($font-name, $font-folder , 100, italic);
%light-italic {
  font-family: $font-name, sans-serif;
};

$font-name: "robotocondensed-regular";
$font-folder: "../fonts/#{$font-name}/#{$font-name}";
@include ff-mixin($font-name, $font-folder , 400, normal);
%regular {
  font-family: $font-name, sans-serif;
};


$font-name: "roboto-light";
$font-folder: "../fonts/#{$font-name}/#{$font-name}";
@include ff-mixin($font-name, $font-folder , 200, normal);
%rLight {
  font-family: $font-name, sans-serif;
};

$font-name: "roboto-medium";
$font-folder: "../fonts/#{$font-name}/#{$font-name}";
@include ff-mixin($font-name, $font-folder , 500, normal);
%rMedium {
  font-family: $font-name, sans-serif;
};

$font-name: "roboto-lightitalic";
$font-folder: "../fonts/#{$font-name}/#{$font-name}";
@include ff-mixin($font-name, $font-folder , 200, italic);
%rLight-italic {
  font-family: $font-name, sans-serif;
};

$font-name: "roboto-regular";
$font-folder: "../fonts/#{$font-name}/#{$font-name}";
@include ff-mixin($font-name, $font-folder , 400, normal);
%rRegular {
  font-family: $font-name, sans-serif;
};

$font-name: "roboto-bold";
$font-folder: "../fonts/#{$font-name}/#{$font-name}";
@include ff-mixin($font-name, $font-folder , 900, normal);
%rBold {
  font-family: $font-name, sans-serif;
};
// body {
// @extend %italic;
// @extend %bold;
// }