//--------------------- mixins--------------------------
// mixin Respond-to
@mixin respond-to($media) {
    //>1921px
    @if $media==more_full {
        @media only screen and (min-width: #{$screen-full + 1px}) {
            @content;
        }
    } //1401px - 1920px
    @else if $media==full {
        @media only screen and (min-width: #{$screen-xl + 1px}) and (max-width: #{$screen-full}) {
            @content;
        }
    } //<1400px
    @else if $media==xl {
        @media only screen and (max-width: #{$screen-xl}) {
            @content;
        }
    } //<1100px
    @else if $media==pc {
        @media only screen and (max-width: #{$screen-lg}) {
            @content;
        }
    } //<990px
    @else if $media==laptop {
        @media only screen and (max-width: #{$screen-md}) {
            @content;
        }
    } //<800px
    @else if $media==tablet {
        @media only screen and (max-width: #{$screen-sm}) {
            @content;
        }
    } //<480px
    @else if $media==phone {
        @media only screen and (max-width: #{$screen-xs}) {
            @content;
        }
    } //<320px
    @else if $media==mobile {
        @media only screen and (max-width: #{$screen-c}) {
            @content;
        }
    } // for retina display
    @else if $media==retina {
        @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
            @content;
        }
    }
}

// @include respond-to(fon) { border: none; }
// Создаем mixin для центрирования
@mixin center($horizontal: true, $vertical: true) {
    position: absolute;
    @if ($horizontal and $vertical) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @else if ($horizontal) {
        left: 50%;
        transform: translate(-50%, 0);
    }
    @else if ($vertical) {
        top: 50%;
        transform: translate(0, -50%);
    }
}

// @include center(true, true);
//mixin calculateRem
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin fs($size) {
    @if ($size > 16) {
        font-size: $size;
        font-size: calculateRem($size);
    }
    @else if {
        font-size: $size;
    }
}

// p { @include fs(36px);}
//mixin calculateRemLh
@function calculateRemLh($sizeLh) {
    $remSizeLh: $sizeLh / 16px;
    @return $remSizeLh * 1rem;
}

@mixin lh($sizeLh) {
    line-height: $sizeLh;
    line-height: calculateRemLh($sizeLh);
}

// p { @include lh(36px);}
//mixin calculate em --- px
$browser-context: 16;
@function em($pixels, $context: $browser-context) {
    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
    }
    @if (unitless($context)) {
        $context: $context * 1px;
    }
    @return $pixels / $context * 1em;
}

//h1 { font-size: em(32); }
//mixin size
@mixin siz($width: 100px, $height: $width) {
    width: $width;
    height: $height;
}

// p { @include siz(36px);}
//mix  width block px to %
@mixin w($width-block: 100, $width-container: 1000) {
    width: $width-block / $width-container * 100%;
}

// body {
//     @include w(100, 1000);
// }
//Отзывчивое соотношение
@mixin responsive-ratio($x, $y, $pseudo: false) {
    $padding: unquote( ( $y / $x) * 100 + '%');
    @if $pseudo {
        &:before {
            @include pseudo($pos: relative);
            width: 100%;
            padding-top: $padding;
        }
    }
    @else {
        padding-top: $padding;
    }
}

//div {@include responsive-ratio(16,9);}
@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}

@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }

    @include optional-at-root(':-moz-placeholder') {
        @content;
    }

    @include optional-at-root('::-moz-placeholder') {
        @content;
    }

    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}

// .foo {
//   @include placeholder {
//     color: green;
//   }
// }
// @include placeholder {
//   color: red;
// }
// z-index mixin
@function z($name) {
    @if index($z-indexes, $name) {
        @return (length($z-indexes) - index($z-indexes, $name))+1;
    }
    @else {
        @warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
        @return null;
    }
}

$z-indexes: ( "outdated-browser",
"modal",
"site-header",
"page-wrapper",
"site-footer");
// .site-header {
//   z-index: z('site-header');
// }
// Scss Mixin для вертикального списка
@mixin ritm($valueTop, $valueBottom:$valueTop) {

    @if $valueTop !=0 {
        &:not(:first-child) {
            margin-top: $valueTop;
        }
    }

    @if $valueBottom !=0 {
        &:not(:last-child) {
            margin-bottom: $valueBottom;
        }
    }
}

//  $v: 30px;
// .block p {@include ritm(1*$v, 1.5*$v}