// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$biceps-name: 'biceps';
$biceps-x: 35px;
$biceps-y: 37px;
$biceps-offset-x: -35px;
$biceps-offset-y: -37px;
$biceps-width: 30px;
$biceps-height: 27px;
$biceps-total-width: 143px;
$biceps-total-height: 132px;
$biceps-image: '../img/sprite/sprite.png';
$biceps: (35px, 37px, -35px, -37px, 30px, 27px, 143px, 132px, '../img/sprite/sprite.png', 'biceps', );
$building-name: 'building';
$building-x: 81px;
$building-y: 70px;
$building-offset-x: -81px;
$building-offset-y: -70px;
$building-width: 13px;
$building-height: 15px;
$building-total-width: 143px;
$building-total-height: 132px;
$building-image: '../img/sprite/sprite.png';
$building: (81px, 70px, -81px, -70px, 13px, 15px, 143px, 132px, '../img/sprite/sprite.png', 'building', );
$burger-black-name: 'burger-black';
$burger-black-x: 31px;
$burger-black-y: 70px;
$burger-black-offset-x: -31px;
$burger-black-offset-y: -70px;
$burger-black-width: 20px;
$burger-black-height: 15px;
$burger-black-total-width: 143px;
$burger-black-total-height: 132px;
$burger-black-image: '../img/sprite/sprite.png';
$burger-black: (31px, 70px, -31px, -70px, 20px, 15px, 143px, 132px, '../img/sprite/sprite.png', 'burger-black', );
$burger-white-name: 'burger-white';
$burger-white-x: 56px;
$burger-white-y: 70px;
$burger-white-offset-x: -56px;
$burger-white-offset-y: -70px;
$burger-white-width: 20px;
$burger-white-height: 15px;
$burger-white-total-width: 143px;
$burger-white-total-height: 132px;
$burger-white-image: '../img/sprite/sprite.png';
$burger-white: (56px, 70px, -56px, -70px, 20px, 15px, 143px, 132px, '../img/sprite/sprite.png', 'burger-white', );
$calendar-name: 'calendar';
$calendar-x: 105px;
$calendar-y: 58px;
$calendar-offset-x: -105px;
$calendar-offset-y: -58px;
$calendar-width: 15px;
$calendar-height: 15px;
$calendar-total-width: 143px;
$calendar-total-height: 132px;
$calendar-image: '../img/sprite/sprite.png';
$calendar: (105px, 58px, -105px, -58px, 15px, 15px, 143px, 132px, '../img/sprite/sprite.png', 'calendar', );
$close-name: 'close';
$close-x: 105px;
$close-y: 78px;
$close-offset-x: -105px;
$close-offset-y: -78px;
$close-width: 14px;
$close-height: 14px;
$close-total-width: 143px;
$close-total-height: 132px;
$close-image: '../img/sprite/sprite.png';
$close: (105px, 78px, -105px, -78px, 14px, 14px, 143px, 132px, '../img/sprite/sprite.png', 'close', );
$error-name: 'error';
$error-x: 129px;
$error-y: 0px;
$error-offset-x: -129px;
$error-offset-y: 0px;
$error-width: 14px;
$error-height: 13px;
$error-total-width: 143px;
$error-total-height: 132px;
$error-image: '../img/sprite/sprite.png';
$error: (129px, 0px, -129px, 0px, 14px, 13px, 143px, 132px, '../img/sprite/sprite.png', 'error', );
$figure-name: 'figure';
$figure-x: 0px;
$figure-y: 37px;
$figure-offset-x: 0px;
$figure-offset-y: -37px;
$figure-width: 30px;
$figure-height: 28px;
$figure-total-width: 143px;
$figure-total-height: 132px;
$figure-image: '../img/sprite/sprite.png';
$figure: (0px, 37px, 0px, -37px, 30px, 28px, 143px, 132px, '../img/sprite/sprite.png', 'figure', );
$location-name: 'location';
$location-x: 129px;
$location-y: 89px;
$location-offset-x: -129px;
$location-offset-y: -89px;
$location-width: 10px;
$location-height: 13px;
$location-total-width: 143px;
$location-total-height: 132px;
$location-image: '../img/sprite/sprite.png';
$location: (129px, 89px, -129px, -89px, 10px, 13px, 143px, 132px, '../img/sprite/sprite.png', 'location', );
$lock-name: 'lock';
$lock-x: 129px;
$lock-y: 72px;
$lock-offset-x: -129px;
$lock-offset-y: -72px;
$lock-width: 11px;
$lock-height: 12px;
$lock-total-width: 143px;
$lock-total-height: 132px;
$lock-image: '../img/sprite/sprite.png';
$lock: (129px, 72px, -129px, -72px, 11px, 12px, 143px, 132px, '../img/sprite/sprite.png', 'lock', );
$mail-name: 'mail';
$mail-x: 0px;
$mail-y: 101px;
$mail-offset-x: 0px;
$mail-offset-y: -101px;
$mail-width: 16px;
$mail-height: 12px;
$mail-total-width: 143px;
$mail-total-height: 132px;
$mail-image: '../img/sprite/sprite.png';
$mail: (0px, 101px, 0px, -101px, 16px, 12px, 143px, 132px, '../img/sprite/sprite.png', 'mail', );
$map-name: 'map';
$map-x: 105px;
$map-y: 38px;
$map-offset-x: -105px;
$map-offset-y: -38px;
$map-width: 15px;
$map-height: 15px;
$map-total-width: 143px;
$map-total-height: 132px;
$map-image: '../img/sprite/sprite.png';
$map: (105px, 38px, -105px, -38px, 15px, 15px, 143px, 132px, '../img/sprite/sprite.png', 'map', );
$open-gl-name: 'open-gl';
$open-gl-x: 76px;
$open-gl-y: 35px;
$open-gl-offset-x: -76px;
$open-gl-offset-y: -35px;
$open-gl-width: 22px;
$open-gl-height: 22px;
$open-gl-total-width: 143px;
$open-gl-total-height: 132px;
$open-gl-image: '../img/sprite/sprite.png';
$open-gl: (76px, 35px, -76px, -35px, 22px, 22px, 143px, 132px, '../img/sprite/sprite.png', 'open-gl', );
$pens-name: 'pens';
$pens-x: 129px;
$pens-y: 36px;
$pens-offset-x: -129px;
$pens-offset-y: -36px;
$pens-width: 14px;
$pens-height: 13px;
$pens-total-width: 143px;
$pens-total-height: 132px;
$pens-image: '../img/sprite/sprite.png';
$pens: (129px, 36px, -129px, -36px, 14px, 13px, 143px, 132px, '../img/sprite/sprite.png', 'pens', );
$phone-name: 'phone';
$phone-x: 0px;
$phone-y: 118px;
$phone-offset-x: 0px;
$phone-offset-y: -118px;
$phone-width: 9px;
$phone-height: 14px;
$phone-total-width: 143px;
$phone-total-height: 132px;
$phone-image: '../img/sprite/sprite.png';
$phone: (0px, 118px, 0px, -118px, 9px, 14px, 143px, 132px, '../img/sprite/sprite.png', 'phone', );
$size-guide-boys-name: 'size_guide_boys';
$size-guide-boys-x: 0px;
$size-guide-boys-y: 70px;
$size-guide-boys-offset-x: 0px;
$size-guide-boys-offset-y: -70px;
$size-guide-boys-width: 26px;
$size-guide-boys-height: 26px;
$size-guide-boys-total-width: 143px;
$size-guide-boys-total-height: 132px;
$size-guide-boys-image: '../img/sprite/sprite.png';
$size-guide-boys: (0px, 70px, 0px, -70px, 26px, 26px, 143px, 132px, '../img/sprite/sprite.png', 'size_guide_boys', );
$skype-name: 'skype';
$skype-x: 129px;
$skype-y: 18px;
$skype-offset-x: -129px;
$skype-offset-y: -18px;
$skype-width: 14px;
$skype-height: 13px;
$skype-total-width: 143px;
$skype-total-height: 132px;
$skype-image: '../img/sprite/sprite.png';
$skype: (129px, 18px, -129px, -18px, 14px, 13px, 143px, 132px, '../img/sprite/sprite.png', 'skype', );
$strips-name: 'strips';
$strips-x: 41px;
$strips-y: 0px;
$strips-offset-x: -41px;
$strips-offset-y: 0px;
$strips-width: 30px;
$strips-height: 31px;
$strips-total-width: 143px;
$strips-total-height: 132px;
$strips-image: '../img/sprite/sprite.png';
$strips: (41px, 0px, -41px, 0px, 30px, 31px, 143px, 132px, '../img/sprite/sprite.png', 'strips', );
$tee-shirt-name: 'tee-shirt';
$tee-shirt-x: 0px;
$tee-shirt-y: 0px;
$tee-shirt-offset-x: 0px;
$tee-shirt-offset-y: 0px;
$tee-shirt-width: 36px;
$tee-shirt-height: 32px;
$tee-shirt-total-width: 143px;
$tee-shirt-total-height: 132px;
$tee-shirt-image: '../img/sprite/sprite.png';
$tee-shirt: (0px, 0px, 0px, 0px, 36px, 32px, 143px, 132px, '../img/sprite/sprite.png', 'tee-shirt', );
$thermometer-name: 'thermometer';
$thermometer-x: 105px;
$thermometer-y: 0px;
$thermometer-offset-x: -105px;
$thermometer-offset-y: 0px;
$thermometer-width: 19px;
$thermometer-height: 33px;
$thermometer-total-width: 143px;
$thermometer-total-height: 132px;
$thermometer-image: '../img/sprite/sprite.png';
$thermometer: (105px, 0px, -105px, 0px, 19px, 33px, 143px, 132px, '../img/sprite/sprite.png', 'thermometer', );
$user-name: 'user';
$user-x: 129px;
$user-y: 54px;
$user-offset-x: -129px;
$user-offset-y: -54px;
$user-width: 13px;
$user-height: 13px;
$user-total-width: 143px;
$user-total-height: 132px;
$user-image: '../img/sprite/sprite.png';
$user: (129px, 54px, -129px, -54px, 13px, 13px, 143px, 132px, '../img/sprite/sprite.png', 'user', );
$wool-name: 'wool';
$wool-x: 76px;
$wool-y: 0px;
$wool-offset-x: -76px;
$wool-offset-y: 0px;
$wool-width: 24px;
$wool-height: 30px;
$wool-total-width: 143px;
$wool-total-height: 132px;
$wool-image: '../img/sprite/sprite.png';
$wool: (76px, 0px, -76px, 0px, 24px, 30px, 143px, 132px, '../img/sprite/sprite.png', 'wool', );
$spritesheet-width: 143px;
$spritesheet-height: 132px;
$spritesheet-image: '../img/sprite/sprite.png';
$spritesheet-sprites: ($biceps, $building, $burger-black, $burger-white, $calendar, $close, $error, $figure, $location, $lock, $mail, $map, $open-gl, $pens, $phone, $size-guide-boys, $skype, $strips, $tee-shirt, $thermometer, $user, $wool, );
$spritesheet: (143px, 132px, '../img/sprite/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
