//variable typograhy
//color
$color_html: #6a6a6a;
$color_blockquote: #6a6a6a;
$color_p: #6a6a6a;
$color_strong: #6a6a6a;
$color_i: #6a6a6a;
$color_a: $color-brand;
$color_li: #6a6a6a;
$color_li-marker: $color-brand;
$color_i: #6a6a6a;
$color_table-td: #a2a2a2;
$color_table-th: #a2a2a2;
$color_h: #000;
//background
$background_blockquote: #f3f3f3;
//font-size
$html_font: 100%;

//other
$list-style-marker: icon-ok-circled2;
//-------------------- #base
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    min-width: 250px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
    min-width: 250px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
//-------------------- #html font-size
html {
    // @extend %regular;
    font-size: $html_font;
    color: $color_html;
    line-height: normal;
    overflow-x: hidden;
    word-wrap: break-word;
    @include respond-to(more_full) {
        font-size: $html_font + 10%;
    }
    @include respond-to(full) {
        font-size: $html_font + 5%;
    }
    @include respond-to(xl) {
        font-size: $html_font;
    }
    @include respond-to(pc) {
        font-size: $html_font;
    }
    @include respond-to(laptop) {
        font-size: $html_font - 10%;
    }
    @include respond-to(tablet) {
        font-size: $html_font - 15%;
    }
    @include respond-to(phone) {
        font-size: $html_font - 20%;
    }
    @include respond-to(mobile) {
        font-size: $html_font - 20%;
    }
}

//---------------- #h style h1-h6 for sub-page & main-page
h1, .title1 {
    text-align: center;
    text-transform: uppercase;
    margin: 35px 0;
    color: $color_h
}
h2, .title2 {
    text-align: center;
    text-transform: uppercase;
    margin: 35px 0;
    color: $color_h
}
h3, .title3 {
    text-align: center;
    text-transform: uppercase;
    margin: 35px 0;
    color: $color_h
}
h4, .title4 {
    text-align: center;
    text-transform: uppercase;
    margin: 35px 0;
    color: $color_h
}
h5, .title5 {
    text-align: center;
    text-transform: uppercase;
    margin: 35px 0;
    color: $color_h
}
h6, .title6 {
    text-align: center;
    text-transform: uppercase;
    margin: 35px 0;
    color: $color_h
}

//------------------- #blockquote
blockquote {
    color: $color_blockquote;
    font-size: 16px;
    background: $background_blockquote;
    margin: 25px 0;
    border-left: 5px solid #eec315;
    padding: 25px 60px 25px 60px;
}
//------------------- #p
p {
    // @extend %Regular;
    color: $color_p;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
}

//------------------- #strong
b,
strong {
    // @extend %bold;
    font-size: 16px;
    line-height: 24px;
    color: $color_strong;
}
//------------------- #i
i {
    // @extend %italic;
    font-size: 16px;
    line-height: 24px;
    color: $color_i;
}

//------------------- #a
a {
    color: $color_a;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    transition: all .4s cubic-bezier(.25, .46, .45, .94);
    &:focus {
        outline: none;
    }
    &:hover {
        text-decoration: underline;
    }
    .current-menu-item & {
        text-decoration: underline;
    }
}

//------------------- style #input #textarea
// убирает иконку в поле типа поиска
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

// плавное изменение прозрачности  placeholder-а при фокусе для textarea и input
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

textarea::-moz-placeholder,
input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

textarea:-moz-placeholder,
input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

textarea:focus::-webkit-input-placeholder,
input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

textarea:focus::-moz-placeholder,
input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

textarea:focus:-moz-placeholder,
input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

textarea:focus:-ms-input-placeholder,
input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

//-------------------------- если placeholder не вмещается
input[placeholder] {
    text-overflow: ellipsis;
}

input::-moz-placeholder {
    text-overflow: ellipsis;
}

input:-moz-placeholder {
    text-overflow: ellipsis;
}

input:-ms-input-placeholder {
    text-overflow: ellipsis;
}

input[type=email],
input[type=text],
textarea {
    max-width: 100%;
}

//----------------------------- style #ol #ul #li
ul,
ol {
    list-style: none;
}

ol:not([class]),
ul:not([class]),
.list-style {
    padding-left: 23px;
    counter-reset: li;
    @include respond-to(wide_handhelds) {
        padding-left: 15px;
    }
    @include respond-to(handhelds) {
        padding-left: 5px;
    }
    @include respond-to(fon) {
        padding-left: 0px;
    }
    & li {
        font-size: 16px;
        color: $color_li;
        margin-bottom: 22px;
        position: relative;
        overflow: hidden;
        padding-left: 32px;
        @include respond-to(wide_handhelds) {
            padding-left: 25px;
        }
        @include respond-to(handhelds) {
            padding-left: 20px;
            margin-bottom: 15px;
        }
        @include respond-to(fon) {
            padding-left: 15px;
            margin-bottom: 10px;
        }
        &:before {
            @extend .#{$list-style-marker};
            @extend [class^="icon-"];
            color: $color_li-marker;
            position: absolute;
            top: 2px;
            left: -3px;
            font-size: 14px;
        }
    }
}

ol:not([class]) li:before,
ol.list-style li:before {
    content: counter(li) '.';
    counter-increment: li;
}
//---------------------- #list style off
.list_off {
    ol,
    ul {
        padding-left: 0;
        & li {
            padding-left: 0px;
            &:before {
                color: transparent;
                visibility: hidden;
            }
        }
    }
}
//---------------------- #table
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 15px;
    // tr:nth-of-type(2n+3) {
    //     background-color: rgba(245, 244, 240, 0.5);
    // }
    // tr:last-child {
    //     border-bottom: 1px solid #1e2a32;
    // }
}

table td {
    padding: 20px 25px;
    color: $color_table-td;
    font-size: 16px;
    border-bottom: 1px dotted #a2a2a2;
    // @extend %regular;
    & + td {
        text-align: center;
    }
    @include respond-to(wide_handhelds) {
        padding: 15px;
    }
    @include respond-to(handhelds) {
        padding: 5px;
    }
    @include respond-to(fon) {
        padding: 2px;
    }
}

table th {
    // @extend %bold;
    @include fs(14px);
    padding: 20px 25px;
    color: $color_table-th;
    text-align: left;
    border-bottom: 1px solid #313232;
    & + th {
        text-align: center;
    }
    @include respond-to(wide_handhelds) {
        padding: 15px;
    }
    @include respond-to(handhelds) {
        padding: 5px;
    }
    @include respond-to(fon) {
        padding: 2px;
    }
}

//--------------------focus none
select:focus,
input:focus,
button:focus {
    outline: 0;
    outline-style: none;
    outline-width: 0px !important;
    outline-color: none !important;
}

//--------------------outline none
* {
    outline: none;
}