// #hover by active menu
body .current-menu-item a,
body .current-post-ancestor a {
	// text-decoration: underline;
}
// #form
span.wpcf7-not-valid-tip,
.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok,
.wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors {
	display: none !important;
}

.wpcf7-not-valid {
    border-color: #983350 !important;
}

form .wpcf7-validation-errors {
    display: none !important;
}

.alignleft {
    float: left;
    margin: 0 30px 15px 0;
}

.alignright {
    float: right;
    margin: 0 0px 15px 30px;
}
@include respond-to(wide_handhelds) {
    .alignleft,
    .alignright {
        margin: 0 auto 15px;
        display: block;
        float: none;
    }
}
.aligncenter {
    display: block;
    margin: 0 auto;
}

.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.left {
    float: left;
}
.right {
    float: right;
}
.hidden {
    display: none;
}
.overflow {
    overflow: hidden;
}