// #scrollup & #scrollDown
#scrollup {
    position: fixed;
    opacity: 0.5;
    background: #aaa;
    top: 40%;
    top: calc(50% - 45px);
    right: 15px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    z-index: 999;
    text-align: center;
    line-height: 30px;
    transition: all ease 0.3s;
    &:hover {
        border-radius: 50%;
        opacity: 1;
    }
    i {
        color: #000;
    }
}

#scrollDown {
    position: fixed;
    opacity: 0.5;
    background: #aaa;
    bottom: 40%;
    bottom: calc(50% - 45px);
    right: 15px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    z-index: 999;
    text-align: center;
    line-height: 30px;
    transition: all ease 0.3s;
    &:hover {
        border-radius: 50%;
        opacity: 1;
    }
    i {
        color: #000;
    }
}