.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-star {
    width: 13px;
    height: 12px;
    background-position: -2px -2px;
}

.sprite-star-active {
    width: 13px;
    height: 12px;
    background-position: -2px -18px;
}
