.cat-nav
	padding: 40px 0
	&_item
		position: relative
		background: #151c20
		display: block
		margin: 20px 0
		img
			display: block
			transition: all .5s ease
			opacity: .6
		&:hover
			img
				opacity: 1
	&_title
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		color: $color-base
		@extend .flex-col
		@extend .flex-items-middle
		@extend .flex-items-center
//----------------media
@include breakpoint(desktop)     //---max-width 1200
	/**/
@include breakpoint(laptop)      //---max-width 992
	.cat-nav
		padding: 0
@include breakpoint(tablet)      //---max-width 768
	/**/
@include breakpoint(phone)       //---max-width 480
	/**/
@include breakpoint(mobileonly)  //---max-width 320
	/**/