.product-wrp
	position: relative
	margin: 35px 0
.prod-cat
	&_block
		display: block
	&_img
		img
			display: block
			margin: 0 auto
			max-height: 254px
	&_cnt
		text-align: center
		justify-content: space-between
		flex-direction: column
		display: flex
		margin-top: 20px
		min-height: 86px
		.heading4
			display: block
			text-transform: none
			color: $color-default
			@extend %rRegular
			margin: 5px 0
	&_name
		display: block
		font-size: 13px
		@extend %rLight
		color: $color-light2
	&_sizes
		position: absolute
		top: 0
		right: 0
		@extend %bold
		font-size: 11px
		color: $color-light2
		text-align: center
		text-transform: uppercase
		span
			border: 1px solid $color-border
			display: block
			width: 30px
			padding: 1px 0
			margin-bottom: 6px
			background: $color-base
.join-prod-data
	justify-content: space-between
	flex-direction: column
	display: flex
	min-height: 58px
.price
	display: block
	padding-top: 10px
	ins
		color: $color-default
		font-size: 18px
		@extend %rBold
		text-decoration: none
	del
		color: $color-light2
		font-size: 15px
		margin-right: 10px
.onsale,
.sale,
.new
	position: absolute
	top: 0
	left: 0
	background: $color-danger
	color: $color-base
	@extend %regular
	text-align: center
	text-transform: uppercase
	text-align: center
.new,
.sale
	font-size: 12px
.onsale
	font-size: 15px
.new
	padding: 5px 21px
.sale,
.onsale
	border-radius: 50%
	height: 48px
	width: 48px
	line-height: 48px
.tabs
	&_nav
		justify-content: center
		flex-direction: row
		display: flex
		a
			color: $color-default
			padding: 10px 0
			margin: 0 20px
			display: block
			border-bottom: 2px solid transparent
		.ui-tabs-active
			a
				color: $color-hover
				border-color: $color-hover
	&-cat_nav
		justify-content: center
		flex-direction: row
		display: flex
		a
			display: block
			position: relative
			padding: 23px 20px
			color: $color-default
			&:before
				content: ''
				position: absolute
				height: 16px
				width: 1px
				top: 50%
				margin: -8px 0
				background: $color-border
				right: 0
		li
			@extend %light
			&:last-child
				a
					&:before
						display: none
			&.ui-tabs-active
				@extend %bold
.order_block
	.prod-cat_cnt
		min-height: inherit
	.wpcf7-form
		display: block
		margin-top: 22px
.equal-height
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	min-height: 254px
.ui-slider-horizontal
	width: 100%
	height: 5px
	background: #e6e6e6
	position: relative
	max-width: 198px
	margin: 0 auto
	.ui-slider-range
		height: 100%
		top: 0
.ui-slider-range.ui-widget-header
	background: $color-accent
.ui-slider 
	.ui-slider-range
	.ui-slider-range,
	.ui-slider-handle
		position: absolute
		border: none
		z-index: 0
		cursor: pointer
	.ui-slider-handle
		width: 10px
		height: 6px
		top: 100%
		background: $color-accent
		margin: 7px 0 0 -5px
		&:before
			content: ''
			position: absolute
			bottom: 6px
			border: 5px solid transparent
			border-bottom: 5px solid $color-accent
.filtr-product-categories
	display: none
	padding: 10px 0
.xoo-cp-adding
	&:after
		display: none!important
.price_slider_amount
	display: flex
	justify-content: space-between
	align-items: center
	margin: 25px 0
	.from,
	.to
		width: 100%
		max-width: 78px
		border: 1px solid $color-border
		padding: 2px 3px
.text-pr
	@extend %bold
	display: block
	font-size: 12px


//----------------media
@include breakpoint(desktop)     //---max-width 1200
	/**/
@include breakpoint(laptop)      //---max-width 992
	.new
		padding: 5px 10px
	.sale, 
	.onsale
		width: 38px
		height: 38px
		line-height: 38px
	.product-wrp
		margin: 15px 0
@include breakpoint(tablet)      //---max-width 768
	.tabs-cat
		&_nav 
			justify-content: space-around
			a
				padding: 15px 0
				&:before
					display: none
		.join-prod-data,
		.prod-cat_cnt 
			height: auto!important
		.js-mob-slider
			padding: 0 30px
			.slider-arrow
				color: #b5b5b5
			.slide-next
				right: 0
			.slide-prev
				left: 0
@include breakpoint(phone)       //---max-width 480
	.tabs-cat
		&_nav 
			font-size: 14px
	.prod-cat
		&_cnt
			min-height: inherit
@include breakpoint(mobileonly)  //---max-width 320
	/**/