.aside-fix
	position: relative
	&_content
		position: absolute
		bottom: 0
		top: 0
		left: 0
		right: 0
		color: $color-base
		text-transform: uppercase
		font-size: 20px
		@extend .flex-row
		@extend .flex-items-middle
		@extend %bold
		padding: 30px
		p
			width: 50%
	&_btn
		position: absolute
		bottom: 0
		left: 0
		right: 0
		padding: 0 18px 30px
	img
		display: block
.s-ban
	position: relative
	img
		display: block
		width: 100%
	&_container
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		@extend .flex-row
		@extend .flex-items-middle
	&_content
		color: $color-base
		margin-left: 115px
		max-width: 328px
		.btn
			margin-top: 30px
		p
			color: rgba($color-base, .5)
			margin-top: 0
			&.heading2
				color: $color-base
				margin-bottom: 28px
.s-ban-fix
	display: none
//----------------media
@include breakpoint(desktop)     //---max-width 1200
	/**/
@include breakpoint(laptop)      //---max-width 992
	.s-ban,
	.aside-fix
		display: flex
		justify-content: flex-end
		background: #000
		&_content
			margin: 0
			p
				&.heading2
					margin-bottom: 5px
			.btn
				margin-top: 5px
		img
			width: inherit
			max-width: none
@include breakpoint(tablet)      //---max-width 768
	/**/
@include breakpoint(phone)       //---max-width 480
	.s-ban
		display: none
	.s-ban-fix
		display: block
	.aside-fix
		background: #000
		img
			margin: 0 0 0 auto
@include breakpoint(mobileonly)  //---max-width 320
	/**/