.b-block
	margin-bottom: 30px
	&_content
		display: flex
		flex-direction: column
		justify-content: space-between
		a
			color: $color-default
			&:hover
				color: $color-hover
				text-decoration: underline
		.heading5,
		.heading2
			margin: 0
	&_img
		display: block
		margin-bottom: 25px
		img
			display: block
			margin: 0 auto
			width: 100%
	&_data
		font-size: 13px
		color: #919191
		display: block
		margin: 5px 0
	&-big
		.b-block
			&_content
				overflow: hidden
				padding: 15px 35px 15px 0
			&_data
				margin: 10px 0
			&_img
				margin-bottom: 0
	&_slider
		.slide-prev
			left: 0
		.slide-next
			right: 0
		.slider-arrow
			color: $color-emphasis
			&:hover
				color: $color-hover
.s-bottom
	margin-top: 60px
	position: relative
	background: $color-base
.pagenavi-wrapp
	margin: 19px 0 0
.wp-pagenavi
	border-top: 1px solid $color-border
	position: relative
	text-align: center
	padding: 31px 85px
	.previouspostslink,
	.nextpostslink
		position: absolute
		color: #c6c6c6
		font-size: 13px
		text-transform: uppercase
		margin: 3px 0
		&:before,
		&:after
			display: inline-block
			font-family: 'fontello'
	.previouspostslink
		left: 0
		&:before
			content: '\f177'
			margin-right: 20px
		&:hover
			color: $color-hover

	.nextpostslink
		right: 0
		&:after
			content: '\f178'
			margin-left: 20px
		&:hover
			color: $color-hover
	.page
		color: $color-default
		padding: 10px
	a
		text-decoration: none
		font-size: 13px
		@extend %hoverLink
		&:hover
			color: $color-hover
	.current
		color: $color-default
		@extend %bold
		font-size: 18px
		padding: 10px
		

//----------------media
@include breakpoint(desktop)     //---max-width 1200
	.s-bottom
		margin-top: 15px
	.wp-pagenavi
		padding: 15px 20px
@include breakpoint(laptop)      //---max-width 992
	.b-block
		&-big 
			.b-block
				&_content
					padding: 15px
		&_img
			margin-bottom: 15px
@include breakpoint(tablet)      //---max-width 768
	.b-block
		margin-bottom: 15px
		&_slider
			.b-block
				&_content
					height: auto !important
	.pagenavi-wrapp
		margin: 0
	.wp-pagenavi
		padding: 10px 20px
	.watched-block
		margin: 0
	.wp-pagenavi 
		.current
			&:before
				display: none
		.previouspostslink,
		.nextpostslink
			font-size: 0
			&:before,
			&:after
				font-size: 14px
@include breakpoint(phone)       //---max-width 480
	/**/
@include breakpoint(mobileonly)  //---max-width 320
	/**/