.c-brand
	&_item
		display: block
		position: relative
		border: 1px solid transparent
		border-top-width: 2px
		transition: all .5s ease
		img
			display: block
			margin: 0 auto
		&:hover
			border-color: $color-border
			border-top-color: $color-default

//----------------media
@include breakpoint(desktop)     //---max-width 1200
	/**/
@include breakpoint(laptop)      //---max-width 992
	/**/
@include breakpoint(tablet)      //---max-width 768
	/**/
@include breakpoint(phone)       //---max-width 480
	.col-c-6
		float: left
		width: 50%
@include breakpoint(mobileonly)  //---max-width 320
	/**/
