.breadcrumbs
	border-bottom: 1px solid $color-border 
	&_wrapp
		padding: 14px 30px
		font-size: 14px
		a
			color: $color-emphasis
			position: relative
			padding: 0 18px 0 2px
			&:before
				@extend [class^="icon-"]
				@extend .icon-right-dir
				position: absolute
				right: 0
				font-size: 12px
				top: 50%
				margin: -6px 0
			&:hover
				text-decoration: underline
		span
			color: $color-emphasis
//----------------media
@include breakpoint(desktop)     //---max-width 1200
	/**/
@include breakpoint(laptop)      //---max-width 992
	/**/
@include breakpoint(tablet)      //---max-width 768
	/**/
@include breakpoint(phone)       //---max-width 480
	.breadcrumbs_wrapp
		padding: 10px 15px
		font-size: 12px
@include breakpoint(mobileonly)  //---max-width 320
	/**/