#map
	width: 100%
	height: 380px
	border: 1px solid $color-border
.p-contact
	position: relative
	padding: 0 0 0 45px
	color: $color-default
	margin: 0 0 40px
	.icon
		position: absolute
		left: 0
		font-size: 18px
		color: $color-default
	a
		display: block
		text-decoration: none
	&_mail
		a
			color: $color-accent
			@extend %rRegular
	&_phone
		a
			color: $color-default

//----------------media
@include breakpoint(desktop)     //---max-width 1200
	/**/
@include breakpoint(laptop)      //---max-width 992
	.p-contact
		margin: 0 0 15px
@include breakpoint(tablet)      //---max-width 768
	/**/
@include breakpoint(phone)       //---max-width 480
	/**/
@include breakpoint(mobileonly)  //---max-width 320
	/**/