.m-footer
	color: rgba($color-base, .5)
	font-size: 15px
	a
		display: block
		transition: all .5s ease
	&_top
		position: relative
		background: $color-default
		padding: 63px 0
		.heading4
			color: $color-base
			@extend %regular
	&_cat
		a
			color: rgba($color-base, .5)
			&:hover
				color: $color-base
				text-decoration: underline
		&-ul
			margin-bottom: 25px
	&_cnt
		p a
			color: rgba($color-base, .5)
		a
			color: $color-base
			&:hover
				color: $color-hover
				text-decoration: underline
		li
			position: relative
			padding: 0 0 0 40px
			margin-bottom: 25px
			.icon
				position: absolute
				color: $color-base
				left: 0

	&_bottom
		background: #020202
		text-align: center
		padding: 18px 0
	&_block
		@extend .flex-col
		@extend .flex-items-between
		height: 100%
.soc-icons
	@extend .flex-row
	@extend .flex-items-middle
	//@extend .flex-items-between
	a
		color: $color-base
		font-size: 19px
		display: block
		padding: 0 10px
		&:hover
			color: $color-hover
	li:first-child
		a
			padding-left: 0
.pay-methods
	font-size: 40px
.icon-click
	position: absolute
	padding: 16px 29px
	left: 0
	display: none
	bottom: 100%
	margin-bottom: 15px
	border-right: 1px solid rgba($color-base, .5)
.is-open
	.icon-click
		@extend .s-icon_burger
		background: $color-base
//----------------media
@include breakpoint(desktop)     //---max-width 1200
	/**/
@include breakpoint(laptop)      //---max-width 992
	.m-footer
		&_top
			padding: 25px 0
		&_cat-ul
			margin: 0
@include breakpoint(tablet)      //---max-width 768
	.m-footer
		&_top
			padding: 0
		&_block
			margin: 0 -15px 15px
			border-bottom: 1px solid rgba($color-base, .5)
		&_panel
			display: none
		.col-md-4
			height: auto !important
		.icon-click
			display: block
		&_logo,
		&_text
			display: none !important
	.pay-methods
		display: none !important
	.soc-icons
		padding: 8px 15px 8px 98px
		justify-content: space-around
@include breakpoint(phone)       //---max-width 480
	.m-footer
		&_panel
			.col-xs-6 
				width: 50%
				float: left
@include breakpoint(mobileonly)  //---max-width 320
	/**/

