//---------------------------------------var
//--------------------------------default
$form_h-textarea:              200px
$form_indent-bottom:           24px

//--------------------------------default input
$form_border-size:             1px
$form_h-input:                 47px
$form_color-input:             $color-default
$form_border-color:            $color-border
$form_input-padding:           15px
$form_input-focus:             $color-hover
$form_input-not-valid:         #d57517


//--------------------------------popup
$form_popup-bg:                $color-base
$form_popup-title-color:       $color-default
$form_popup-text-color:        $color-default
$form_popup-h-textarea:        $form_h-textarea

//--------------------------------popup button
$form_popup-btn-color:         $color-base
$form_popup-btn-br-size:       1px
$form_popup-btn-br-color:      #d57517
$form_popup-btn-bg:            #d57517
$form_popup-btn-radius:        5px
$form_popup-btn-pd-top:        15px
$form_popup-btn-width:         200px
$form_popup-btn-f-z:           20px
//--------------------------------popup button hover
$form_popup-btn-h-color:       $color-base
$form_popup-btn-h-br-color:    #d57517
$form_popup-btn-h-bg:          #d57517


//--------------------------------popup input
$form_popup-color-input:       $color-default
$form_popup-h-input:           $form_h-input
$form_popup-indent-bottom:     $form_indent-bottom
$form_popup-border-size:       $form_border-size
$form_popup-border-color:      $color-border
$form_popup-input-padding:     $form_input-padding
$form_popup-input-focus:       $form_input-focus
$form_popup-input-not-valid:   $form_input-not-valid

//---------------------------------------var end

//--------------------------------default input style
input[type="email"], 
input[type="number"],   
input[type="password"], 
input[type="search"],
input[type="tel"],   
input[type="text"],     
input[type="url"],      
input[type="color"],
input[type="date"],  
input[type="datetime"], 
input[type="datetime-local"],
input[type="month"], 
input[type="time"],     
input[type="week"]
	height: $form_h-input
	color: $form_color-input
	display: block
	width: 100%
	margin: 0 0 $form_indent-bottom 0
	border: $form_border-size solid $form_border-color
	padding: 0 $form_popup-input-padding
	&:focus
		border: $form_border-size solid $form_input-focus
		&::-webkit-input-placeholder
			opacity: 0
			transition: opacity 0.3s ease
	&.wpcf7-not-valid
		border: $form_border-size solid $form_input-not-valid
	&::-webkit-input-placeholder
		opacity: 1
		transition: opacity 0.3s ease
		color: rgba($form_color-input,.6)

//--------------------------------default textarea style
textarea
	height: $form_h-textarea
	padding: $form_input-padding
	color: $form_color-input
	display: block
	width: 100%
	resize: none
	margin: 0 0 $form_indent-bottom 0
	border: $form_border-size solid $form_border-color
	&:focus
		border: $form_border-size solid $form_input-focus
		&::-webkit-input-placeholder
			opacity: 0
			transition: opacity 0.3s ease
	&::-webkit-input-placeholder
		opacity: 1
		transition: opacity 0.3s ease
		color: rgba($form_color-input,.6)
	&.wpcf7-not-valid
		border: $form_border-size solid $form_input-not-valid

//--------------------------------default jq-select style
//---------------------------------------var default select
$form_select-bg:                $color-base
$form_select-border:            $color-border
$form_select-h:                 47px
$form_select-border-size:       1px
$form_select-hover:             #f1f1f1
$form_select-color:             $color-default
$form_select-color-arrow:       $color-default

select
	appearance: none
	text-indent: 0.01px
	text-overflow: ''
	background: url(../img/icons/sel.png) right center no-repeat $form_select-bg
	border: $form_select-border-size solid $form_select-border
	cursor: pointer
	width: 100%
	margin: 0 0 $form_indent-bottom 0
	@extend %bold
	padding: 10px 30px 10px $form_input-padding
	&::-ms-expand
		display: none
	&:hover,
	&:focus
		border: $form_select-border-size solid $color-hover
		background: url(../img/icons/sel-hov.png) right center no-repeat $form_select-bg

//---------------------------------------var end
.style-input
	.jq-selectbox
		margin: 0 0 $form_indent-bottom 0
		background: $form_select-bg
		width: 100%
		@extend %bold
		z-index: 11 !important
		&.opened
			ul
				border-bottom: $form_select-border-size solid $form_select-border
				li
					border-left: $form_select-border-size solid $form_select-border
					border-right: $form_select-border-size solid $form_select-border
			.jq-selectbox__select
				border: $form_select-border-size solid $form_select-border
		ul
			max-height: 544px
			background: $form_select-bg
			padding: 0
			z-index: 0
			border-bottom: $form_select-border-size solid $form_select-border
			li
				background: $form_select-bg
				width: 100%
				padding: 4px $form_input-padding
				cursor: pointer
				border-left: $form_select-border-size solid $form_select-border
				border-right: $form_select-border-size solid $form_select-border
				color: $form_select-color
				&.sel,
				&:hover
					background: $form_select-hover
		&__select
			height: $form_select-h
			line-height: $form_select-h - $form_select-border-size*2
			padding: 0 $form_input-padding + ($form_select-h - $form_select-border-size*2) 0 $form_input-padding
			border: $form_select-border-size solid $form_select-border
			background: transparent
			box-shadow: none
			position: relative
			&-text
				text-overflow: ellipsis
				white-space: nowrap
				overflow: hidden
				color: $form_select-color
				//text-transform: uppercase
		&__trigger
			z-index: 1
			border: none
			position: absolute
			cursor: pointer
			top: 0 
			bottom: 0
			right: 0
			height: $form_select-h - $form_select-border-size*2
			width: $form_select-h - $form_select-border-size*2
			&-arrow
				height: $form_select-h - $form_select-border-size*2
				width: $form_select-h - $form_select-border-size*2
				top: 0
				right: 0
				border: none
				border-left: $form_select-border-size solid $form_select-border
				&:before
					content: '\e809'
					position: absolute
					font-family: 'fontello'
					right: 18px
					top: 50%
					right: 50%
					margin: -16px -5px
					color: $form_select-color-arrow
					font-size: 22px
		&__dropdown
			//bottom: 0
			left: 0
			right: 0
			top: 100% !important
		&.opened
			.jq-selectbox__trigger
				&-arrow
					&:before
						//@include transform (rotate(180deg))
						transform: rotate(180deg)

	//--------------------------------default radio check style
	//---------------------------------------var radio check style
	$form_ch-rd-bg:                 $color-base
	$form_ch-rd-border-size:        1px
	$form_ch-rd-border-color:       $color-border
	$form_ch-rd-size:               20px
	$form_ch-rd-ch-size:            8px
	$form_ch-rd-ch-color:           $color-default
	//---------------------------------------var radio check style end
	.wpcf7-checkbox,
	.wpcf7-radio 
		.wpcf7-list-item
			// width: 50%
			// float: left
			display: block
			margin: 0 0 $form_indent-bottom
			a
				color: $color-default
	.jq-radio
		cursor: pointer
		background: $form_ch-rd-bg
		border-radius: 0
		box-shadow: none
		width: $form_ch-rd-size
		height: $form_ch-rd-size
		border: $form_ch-rd-border-size solid $form_ch-rd-border-color
		margin-right: 5px
		vertical-align: middle
		border-radius: 50%
		&.checked 
			& ~ .wpcf7-list-item-label
				@extend %bold
			.jq-radio__div
				width: auto
				height: auto
				position: relative
				background: transparent
				box-shadow: none
				margin: 0
				width: 100%
				height: 100%
				&:before
					content: ''
					position: absolute
					width: $form_ch-rd-ch-size
					height: $form_ch-rd-ch-size
					top: 50%
					left: 50%
					margin: -$form_ch-rd-ch-size / 2
					border-radius: 50%
					background: $form_ch-rd-ch-color
	.jq-radio.checked  ~ .wpcf7-list-item-label,
	.jq-checkbox.checked  ~ .wpcf7-list-item-label
		//color: #2a2a2a
	.jq-checkbox
		cursor: pointer
		background: $form_ch-rd-bg
		border-radius: 0
		box-shadow: none
		width: $form_ch-rd-size
		height: $form_ch-rd-size
		border: $form_ch-rd-border-size solid $form_ch-rd-border-color
		margin-right: 5px
		vertical-align: middle
		&.checked 
			& ~ .wpcf7-list-item-label
				@extend %bold
			.jq-checkbox__div
				width: auto
				height: auto
				position: relative
				background: transparent
				box-shadow: none
				margin: 0
				width: 100%
				height: 100%
				&:before
					content: ''
					position: absolute
					width: $form_ch-rd-ch-size
					height: $form_ch-rd-ch-size
					top: 50%
					left: 50%
					margin: -$form_ch-rd-ch-size / 2
					background: $form_ch-rd-ch-color


span.wpcf7-not-valid-tip,
.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok,
.wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors
	display: none !important


//--------------------------------default popup style
.mfp-content
	margin: 20px auto
.popup-wrp
	max-width: 755px
	margin: 0 auto
	position: relative
	padding: 50px 97px
	background: $form_popup-bg

	//--------------------popup input style
	input[type="email"], 
	input[type="number"],   
	input[type="password"], 
	input[type="search"],
	input[type="tel"],   
	input[type="text"],     
	input[type="url"],      
	input[type="color"],
	input[type="date"],  
	input[type="datetime"], 
	input[type="datetime-local"],
	input[type="month"], 
	input[type="time"],     
	input[type="week"]
		height: $form_popup-h-input
		color: $form_popup-color-input
		display: block
		width: 100%
		margin: 0 0 $form_popup-indent-bottom 0
		border: $form_popup-border-size solid $form_popup-border-color
		padding: 0 $form_popup-input-padding
		&:focus
			border: $form_popup-border-size solid $form_popup-input-focus
		&.wpcf7-not-valid
			border: $form_popup-border-size solid $form_popup-input-not-valid

	//--------------------popup textarea style
	textarea
		height: $form_popup-h-textarea
		padding: $form_popup-input-padding
		color: $form_popup-color-input
		display: block
		width: 100%
		resize: none
		margin: 0 0 $form_popup-indent-bottom 0
		border: $form_popup-border-size solid $form_popup-border-color
		&:focus
			border: $form_popup-border-size solid $form_popup-input-focus
		&.wpcf7-not-valid
			border: $form_popup-border-size solid $form_popup-input-not-valid

	//--------------------popup ibutton
	.popup-close,
	button.popup-close,
	a.popup-close,
	input[type=submit]
		font-size: 15px
		padding: 15px 10px

	//--------------------popup text style
	h2
		color: $color-default
		text-align: center
		margin-top: 0
		font-size: $font-lg-x
		text-transform: uppercase
		line-height: normal
		//@include fbold
	p,
	label
		color: $form_popup-text-color
	.feedback
		.btn-center
			margin-top: 24px
.wpcf7-submit
	font-size: 15px
	padding: 15px 10px

//--------------------popup close
//---------------------------------------var cross close

$form_cross-close-size:              28px

//---------------------------------------var cross close end
//---------------------------------------style cross close
.close-click,
.mfp-close
	color: $color-border
	width: $form_cross-close-size
	height: $form_cross-close-size
	line-height: $form_cross-close-size
	font-size: 40px
	@extend %rLight
	z-index: 1
	&:before
		// content: '\e857'
		// position: absolute
		// font-family: 'fontello'
		// font-size: 18px
		// top: -13px
		// left: 38px
	&:hover
		color: $color-hover
.mfp-bg
	opacity: 1
	background: rgba($color-default,.8)
.close-click
	border: none
	background: transparent
	position: absolute
	top: 0
	right: 0

.icon-form,
.form-row
	position: relative
	.icon,
	i
		position: absolute
		right: 18px
		top: 50%
		transform: translate(0,-50%)
		z-index: 1
.icons-textarea
	position: relative
	.icon
		position: absolute
		right: 18px
		top: 19px
		z-index: 2
.popup-title
	font-size: 24px
	text-transform: uppercase
	@extend %bold
	padding: 0 0 20px
	border-bottom: 1px solid $color-border
	margin-bottom: 30px
	position: relative
.jq-number
	position: relative
	text-align: center
	max-width: 105px
	height: 42px
	border: 1px solid $color-border
	transition: all .5s ease
	border-radius: 3px
	&:hover
		border-color: $color-accent
	&__field
		height: 100%
		text-align: center
	&__spin
		height: 21px
		border: 1px solid $color-border
		border-bottom: none
		position: absolute
		width: 30px
		border-right: 0
		cursor: pointer
		background: $color-base
		right: 0
		@extend [class^="icon-"]
		text-align: center
		line-height: 21px
		font-size: 13px
		color: $color-light2
		transition: all .5s ease
		&:hover
			background: $color-accent
			color: $color-base
			border-color: $color-accent
		&.minus
			bottom: 0
			@extend .icon-minus
		&.plus
			top: 0
			border-top: 0
			@extend .icon-plus
			border-bottom: 1px solid $color-border
	input[type="number"]
		-moz-appearance: textfield
		height: 100%
		margin: 0
		border: none
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button
			-webkit-appearance: none
			margin: 0
.sub-page .woocommerce form .form-row.woocommerce-validated .select2-container .select2-choice, 
.sub-page .woocommerce form .form-row.woocommerce-validated input.input-text, 
.sub-page .woocommerce form .form-row.woocommerce-validated select, 
.sub-page .woocommerce form .form-row.woocommerce-validated textarea
	border-color: $color-accent

.xoo-cp-modal
	.xoo-cp-container
		position: relative
		max-width: 947px
		position: relative
		padding: 50px 97px
	.xoo-cp-atcn
		position: relative
	.xcp-icon.xoo-cp-close,
	.xcp-icon.xoo-cp-close:active
		@extend .mfp-close
		cursor: pointer
		right: 33px
		top: 15px
		&:before
			display: none
	.xoo-cp-success,
	.xoo-cp-error
		background: transparent
		border: none
		color: $color-default
		font-size: 20px
		text-transform: uppercase
		@extend %bold
		@extend .b-title
		.fa-check
			display: none
	.xoo-cp-atcn
		margin: 0
	.xoo-cp-content
		a
			display: block
			img
				display: block
				margin: 0 auto
				height: auto
		.xcp-icon-cancel-circle
			color: #c5c5c5
			transition: all .5s ease
			&:hover
				color: $color-hover
		.xoo-cp-pdetails 
			width: 100%
			margin: 15px 0
			td
				vertical-align: middle
				text-align: left
				&.xoo-cp-remove
					width: 5%
					font-size: 20px
				&.xoo-cp-pimg
					widows: 20%
				&.xoo-cp-ptitle
					width: 26%
					padding: 0 5px
					a
						font-size: 15px
						color: $color-default
						transition: all .5s ease
						&:hover
							color: $color-hover
							text-decoration: underline
					.xoo-cp-variations
						span
							display: inline-block
							border: 1px solid $color-border
							padding: 1px 0
							width: 30px
							margin-right: 4px
							font-size: 11px
							text-transform: uppercase
							color: $color-light2
							text-align: center
				&.xoo-cp-pprice
					width: 20%
					text-align: center
					.woocommerce-Price-amount
						@extend %rBold
						font-size: 20px
				.xoo-cp-qtybox
					width: 100%
					border: 1px solid $color-border
					height: 38px
					position: relative
					margin: 0 0 0 auto
				span
					&.xcp-plus, 
					&.xcp-minus
						position: absolute
						z-index: 1
						height: 19px
						width: 19px
						line-height: 19px
						cursor: pointer
						right: 0
						text-align: center
						border: none
						border-left: 1px solid $color-border
					&.xcp-plus
						border-bottom: 1px solid $color-border
						top: 0
					&.xcp-minus
						bottom: 0


		input[type=number]
			&.xoo-cp-qty
				border: 0!important
				text-align: center
				display: inline-block
				max-width: 100%
				float: none
				height: 100%
				line-height: 100%
				font-size: 18px
				padding: 0
				padding: 0 19px 0 0
		.xoo-cp-ptotal
			background: $color-light
			text-align: right
			padding: 18px 40px
			display: block
			float: none
			margin: 0
			border: none
			.xcp-ptotal
				font-size: 24px
				@extend %rBold
				margin-left: 10px
	.xoo-cp-btns
		display: flex
		justify-content: space-between
		margin-top: 35px
		.xcp-btn
			@extend .btn
			font-size: 15px
			padding: 13px 10px
			margin: 0
			display: block
			width: 48%
			&.xoo-cp-close
				color: $color-accent
				border: 2px solid $color-accent
				background: transparent
				&:hover
					background: $color-hover
					border-color: $color-hover
					color: $color-base
			&.xoo-cp-btn-ch
				color: $color-base
				border: 2px solid $color-accent
				background: $color-accent
				&:hover
					background: $color-hover
					border-color: $color-hover
.f2 
	.btn
		margin-top: 20px

.ps-table
	&_csize
		&-item
			width: 33.33%
		&-wrp
			@extend .flex-row
			align-items: flex-end
			height: 100%
			justify-content: space-around
			font-size: 17px
			strong
				@extend %bold
				color: $color-default
		&-def
			height: 100%
			@extend .flex-col
			justify-content: flex-end
	&_tsaw
		display: block
		position: relative
		.tablesaw-swipe 
			.tablesaw-swipe-cellpersist
				border-right: none
				//min-width: 200px
		&.ps-table_tsaw-last
			.tablesaw-bar
				top: 0
		tr
			&:first-child
				th
					&.act-row
						border-top-color: $color-accent
			&:last-child
				td
					&.act-row
						border-bottom-color: $color-accent
		th
			@extend %bold
			color: $color-default
			font-size: 15px
			background: #f6f6f6
			border: none
			border-top: 1px solid #fff
		th, td
			padding: 5px 15px
			cursor: pointer
			position: relative
			&:before
				content: ''
				position: absolute
				top: -1px
				bottom: -1px
				width: 1px
				background: transparent
				left: 0

			&:after
				content: ''
				position: absolute
				top: -1px
				bottom: -1px
				width: 1px
				right: 0
				background: transparent
			&.act-row
				&:before
					background: $color-accent
				&:after
					background: $color-accent
		td
			border-bottom: 1px solid #ededed
			color: #6b6a6e
			font-size: 13px
		.tablesaw-advance a.tablesaw-nav-btn.left, 
		.tablesaw-advance a.tablesaw-nav-btn.right
			text-indent: inherit
			font-size: 0
			height: 31px
			width: 31px
			text-align: center
			&:before
				@extend [class^="icon-"]
				font-size: 15px
				margin: 0
				position: static
				border: none
				height: auto
				padding: 3px
				font-size: 25px
				color: $color-accent
			&.disabled
				&:before
					color: #c2c4c7
		.tablesaw-advance a.tablesaw-nav-btn.left
			&:before
				@extend .icon-angle-left
		.tablesaw-advance a.tablesaw-nav-btn.right
			&:before
				@extend .icon-angle-right
		.tablesaw-bar
			position: absolute
			top: 0
			height: 31px
			width: 65px
			right: 0
		.tablesaw-advance
			//display: none
			.btn
				position: absolute
				z-index: 1
				text-shadow: none !important
				cursor: pointer
				top: 0
				&:focus
					outline: none !important
					box-shadow: none !important
					background: transparent
			.left
				left: 0
				&:before
			.right
				right: 0
.ps-table_mob
	visibility: hidden
	position: absolute
	z-index: -10
.ps-table_dsk
	visibility: visible
	position: static
.sel-style
	margin-top: 20px
	.wpcf7-form-control-wrap
		display: block
		margin-top: 10px
	.wpcf7-not-valid 
		.jq-selectbox__select
			border-color: $color-danger
.popup-wrp
	&.ps-table
		max-width: 700px
		padding: 5px 20px 15px
		background: #fff
		overflow: hidden
		table
			width: 100%
		.heading1, h1
			@extend %bold
			color: #48494c
			text-transform: uppercase
			font-size: em(31px)
			margin: 0 0 10px
			padding: 0 25px 0 0
		.heading2, h2
			@extend %bold
			color: #48494c
			padding: 0 75px 0 0
			text-transform: none
			font-size: em(16px)
			margin: 10px 0
		.ps-table_foot
			//margin-top: 65px
			.btn
				margin: 0
				font-size: 13px
				&:hover
					color: $color-base
			.notes
				p
					font-size: 12px
					margin: 10px 0
			p
				font-size: 13px
				color: #6b6a6e
				a
					color: $color-accent
					text-decoration: none
					&:hover
						text-decoration: underline
	button.mfp-close
		font-family: "opensans-light", sans-serif
		color: #d4d3d7
		font-size: 57px
		top: 17px
		right: 13px
.item_block
	.item_block1
		input[type=number]
			margin: 0
		.jq-number
			max-width: 100%
//----------------media
@include breakpoint(desktop)     //---max-width 1200
	.popup-wrp
		&.ps-table 
			.heading1, h1
				font-size: em(22px)
			button.mfp-close
				top: 20px
			.ps-table_foot
				//margin-top: 15px
	.ps-table 
		&_tsaw 
			td, th
				padding: 5px 10px 
@include breakpoint(laptop)      //---max-width 992
	.xoo-cp-modal 
		.xoo-cp-container
			padding: 15px
			.xoo-cp-btns
				margin-top: 15px
			.xoo-cp-pdetails
				tbody,
				tr
					display: block 
				td
					display: block
					&.xoo-cp-pimg
						width: 100%
					&.xoo-cp-ptitle
						width: 100%
						text-align: center
					&.xoo-cp-pprice
						width: 100%
						display: block
					&.xoo-cp-pqty
						width: 100%
						display: block
						max-width: 320px
						margin: 0 auto
						.xoo-cp-qtybox
							margin: 0 auto
					&.xoo-cp-remove
						position: absolute
			.xoo-cp-ptotal
				padding: 15px
				text-align: center
		.xoo-cp-btns 
			.xcp-btn
				font-size: 13px
	.xoo-cp-variations 
		.variation
			display: flex
			justify-content: center
			dt,dd
				float: none
	.ps-table_dsk
		// visibility: hidden
		// position: absolute
		// z-index: -10
	.ps-table_mob
		// visibility: visible
		// position: static
	.ps-table
		&_tsaw
			.tablesaw-advance
				display: block
		&_csize
			max-width: 390px
			margin: 0 auto
			padding: 0 35px
			&-wrp
				font-size: 15px
				align-items: center
		&_wrp
			.slick-arrow
				position: absolute
				font-size: 25px
				color: $color-accent
				cursor: pointer
				top: inherit
				//margin: -7px 0
				bottom: 0
				z-index: 1
			.slick-arrow-left
				left: 0
			.slick-arrow-right
				right: 0
	.popup-wrp
		&.ps-table 
			table
				//margin: 0 0 45px 0
@include breakpoint(tablet)      //---max-width 768
	.popup-wrp
		max-width: 420px
		padding: 15px
		h2
			font-size: $font-md-big
	.xoo-cp-modal
		.xoo-cp-btns
			display: block 
			.xcp-btn
				width: 100%
				margin-top: 5px
		.xoo-cp-container
			.xoo-cp-ptotal
				span
					display: block
		.xoo-cp-success, 
		.xoo-cp-error
			font-size: 18px
		.xcp-icon.xoo-cp-close
			top: 0
			right: 10px
	.popup-wrp
		&.ps-table
			.heading2, h2
				font-size: em(18px)
			.heading1, h1
				font-size: em(20px)
				padding: 0 32px 0 0
			button.mfp-close
				top: 13px
				right: 8px
				font-size: 45px
			.ps-table_foot
				p
					font-size: 12px
					margin: 10px 0
@include breakpoint(phone)       //---max-width 480
	.popup-wrp
		max-width: 300px
	.popup-wrp
		&.ps-table
			.heading2, h2
				padding: 0
				max-width: 236px
			.btn-full
				font-size: 12px
	.item_block1 .single_variation_wrap .button
		max-width: 100%
@include breakpoint(mobileonly)  //---max-width 320
	/**/

