.m-header
	a
		color: $color-default
		transition: all .5s ease
	&_top
		border-bottom: 1px solid $color-border
	&_block
		position: relative
		@extend .flex-row
		min-height: 44px
	&_login
		a
			@extend %headerFlex
			@extend %headerStyle
			border-left: 1px solid $color-border
			border-right: 1px solid $color-border
			&:before
				margin: 0 12px 0 0
				font-size: 15px
	&_basket
		li
			height: 100%
		a
			@extend %headerFlex
			@extend %headerStyle
			position: relative
			background: $color-accent
			color: $color-base
	&_bottom
		border-bottom: 1px solid $color-border
		.container-full
			position: relative
	&_logo
		padding: 17px 0 17px 30px 
	&_search
		width: 100%
		max-width: 300px
		padding: 0 30px 0 0
		form
			@extend .flex-row
			@extend .flex-items-middle
			@extend .flex-items-right
			height: 100%
	&_sel
		height: 35px
		width: 100%
		border-left-color: transparent
		margin: 0 0 0 -1px
		max-width: 202px
		padding: 5px 30px 5px 15px
		&:focus,
		&:hover
			position: relative
	&_input
		position: relative
		width: 100%
		// &:before
		// 	content: ''
		// 	position: absolute
		// 	right: 0
		// 	width: 1px
		// 	top: 7px
		// 	bottom: 7px
		// 	background: $color-border
		.icon,
		.m-header_search
			top: 0
			bottom: 0
			position: absolute
			right: 0
			border: none
			background: transparent
			width: 45px
			line-height: 35px
		.icon
			font-size: 14px
			z-index: 1
			text-align: center
		.m-header_search
			font-size: 0
			z-index: 2
	input[type="search"]
		//border-right-color: transparent
		height: 35px
		margin: 0
		padding: 0 50px 0 10px
		&:focus
			border-right-color: $color-hover
			position: relative
.logo
	display: block
	img
		display: block
.basket
	&_quantity
		position: absolute
		right: 0
		top: 0
		background: $color-base
		font-size: 10px
		color: $color-default
		padding: 0 6px
		border-right: 1px solid $color-border
//----------------media
@include breakpoint(desktop)     //---max-width 1200
	.m-header
		&_logo
			padding: 5px 0 5px 25px
		&_login,
		&_basket 
			a
				padding: 0 25px
	.nav-service
		&_ul 
			a
				padding: 0 15px
	.t-nav
		&_icon
			padding: 0 25px
@include breakpoint(laptop)      //---max-width 992
	.m-header
		&_search
			padding: 0 5px 0 0
			//max-width: 359px
		&_logo
			padding: 5px 0 5px 5px
@include breakpoint(tablet)      //---max-width 768
	.m-header
		&_login 
			font-size: 0
			text-align: center
			a
				&:before
					margin: 0
		&_search
			display: none
@include breakpoint(phone)       //---max-width 480
	.m-header
		&_login,
		&_basket
			a
				padding: 0 16px
		&_logo 
			margin: 0 auto
			padding: 5px
@include breakpoint(mobileonly)  //---max-width 320
	/**/

