.item
	.images
		position: relative
		.sale,
		.onsale
			font-size: 22px
			width: 68px
			height: 68px
			line-height: 68px
			z-index: 1
	.thumbnails
		margin: 50px -13px
		img,
		a
			display: block
			margin: 0 auto
		.yith_magnifier_gallery
			display: none
			&.slick-initialized
				display: block
		.slick-slide
			padding: 0 13px
			.yith_magnifier_thumbnail
				.yith_magnifier_thumbnail
					border: 1px solid $color-border
					position: relative
					opacity: .6
					&:before
						content: ''
						position: absolute
						top: -1px
						left: -1px
						right: -1px
						height: 2px
						background: transparent
			.img-current
				.yith_magnifier_thumbnail
					opacity: 1
					&:before
						background: $color-accent
		.slide-next
			right: 0
		.slide-prev
			left: 0
		.slick-arrow
			color: $color-accent
			z-index: 1
.flex-control-nav
	display: flex
	justify-content: center
	flex-wrap: wrap
	img
		border: 1px solid $color-border
		//border-top: 2px solid transparent
		position: relative
		opacity: .6
		display: block
		cursor: pointer
		margin: 5px
		max-height: 79px
		// &:before
		// 	content: ''
		// 	position: absolute
		// 	top: -1px
		// 	left: -1px
		// 	right: -1px
		// 	height: 2px
		// 	background: transparent
	.flex-active
		opacity: 1
		border-top: 2px solid $color-accent
		// &:before
		// 	background: $color-accent
	// .yith_magnifier_zoom_wrap
	// 	display: block
	// 	position: relative
	// 	img
	// 		display: block
	// 		margin: 0 auto
.woocommerce-product-gallery__image
	a
		display: block
	img
		display: block
		margin: 0 auto
.woocommerce-product-gallery__trigger
	// position: absolute
	// right: 0
	// z-index: 1
	img
		//display: none
.p-descrip
	padding: 0 25px 0 0
	&_title
		display: flex
		justify-content: space-between
		margin: 0 0 37px
		a,
		span
			color: $color-default
			display: block
	&_ul
		margin-bottom: 40px
		li
			max-width: 252px
			position: relative
			@extend %regular
			padding: 0 0 0 98px
			margin-bottom: 22px
		.icon
			&:before
				position: absolute
				left: 20px
				top: 6px
	p
		font-size: 13px
.item
	&_block
		overflow: hidden
		padding: 15px
		.stock
			margin-bottom: 10px
			position: relative
			@extend %bold
			@extend [class^="icon-"]
			@extend .icon-ok-circled
			font-size: 12px
			&:before
				margin-right: 5px
		.out-of-stock
			color: $color-danger
		.in-stock
			color: #20921e
	&_price
		color: $color-light2
		&-amount
			margin-bottom: 5px
		ins
			text-decoration: none
			@extend %rBold
			font-size: 24px
			margin-right: 15px
		del
			font-size: 18px
			@extend %rRegular
	&_block1
		.variations
			display: block
			width: 100%
			//margin-bottom: 20px
			td,tr,tbody
				display: block
				width: 100%
			.tawcvs-swatches
				flex-wrap: wrap
				flex-direction: row
				display: flex
				margin: 0 -6px
				span
					display: block
					border: 1px solid $color-border
					background: $color-base
					@extend %bold
					text-align: center
					color: $color-light2
					font-size: 17px
					width: 51px
					padding: 4px 0
					cursor: pointer
					margin: 6px
					transition: all .5s ease
					&:hover,
					&.selected
						color: $color-base
						background: $color-hover
						border-color: $color-hover
			.reset_variations
				color: $color-accent
				font-size: 13px
				display: none
				&:hover
					text-decoration: underline
		input[type="number"]
			margin: 10px 0
	.button
		@extend .btn
		@extend .btn-full
		font-size: 16px
		padding: 15px 5px
		margin: 10px 0
	.single_add_to_cart_button
		@extend .btn-primary
	.size-chart
		color: $color-accent
		@extend %rRegular
		margin-bottom: 20px
		display: block
		&:before
			margin-right: 15px
		&:hover
			color: $color-hover
			text-decoration: underline
.fixed-block_parent
	padding: 0
.sticky
	position: fixed
.row
	.panel_tab
		padding: 20px 100px 40px 0
.panel_tab
	border-bottom: 1px solid $color-border
	padding: 20px 0 40px 0
	.heading2
		span
			color: #6a6a6d
			@extend %light
			display: inline-block
			font-size: 15px
			vertical-align: top
.tabs
	.active
		a
			@extend %bold
.woocommerce-tabs
	table
		width: 100%
		th
			border-right: 1px solid $color-base
			padding: 12px 45px
			width: 1%
			text-align: left
			vertical-align: middle
		tr
			background: $color-light
			&:nth-child(2n+1)
				background: #fbfbfb
		td
			padding: 12px 45px
			width: 1%
			vertical-align: middle
.comment
	&_container
		img
			display: none
		.meta
			display: flex
			align-items: center
			flex-wrap: wrap
			@extend %light
			margin: 15px 0
			time
				color: #6a6a6d
				margin: 0 30px
.star-rating
	width: 85px
	overflow: hidden
	position: relative
	display: block
	height: 12px
	span
		display: block
		overflow: hidden
		position: relative
		height: 100%
		font-size: 0
		&:before
			content: ''
			left: 0
			right: 0
			top: 0
			position: absolute
			z-index: 1
			height: 12px
			background: url(../img/sprite/stars.png) repeat-x -2px -18px
			font-size: 0
	&:after
		content: ''
		left: 0
		right: 0
		top: 2px
		position: absolute
		z-index: 0
		height: 12px
		background: url(../img/sprite/stars.png) repeat-x -2px -3px
.stars 
	margin: 0
	span
		display: flex
	a
		position: relative
		height: 12px
		width: 13px
		text-indent: -999em
		display: block
		text-decoration: none
		color: $color-accent
		&:before
			display: block
			position: absolute
			top: 0
			left: 0
			width: 13px
			height: 12px
			line-height: 1
			font-family: 'fontello'
			text-indent: 0
		&:before,
		&:hover~a:before
			content: ''
			background: url(../img/sprite/stars.png) repeat-x  -2px -3px
	&.selected 
		a
			&:not(.active)
				&:before
					background: url(../img/sprite/stars.png) repeat-x -2px -18px
			&.active
				~a
					&:before
						background: url(../img/sprite/stars.png) no-repeat -2px -3px
				&:before
					background: url(../img/sprite/stars.png) no-repeat -2px -18px
	&:hover
		a
			&:before
				background: url(../img/sprite/stars.png) no-repeat -2px -18px

.comment-form-rating
	.stars
		margin-bottom: 20px
.submit-wrapp
	align-items: center
	justify-content: space-between
	display: flex
	margin: 0 0 12px
	.submit
		@extend .btn
		font-size: 15px
		padding: 12px 5px
		width: 100%
		max-width: 260px
.product-aside
	&.product-wrp
		margin: 0
	.prod-cat
		&_block
			align-items: center
			display: flex
		&_cnt
			margin: 0 0 0 28px
			text-align: left
			min-height: inherit
	.price
		padding: 0
.no-fix
	.item
		&_block
			padding: 15px 0

.woocommerce-cart-form
	table
		th, td
			vertical-align: middle
			&:first-child
				border: none
		td
			background: $color-base
		tr
			background: $color-base
			font-size: 13px
			border-bottom: 1px solid $color-border
			&:nth-child(2n+1)
				background: $color-base
			&:last-child,
			&:nth-last-child(2),
			&:nth-last-child(3)
				border-bottom: none
			&:last-child
				td
					padding-left: 0
					padding-right: 0

.product-remove
	.remove
		font-size: 0
		color: #b3b3b6
		transition: all .5s ease
		text-decoration: none
		&:before
			@extend [class^="icon-"]
			@extend .icon-trash-empty
			font-size: 21px
		&:hover
			color: $color-accent
			text-decoration: none
.text-style
	.woocommerce-cart-form  
		td
			padding: 10px 15px
			vertical-align: middle
			img
				display: block
			&.product-remove
				text-align: center
.shop_table
	.product-subtotal
		.woocommerce-Price-amount
			font-size: 18px
			color: $color-default
			@extend %rBold
	.product-price
		.woocommerce-Price-amount
			font-size: 15px
			@extend %rRegular
	.product-name
		font-size: 15px
		max-width: 200px
		a
			@extend %rLight
			color: $color-default
	th
		&.product-name
			font-size: 13px
	.order-total
		td
			background: $color-light
			&.order-total-title
				font-size: 13px
		.woocommerce-Price-amount
			font-size: 24px
			color: $color-default
	.button,
	.btn
		display: inline-block
		text-transform: uppercase
		text-decoration: none
		@extend %bold
		line-height: normal
		letter-spacing: 1px
		text-align: center
		cursor: pointer
		transition: all .5s ease
		padding: 13px 5px
		width: 100%
		max-width: 360px
	.button,
		border: 2px solid $color-accent
		background: transparent
		color: $color-accent
		&:hover
			background: $color-hover
			color: $color-base
			border-color: $color-hover
	button[disabled],
	input[disabled]
		&:hover
			border-color: inherit
			background: inherit
			color: inherit
			opacity: .7
	.btn
		border: 2px solid $color-accent
		&:hover
			border-color: $color-hover
.wc-proceed-to-checkout
	text-align: right
	padding: 20px 0
.woocommerce-checkout-review-order
	table
		margin-bottom: 5px
	.product-total
		//text-align: right
		@extend %rRegular
	td
		padding: 10px 35px
		background: transparent
		&:first-child
			border: none
		&.product-name
			font-size: 15px
			//padding: 14px 5px 14px 0
			//width: auto
		&.product-total
			//padding: 14px 0 14px 5px
			//width: 1%
			vertical-align: middle
	th
		//padding: 14px 0
		padding: 10px 35px
		background: #f7f7f7
		&:first-child
			border: none
	tr
		&:nth-child(2n+1)
			background: #fbfbfb
	thead,
	tfoot
		tr, td, th
			background: #e6e6e6 !important
	.order-total
		th
			border-bottom: none
			//padding: 14px 5px 14px 0
			//width: 1%
		td
			border-bottom: none
			background: #e6e6e6
			//width: 1%
			//padding: 14px 0 14px 5px
			&:last-child
				//text-align: right
				//min-width: 130px
			.woocommerce-Price-amount
				font-size: 17px
	.product-name
		max-width: inherit
.woocommerce-checkout-payment
	background: $color-base
	margin: 0 0
	padding: 30px 0 0
	p
		&.wc-terms-and-conditions
			margin-bottom: 15px
			font-size: 13px
			@extend %regular
			color: $color-accent
	.button,
	.btn
		display: inline-block
		text-transform: uppercase
		text-decoration: none !important
		@extend %bold
		line-height: normal
		letter-spacing: 1px
		text-align: center
		cursor: pointer
		transition: all .5s ease
		padding: 13px 5px
		width: 100%
		max-width: 360px
	.checkout-button.button
		border: 2px solid $color-accent
		background: transparent
		color: $color-accent
		&:hover
			background: $color-hover
			color: $color-base
			border-color: $color-hover
	button[disabled],
	input[disabled]
		&:hover
			border-color: inherit
			background: inherit
			color: inherit
			opacity: .7
	.alt
		border: 2px solid $color-accent
		background: $color-accent
		color: $color-base
		&:hover
			border-color: $color-hover
			background: $color-hover
.woocommerce-billing-fields
	.hidden-label
		display: none
.woocommerce-checkout
	margin-bottom: 30px
.text-style
	p
		&.form-row
			label
				font-size: 13px
				display: inline-block
				margin-bottom: 5px
				&.hidden-label
					display: none
.woocommerce-order-details
	th
		width: 60%
		background: $color-base
	td
		width: 40%
		background: $color-base
	tr
		&:nth-child(2n+1)
			td,th
				background: #f7f7f7
	.customer_details
		th
			//border-bottom: 1px solid $color-border
			//background: #fbfbfb
	.wc-item-meta
		li
			display: flex
			margin: 0
		p
			margin: 0
	tfoot
		tr
			th
				//border-bottom: 1px solid $color-border
				background: #e6e6e6
			td
				@extend %bold
				background: #e6e6e6
		tr
			&:nth-child(2n+1)
				td,th
					background: #e6e6e6
	thead
		tr
			&:nth-child(2n+1)
				td,th
					background: #e6e6e6
.woocommerce-error,
.woocommerce-message
	background: #fafafa
	padding: 15px
	border-top: 3px solid
	.button
		margin-right: 20px
.woocommerce-error
	border-top-color: $color-danger
	.button
		background: $color-danger
		&:hover
			background: darken($color-danger, 13.7%)
.woocommerce-message
	border-top-color: $color-accent
.quantity.hidden
	display: none !important
#billing_country_russia_field,
#billing_first_name_field,
#billing_email_field,
#billing_phone_field,
#billing_state_field,
#billing_city_field,
#billing_address_1_field,
#account_username_field,
#account_password_field,
#billing_address_2_field,
	position: relative
#billing_state_field, 
#billing_delivery_state_field,
#billing_country_russia_field,
#billing_delivery_salon_kiev_field,
#billing_delivery_salon_kh_field,
#billing_delivery_salon_od_field,
#billing_city_field, 
#billing_address_1_field,
#billing_address_2_field,
#np-map
	display: none
.select2-container--default .select2-search--dropdown .select2-search__field 
	height: 47px
	margin: 0
	display: none !important
.sub-page
	.woocommerce form .form-row input.input-text, 
	.woocommerce form .form-row .select2-container .select2-choice,
	.woocommerce form .form-row select
		height: 47px
		margin: 0 0 20px
.select2-search--dropdown
	padding: 0
.checkout-image-title-wrp 
	align-items: center
	display: flex
.checkout-image
	display: block
	margin: 0 10px 0 0
	flex: 1
	img
		display: block
.checkout-title
	flex: 4
	font-size: 13px
#npw-map-state-list
	position: relative
	&:before 
		content: 'Выбор города'
		position: absolute
		top: 24px
		left: 10px;
		font-size: 13px
		color: #6c737b
	&.sel-val-rem
		&:before
			display: none
#npw-map-sidebar 
	select
		background: url(../img/icons/sel-2.png) right center no-repeat #fff !important

	ul 
		li
			&:before
				display: none !important
abbr[title]
	border: none
	text-decoration: none
.price_slider_wrapper
	.button
		display: none !important
.yith_magnifier_zoom_magnifier
	background: $color-base
	width: 100% !important
//----------------media
@include breakpoint(desktop)     //---max-width 1200
	.no-fix 
		.item
			&_block
				padding: 10px 0
	.p-descrip
		padding: 0
	.row
		.panel_tab
			padding: 20px 0 40px 0
	.item 
		.thumbnails
			margin: 10px -13px
		.size-chart
			margin: 0
		&_block1 
			.variations 
				margin: 0
				width: 35%
				.tawcvs-swatches
					margin: 0 -4px
					span
						margin: 4px
				&_form
					display: flex
					justify-content: space-between
					align-items: center
					flex-wrap: wrap
			.single_variation_wrap
				width: 35%
				.button
					margin: 5px 0
		.button
			font-size: 12px
		&_price
			display: flex
			flex-direction: row-reverse
			justify-content: space-between
			align-items: center
			&-amount
				margin-bottom: 0
		.stock
			margin-bottom: 0
		.button
			max-width: 400px
			margin: 0 auto
			display: block
	.product-aside
		display: flex
		flex-wrap: wrap
		align-items: center
		.prod-cat_block
			width: 50%
			padding: 0 15px
	.tabs-wrp
		margin-top: 15px
	.panel_tab
		padding: 0 0 15px 0

@include breakpoint(laptop)      //---max-width 992
	.p-descrip
		margin-bottom: 15px
		&_ul
			justify-content: space-around
			flex-wrap: wrap
			display: flex
			margin-bottom: 0
			li
				margin-bottom: 10px
		&_title
			margin: 0 0 15px
	.item 
		.images
			max-width: 458px
			margin: 0 auto
	.woocommerce-checkout-payment
		padding: 15px 0 0
@include breakpoint(tablet)      //---max-width 768
	.product-aside
		.prod-cat_cnt
			margin: 0 0 0 10px
	.item
		&_block1 
			.variations
				width: 100%
			.single_variation_wrap
				width: 50%
	.p-descrip
		&_ul
			justify-content: flex-start
			li
				padding: 7px 5px 0 98px
				max-width: 100%
				width: 100%
	.woocommerce-tabs 
		table 
			td, th
				padding: 10px
	.comment_container 
		.meta 
			time
				margin: 0 5px
	table.woocommerce-cart-form__contents
		margin: 0
	.woocommerce-cart-form__contents
		.order-total
			td
				border: none
				&:first-child
					display: none
		td
			display: block
			text-align: center
			&.product-name
				max-width: 100%
				border: none
				padding: 0
			&.product-remove
				position: absolute
				border: none
			&.product-quantity,
			&.product-price
				display: inline-block
				width: 49%
				border: none
				.jq-number
					margin: 0 auto
			img
				margin: 0 auto
			.button,
			.btn
				display: block
				width: 100%
				max-width: 320px
				margin: 0 auto
			&.actions
				border: none
		th
			display: none
	.wc-proceed-to-checkout
		padding: 0
	.woocommerce-checkout
		margin-bottom: 0
	.woocommerce-checkout-review-order 
		td,th
			padding: 10px
@include breakpoint(phone)       //---max-width 480
	.product-aside
		.prod-cat_block
			width: 100%
	.item
		&_block1 
			.single_variation_wrap
				width: 100%
			.variations 
				.tawcvs-swatches 
					span
						width: 41px
	.woocommerce-checkout-payment 
		.button
			max-width: 100%
			margin: 5px 0
	.checkout-image-title-wrp
		display: block
	.checkout-image 
		img
			margin: 0 auto
			max-width: 80px
@include breakpoint(mobileonly)  //---max-width 320
	/**/