.t-nav
	@extend .flex-row
	&_ul
		position: absolute
		display: none
		background: $color-base
		border: 1px solid $color-accent
		margin: -1px 0 0
		min-width: 185px
		top: 100%
		z-index: 11
		a
			transition: all .5s ease
			display: block
			padding: 5px 42px
			&:hover
				color: $color-base
				background: $color-hover
		.current-menu-item
			a
				color: $color-base
				background: $color-hover
	&_click
		padding: 0 30px 0 10px
		@extend %headerFlex
	&_icon
		@extend %headerStyle
		@extend %headerFlex
		&:hover
			@extend .s-icon_burger-w
	&.is-open
		.t-nav
			&_icon
				background: $color-hover
				@extend .s-icon_burger-w
			&_click
				@extend .icon-up-dir
				color: $color-hover
	&_e-first
		@extend %regular
		font-size: em(18px)
		@extend %headerFlex
.nav-service
	&_ul
		@extend %headerFlex
		li
			border-left: 1px solid $color-border
			height: 100%
			&:last-child
				border-right: 1px solid $color-border
		a
			@extend %headerStyle
			@extend %headerFlex
		.current-menu-item
			a
				background: $color-hover
				color: $color-base
.b-nav
	position: relative
	&_ul
		@extend %headerFlex
		>li
			display: flex
			flex-wrap: wrap
			align-items: center
			height: 100%
			&.current-menu-item
				> a
					&:before
						background: $color-accent
			&:first-child
				> a
					margin-left: 0
			&:last-child
				> a
					margin-right: 0
			>a
				@extend %bold
				padding: 0 20px
				text-transform: uppercase
				//margin: 0 25px
				@extend %headerFlex
				position: relative
				font-size: 16px
				&:before
					content: ""
					position: absolute
					bottom: -2px
					background: transparent
					left: 0
					right: 0
					height: 2px
					transition: all .5s ease
				&:hover
					&:before
						background: $color-accent
	.menu-item-has-children
		&:hover
			.sub-menu
				//visibility: visible
				//opacity: 1
	.is-open
		.sub-menu
			//visibility: visible
			//opacity: 1
	.sub-menu
		position: absolute
		border-bottom: 2px solid $color-accent
		margin: 2px 0 0
		left: 0
		top: 100%
		background: $color-base
		@extend .flex-col
		@extend .flex-items-center
		//overflow: hidden
		min-height: 314px
		width: 885px
		//visibility: hidden
		z-index: 10
		//opacity: 0
		display: none
		//transition: all .6s
		&:before
			content: ''
			position: absolute
			top: 0
			bottom: -2px
			background: inherit
			right: 100%
			width: 1000%
			border-bottom: inherit
		&:after
			content: ''
			position: absolute
			top: 0
			bottom: -2px
			background: inherit
			left: 100%
			width: 1000%
			border-bottom: inherit
		a
			font-size: 18px
			padding: 10px 25px 10px 0
			@extend %light
			display: block
			width: 31%
			&:hover
				@extend %bold
				~ .sub-menu_content
					opacity: 1

		&_content
			position: absolute
			opacity: 0
			@extend .flex-row
			@extend .flex-items-middle
			@extend %rLight
			min-height: 312px
			right: 0
			bottom: 0
			top: 0
			width: 69%
			background: $color-base
			padding: 0 25px 0 0
			font-size: 13px
		&_text
			margin-left: 30px
		.js-activ-item
			a
				@extend %bold
			.sub-menu_content
				opacity: 1
.m-nav
	position: relative
	display: none
	&:before
		content: ''
		position: absolute
		left: 0
		right: 0
		bottom: 0
		top: 0
	&.is-open
		.icon
			@extend .icon-up-dir
	&_click
		position: relative
		@extend %bold
		font-size: 15px
		text-transform: uppercase
		&:before
			content: ''
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			z-index: 1
	&_ul
		display: none
		z-index: 10
		border-top: 2px solid $color-accent
		box-shadow: 0 1px 6px 1px rgba(74,74,77,.19)
		a
			display: block
			padding: 5px 15px
			font-size: 16px
			&:hover
				color: $color-base
				background: $color-hover
.nav_pn-mob
	display: none
//----------------media
@include breakpoint(desktop)     //---max-width 1200
	.b-nav
		display: none
	.m-nav
		display: flex
		align-items: center
		position: static
		&_ul
			position: absolute
			top: 100%
			background: $color-base
			left: 20%
			right: 20%
			>li
				>a
					border-bottom: 1px solid $color-border
			.sub-menu
				a
					font-size: 14px
					padding: 5px 25px
					font-family: robotocondensed-bold,sans-serif
@include breakpoint(laptop)      //---max-width 992
	.nav_pn-mob
		display: block
	.nav-service
		display: none
	.t-nav
		&_icon
			border-right: 1px solid $color-border
		&_ul
			a
				padding: 5px 15px
@include breakpoint(tablet)      //---max-width 768
	.m-nav
		&_ul
			right: 0
@include breakpoint(phone)       //---max-width 480
	.t-nav
		font-size: 13px
		&_e-first
			font-size: 13px
		&_click
			padding: 0 10px
		&_icon
			padding: 0 16px
	.m-nav
		position: absolute
		bottom: -47px
		background: $color-base 
		border: 1px solid $color-border
		height: 47px
		left: 27px
		right: 27px
		z-index: 10
		&_click
			width: 100%
			height: 100%
			line-height: 47px
			padding: 0 30px 0 
		&_ul
			left: 0
		.icon
			position: absolute
			right: 15px
@include breakpoint(mobileonly)  //---max-width 320
	/**/