//--------------------------------var scrollbar
$scroll_mx-h-content:              487px
$scroll_padding-r-content:         35px
$scroll_padding-l-content:         0px
$scroll_padding-t-b-content:       80px
$scroll_size-scroll-element:       6px
$scroll_bg-element-track:          $color-light
$scroll_shadow-element-track:      none
$scroll_bg-scroll-bar:             $color-accent
$scroll_shadow-scroll-bar:         none
$scroll_radius-scroll-bar:         0
//--------------------------------var scrollbar end
//--------------------------------style scrollbar
.scrollbar
	padding: $scroll_padding-t-b-content 0
	> div
		max-height: $scroll_mx-h-content
	.scroll-content
		padding: 0 $scroll_padding-r-content 0 $scroll_padding-l-content
	&_inner
		> .scroll-element,
		> .scroll-element div
			border: none
			position: absolute
			z-index: 10
		> .scroll-element 
			div
				display: block
				height: 99%
				left: 0
				top: 0
				width: 100%
			&.scroll-x
				bottom: 2px
				height: $scroll_size-scroll-element
				left: 0
				width: 100%
				&.scroll-scrolly_visible
					.scroll-element
						&_track
							left: -12px
						&_size
							left: -12px
			&.scroll-y
				height: 100%
				right: 2px
				top: 0
				width: $scroll_size-scroll-element
				&.scroll-scrollx_visible
					.scroll-element
						&_track
							top: -12px
						&_size
							top: -12px
			.scroll-element_outer
				//overflow: hidden
			.scroll-element_outer,
			.scroll-element_track,
			.scroll-bar
				border-radius: $scroll_radius-scroll-bar
			.scroll-element_track,
			.scroll-bar
				opacity: 1
			.scroll-element_track
				background-color: $scroll_bg-element-track
				box-shadow: $scroll_shadow-element-track
			.scroll-bar
				cursor: pointer
				background: $scroll_bg-scroll-bar
				box-shadow: $scroll_shadow-scroll-bar
				position: relative
				min-height: 25px
				&:before
					content: ''
					position: absolute
					background: url(../img/icons/scroll.png)
					width: 7px
					height: 12px
					top: 50%
					left: 50%
					margin: -6px -3.5px


			&:hover
				.scroll-bar
					background-color: darken($scroll_bg-scroll-bar, 5%)
			&.scroll-draggable
				.scroll-bar
					background-color: darken($scroll_bg-scroll-bar, 5%) 
//----------------media
@include breakpoint(desktop)     //---max-width 1200
	/**/
@include breakpoint(laptop)      //---max-width 992
	/**/
@include breakpoint(tablet)      //---max-width 768
	/**/
@include breakpoint(phone)       //---max-width 480
	.scrollbar
		padding: $scroll_padding-t-b-content 0
		> div
			max-height: 220px
		.scroll-content
			padding: 0 15px 0 0px
@include breakpoint(mobileonly)  //---max-width 320
	/**/

