.m-slider
	&_item
		position: relative
		display: none
		img
			display: block
			width: 100%
		&:first-child
			display: block
	.slick-slide
		.m-slider
			&_item
				display: block !important
	&_conteiner
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		@extend .flex-row
		@extend .flex-items-middle
		color: $color-base
		text-align: center
		.heading1
			font-size: 42px
			margin-top: 0
	&_content
		max-width: 790px
		margin: 0 auto
	.slide-prev
		left: 15%
	.slide-next
		right: 15%
.slider-arrow
	position: absolute
	top: 50%
	margin: -28px 0
	color: $color-base
	z-index: 1
	font-size: 36px
	cursor: pointer
	@extend %hoverLink
.slick-dots
	position: absolute
	width: 100%
	text-align: center
	bottom: 82px
	li
		display: inline-block
		margin: 0 20px
	button
		display: block
		border: 1px solid $color-base
		background: $color-base
		font-size: 0
		padding: 0
		height: 5px
		width: 5px
		transition: all .2s ease
		border-radius: 50%
	.slick-active
		button
			background: transparent
			width: 13px
			height: 13px

//----------------media
@include breakpoint(desktop)     //---max-width 1200
	.m-slider
		.slide-prev
			left: 90px
		.slide-next
			right: 90px
@include breakpoint(laptop)      //---max-width 992
	.m-slider
		&_conteiner 
			.heading1
				font-size: 28px
		&_content
			max-width: 625px
	.slick-dots
		bottom: 17px
@include breakpoint(tablet)      //---max-width 768
	.m-slider
		.slide-prev
			left: 15px
		.slide-next
			right: 15px
		&_content
			max-width: 360px
		img
			max-height: 455px
			max-width: none
			width: inherit
		.slick-slide .m-slider_item
			display: flex !important
			justify-content: center
			width: inherit!important
@include breakpoint(phone)       //---max-width 480
	.m-slider
		&_content
			max-width: 300px
		&_conteiner 
			.heading1
				font-size: 24px
				margin-bottom: 0
		.slide-prev
			left: 0
		.slide-next
			right: 0
@include breakpoint(mobileonly)  //---max-width 320
	/**/
