.breadcrumbs {
    padding: 25px;
    color: #c5c5c5;
    font-size: 16px;
    // @extend %light;
    a {
        color: $color-brand;
        font-size: 16px;
        // @extend %medium;
        margin: 0 3px;
        &:first-child {
            margin-left: 0;
        }
    }
}

.breadcrumb_last {
    color: #c5c5c5;
    font-size: 16px;
    // @extend %light;
}