// #header
.header {
    &_wraper {
        width: 100%;
        position: relative;
        min-height: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .container_wraper {
        background-color: $fon-brand;
    }
    // #header_nav
    .main-header_nav a {
        color: $color-dark;
        @include fs(16px);
        display: block;
        padding: 15px 0;
        &:hover {
            text-decoration: underline;
            color: $color-light;
        }
    }
    .main-header_ul {
        display: flex;
    }
    //media
    @include respond-to(wide_handhelds) {
        .main-header_ul {
            display: block;
            li {
                text-align: center;
            }
        }
        .cancel-panel {
            display: inline-block;
            z-index: 99;
        }
        .show-panel {
            display: none;
        }
        .burger__button {
            display: block;
        }
        .main-header_nav {
            display: none;
        }
    }
}

//#burger
.nav-toggle {
    position: relative;
}

.nav-toggle_burger {
    z-index: 99;
    color: $color-white;
    border: none;
    background: 0 0;
    width: 20px;
    height: 18px;
    padding: 0;
    position: absolute;
    top: 10px;
    left: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    display: flex;
    span {
        border-radius: 3px;
        display: block;
        width: 20px;
        height: 4px;
        background-color: $fon-white;
    }
}

.burger__button {
    position: absolute;
    display: none;
    width: 25px;
    height: 25px;
    transition: all .5s ease;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 9%;
    background: transparent;
    box-shadow: 0 0 8px -2px #333;
    .header & {
     top: 20px;
    left: 0px;
    }
}

.burger__button__icon {
    top: 48%;
    display: block;
    width: 27px;
    height: 6px;
    transform: translateY(-1px);
}

.burger__button__icon,
.burger__button__icon:after,
.burger__button__icon:before {
    position: absolute;
    left: 0;
    width: 20px;
    height: 4px;
    margin: 0 auto;
    transition: all .5s ease;
    background: #fff;
    right: 0;
    border-radius: 13px;
}

.burger__button__icon:after,
.burger__button__icon:before {
    content: "";
}

.burger__button__icon:before {
    bottom: 8px;
}

.burger__button__icon:after {
    top: 8px;
}

//js-open
.js-open .burger__button__icon {
    background: 0 0;
}

.js-open .burger__button__icon:after,
.js-open .burger__button__icon:before {
    left: 4px;
    width: 20px;
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

.js-open .burger__button__icon:before {
    transform: rotateZ(0.89474rad);
}

.js-open .burger__button__icon:after {
    transform: rotateZ(-0.89474rad);
}

// search
.seach {
    position: absolute;
    color: $color-white;
    @include fs(20px);
    .header & {
        top: calc(0% + 15px);
        right: 20px;
    }
}

.seach .btn-search {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 5px;
}

.seach .icon-search {
    font-size: 20px;
    font-size: 1.25rem;
}

.seach .search-in {
    display: none;
    position: absolute;
    right: 0;
    top: calc(50% - 12px);
}

.seach .input {
    padding: 10px 0 10px 10px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: $color-light;
    color: $color-dark;
    font-size: 16px;
    width: 279px;
}

.search-in .submit {
    position: absolute;
    font-size: 0;
    background-color:transparent;
    border: 0;
    width: 30px;
    top: 0;
    bottom: 0;
    right: 0;
}

.seach .icon-search.on {
    color:  $color-brand;
}
// #new style