.text-style a.btn,
.btn 
	display: inline-block
	text-transform: uppercase
	text-decoration: none !important
	@extend %bold
	line-height: normal
	letter-spacing: 1px
	text-align: center
	cursor: pointer
	border: none
	transition: all .5s ease
	&-medium
		font-size: 15px
		padding: 13px 5px
	&-full
		width: 100%
	&-middle
		font-size: 15px
		padding: 19px 45px
	&-small
		font-size: 13px
		max-width: 165px
		width: 100%
		padding: 9px 5px
	&-big
		font-size: 18px
		width: 100%
		max-width: 
		padding: 18px 5px
		max-width: 360px
	&-small2
		font-size: 13px
		padding: 12px 5px
		width: 100%
	&-light2
		border: 2px solid $color-border
		color: #919191
		&:hover
			border-color: $color-hover
			color: $color-hover
	&-search
		font-size: 15px
		padding: 12px 50px
		margin-left: 30px
	&-primary
		background: $color-accent
		color: $color-base
		&:hover
			background: $color-hover
	&-ajax
		display: flex
		margin: 0 auto
		letter-spacing: 1px
		justify-content: center
		color: $color-emphasis
		font-size: 16px
		text-transform: uppercase
		@extend %regular
		padding: 23px 0
		transition: all .5s ease
		.icon
			margin-right: 10px
			//transition: all .5s ease
		&:hover
			color: $color-base
			background: $color-hover
			.icon
				@extend .animate-spin
	&-inverse
		border: 2px solid $color-base
		color: $color-base
		&:hover
			color: $color-base
			background: $color-hover
			border-color: $color-hover
	&-light
		color: $color-light2
		border: 2px solid $color-border
		&:hover
			color: $color-base
			background: $color-hover
			border-color: $color-hover
.button
	&.btn-primary-inv
		border: 2px solid $color-accent
		background: transparent
		color: $color-accent
		&:hover
			background: $color-hover
			color: $color-base
			border-color: $color-hover
.prod-cat 
	.add_to_cart_button
		@extend .btn
		@extend .btn-small
		@extend .btn-light
		display: block
		margin: 20px auto 0
button[disabled], 
html input[disabled]
	opacity: .7
	cursor: default
	&.btn-primary
		&:hover
			background: $color-accent

.animate-spin
	animation: spin 2s infinite linear
@-moz-keyframes spin 
	0% 
		transform: rotate(0deg)
	100% 
		transform: rotate(359deg)
@-webkit-keyframes spin 
	0% 
		transform: rotate(0deg)
	100% 
		transform: rotate(359deg)
@-o-keyframes spin 
	0% 
		transform: rotate(0deg)
	100% 
		transform: rotate(359deg)
@-ms-keyframes spin 
	0% 
		transform: rotate(0deg)
	100% 
		transform: rotate(359deg)
@keyframes spin 
	0% 
		transform: rotate(0deg)
	100% 
		transform: rotate(359deg)


//----------------media
@include breakpoint(desktop)     //---max-width 1200
	/**/
@include breakpoint(laptop)      //---max-width 992
	.btn
		&-big
			max-width: 300px
			padding: 10px 5px
		&-search
			margin: 0
			padding: 12px 20px
@include breakpoint(tablet)      //---max-width 768
	/**/
@include breakpoint(phone)       //---max-width 480
	/**/
@include breakpoint(mobileonly)  //---max-width 320
	/**/