@import "sprite-icons"
@import "button"
.fon-light
	background: $color-light
.js-panel-btn
	cursor: pointer
.container-full
	max-width: 1400px
	margin: 0 auto
.switch-links
	padding: 30px 0
	margin-top: 15px
	border-top: 1px solid $color-border
	a
		color: $color-default
		@extend %bold
		&:hover
			color: $color-hover
.b-title
	border-bottom: 1px solid $color-border
	padding: 0 0 24px
.data-article
	font-size: 13px
	display: block
	color: #919191
	margin-bottom: 20px
.p-relative
	position: relative
.p-none
	position: static
.seo-blok
	margin: 76px 0 69px
	&_text
		height: 246px
		overflow: hidden
		position: relative
		&:before
			content: ''
			position: absolute
			left: 0
			right: 0
			bottom: 0
			height: 20px
			z-index: 1
			background-image: linear-gradient(to bottom,rgba(255,255,255,.32) 10%,rgb(255,255,255) 100%)
		&.open-text
			&:before
				display: none
		&.text-open
			height: 100%
	.btn
		margin: 15px 0 0 auto
		display: block
.sub-page
	margin-bottom: 20px
	.cat-nav
		padding: 0
	&.p-error
		margin-bottom: 0
.aside
	&-nav
		&_ul
			li.current-cat
				> a
					@extend %bold
	&-nav
		margin: 40px 0
		&_menu,
		&_sub
			display: none
		&_box
			position: relative
			font-size: 13px
			@extend %light
			.aside-nav_box,
			.aside-nav_sub
				padding: 0 0 0 20px
			>a
				padding: 0 25px 0 0
				font-size: 15px
			a
				display: block
				color: $color-default
			.open
				position: absolute
				right: 0
				top: 0
				bottom: 0
				height: 20px
				width: 20px
				text-align: center
				line-height: 20px
				&:before
					content: '+'
					position: relative
					font-size: 18px
					width: 20px
					display: block
					margin: 0 auto
					@extend %rLight
				&.harOpen
					&:before
						content: '—'
			.harOpen
				~ .open
					&:before
						content: '—'
			li
				margin: 0
			.aside
				&-nav
					&_box
						//display: none
	.heading3
		border-bottom: 1px solid $color-border
		padding-bottom: 15px
.filter_btn
	border: 1px solid $color-border
	margin-top: 15px
	padding: 10px 25px 10px 15px
	position: relative
	text-transform: uppercase
	@extend %rBold
	&:before
		content: ''
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
	&:after
		content: '\e81c'
		font-family: 'fontello'
		position: absolute
		right: 15px
		top: 50%
		margin: -12px 0
	.filter_close
		display: none
	.filter_open
		display: block
.filter
	&.is-open
		.filter_open
			display: none
		.filter_close
			display: block
.sidebar_wrapp
	.heading3
		margin: 0 0 10px
	.nav-aside
		&_box
			.product-categories
				li
					a
						color: $color-default
						@extend %light
						&:hover
							color: $color-hover
							text-decoration: underline
					&.current-cat
						a
							@extend %bold
							&:hover
								color: $color-hover
								text-decoration: underline
					&.cat-item
						margin: 5px 0
						a
							padding: 0 0 0 28px
			.btn 
				width: 100%
				max-width: 100%
				display: block
		&_checked,
		&_menu
			display: none
			padding: 5px 0 20px
			border-bottom: 1px solid $color-border
			a
				@extend %light
				color: $color-default
				margin: 5px 0
				display: inline-block
				&:hover
					color: $color-hover
					text-decoration: underline
			.chosen
				a
					@extend %bold
					&:after
						opacity: 1
		&_ul 
			margin-bottom: 10px
			.open
				position: absolute
				right: 0
				top: 0
				bottom: 0
				height: 20px
				width: 20px
				text-align: center
				line-height: 20px
				color: $color-default
				&:before
					content: '+'
					position: relative
					font-size: 18px
					width: 20px
					display: block
					margin: 0 auto
					@extend %rLight
					top: 8px
				&.harOpen
					&:before
						content: '—'
		&_box
			position: relative
			padding: 5px 0
		&_title
			@extend %bold
			color: $color-default
		&_checked
			a
				position: relative
				padding: 0 0 0 28px
				&:before
					content: ''
					width: 18px
					height: 18px
					left: 0
					position: absolute
					top: 50%
					margin: -10px 0
					border: 1px solid $color-border
				&:after
					content: ''
					width: 8px
					height: 8px
					position: absolute
					left: 6px
					top: 50%
					margin: -4px 0
					background: #3b415e
					opacity: 0
.sorting-filtr
	align-content: space-between
	&_form
		width: 100%
	select
		margin: 0
	p
		font-size: 13px
		max-width: 600px
.mfp-zoom-out-cur .mfp-image-holder .mfp-close
	cursor: pointer
.result-search
	padding: 26px 0
	border-top: 1px solid $color-border
	border-bottom: 1px solid $color-border
	span
		font-size: 15px
	input[type="search"]
		margin-bottom: 0
		height: 42px
		width: 358px
	b
		font-size: 15px
		@extend %bold
		//color: $color-brand
		padding: 0 15px
.search-page
	margin: 53px 0
	font-size: 15px
	h4,
	.heading4
		text-transform: none
		margin: 10px 0
		font-size: 18px
		a
			text-decoration: none
			color: $color-default
	&_title
		font-size: 13px
		color: #acaeb1
		text-decoration: none
		display: block
		margin: 10px 0
	li
		position: relative
		padding: 0 0 0 96px
		margin: 25px 0 25px
		.counter_num
			position: absolute
			left: 46px
			color: $color-accent
			font-size: 13px
			@extend %bold
			top: 1px
mark
	background: #ebecee
.p-error
	.heading3
		margin: 25px 0
	&_wrapp
		margin-top: 60px
	&_ul
		a
			display: block
			color: $color-default
			transition: all .5s ease
			&:hover
				color: $color-accent
				text-decoration: underline
.bg-error
	min-height: calc(100vh - 220px)
	background: url('../img/content/404.jpg') no-repeat 90px bottom
	padding: 0 0 130px

.block-fix 
	position: fixed
	right: 0
	top: 50%
	background: rgba($color-accent,.7)
	z-index: 11
	max-width: 88px
	margin: -133px 0
	border-top: 1px solid rgba($color-base,.1)
	&_item
		padding: 31px 29px
		color: $color-base
		text-align: center
		text-decoration: none
		display: block
		position: relative
		transition: all .5s ease
		cursor: pointer
		border-bottom: 1px solid rgba($color-base,.1)
		border-left: 1px solid rgba($color-base,.3)
		i
			font-size: 21px
			display: block
			margin: 0 auto
			line-height: normal
		.icon-truck
			transform: scale(-1, 1)
		p
			font-size: 10px
			line-height: 10px
		&:hover
			background: rgba($color-accent,.5)
			color: $color-base
			.block-fix_hover
				transform: translateX(0)
				right: 100% 
	&_hover
		position: absolute
		right: -999%
		top: 0
		bottom: -1px
		display: flex
		transition: all .5s ease
		align-items: center
		background: rgba($color-accent,.75)
		border: 1px solid rgba($color-base,.1)
		border-right: none
		li
			display: block
		a
			display: block
			padding: 0 15px
			color: rgba($color-base,.6)
			&:hover
				color: $color-base
.btn-top
	z-index: 11
	right: 27px
	width: 60px
	height: 60px
	bottom: 30px
	cursor: pointer
	position: fixed
	text-align: center
	color: #fff
	background: rgba($color-accent,.5)
	font-size: 21px
	line-height: 60px
	display: none
	border: 1px solid rgba($color-base,.1)
	&:hover
		border-color: transparent
		background: $color-hover
.woocommerce-MyAccount-navigation 
	clear: both
.nav-MyAccount
	background: $color-light
	padding: 5px 0
	margin-bottom: 30px
	li
		margin: 20px 0
		a
			display: block
			color: $color-default
			position: relative
			padding: 0 0 0 67px
			@extend %light
		&.is-active
			a
				@extend %bold
				.icon
					color: $color-default
	.icon
		position: absolute
		left: 26px
		color: #c5c5c5
.login
	input[type=checkbox], 
	input[type=radio]
		vertical-align: middle
		margin: 0 0 3px


//----------------media
@include breakpoint(desktop)     //---max-width 1200
	/**/
@include breakpoint(laptop)      //---max-width 992
	.sorting-filtr
		&_form
			width: auto
	.seo-blok
		margin: 15px 0
	.aside_nav
		display: none
	.aside
		margin-bottom: 15px
		//display: flex
		//flex-direction: column-reverse
		.heading3
			padding-bottom: 10px
			margin: 10px 0
	.filter
		padding-bottom: 15px
		&_btn
			margin: 0
	.result-search 
		padding: 15px 0
		input[type="search"]
			width: 260px
	.search-page 
		margin: 20px 0
		li
			padding: 0 0 0 30px
			margin: 15px 0
			.counter_num
				left: 0
	.bg-error
		background-position: 0 bottom
	.filter
		max-width: 400px
		margin: 0 auto
		&_btn
			padding: 5px 25px 5px 15px
	.sorting-filtr
		&_form
			select
				padding: 5px 25px 5px 15px
	.switch-links
		padding: 15px 0
	.data-article
		margin-bottom: 15px
@include breakpoint(tablet)      //---max-width 768
	.bg-error
		padding: 0 15px
	.sorting-filtr
		&_wrap
			flex-wrap: wrap
	.result
		width: 100%
		margin-bottom: 10px
	.result-search 
		input[type="search"]
			width: 100%
		span
			font-size: 13px
	.bg-error
		background: none
		min-height: inherit
	.p-error
		&_wrapp
			margin: 15px 0
			overflow: hidden
			clear: both
	.btn-top 
		height: 40px
		width: 40px
		line-height: 40px
		font-size: 20px
	.woocommerce-MyAccount-orders
		.woocommerce-orders-table__header-order-number,
		.woocommerce-orders-table__cell-order-number
			display: none
		td, th
			padding: 10px 4px
			font-size: 11px
			vertical-align: middle
@include breakpoint(phone)       //---max-width 480
	.seo-blok
		.btn
			max-width: 100%
	.sub-page
		margin-top: 46px
	.switch-links
		font-size: 13px
@include breakpoint(mobileonly)  //---max-width 320
	/**/