.s-icon
	&_size
		&:before
			content: ''
			display: inline-block
			vertical-align: middle
			margin: -4px 0 0 0
			@include sprite($size_guide_boys)
	&_burger
		&:before
			content: ''
			display: block
			@include sprite($burger-black)
	&_burger-w
		&:before
			content: ''
			display: block
			@include sprite($burger-white)
	&-user
		&:before
			content: ''
			display: block
			@include sprite($user)
	&-pens
		&:before
			content: ''
			display: block
			@include sprite($pens)
	&-close
		&:before
			content: ''
			display: block
			@include sprite($close)
	&-error
		&:before
			content: ''
			display: block
			@include sprite($error)
	&-location
		&:before
			content: ''
			display: block
			@include sprite($location)
	&-phone
		&:before
			content: ''
			display: block
			@include sprite($phone)
	&-building
		&:before
			content: ''
			display: block
			@include sprite($building)
	&-calendar
		&:before
			content: ''
			display: block
			@include sprite($calendar)
	&-lock
		&:before
			content: ''
			display: block
			@include sprite($lock)
	&-mail
		&:before
			content: ''
			display: block
			@include sprite($mail)
	&-map
		&:before
			content: ''
			display: block
			@include sprite($map)
	&-skype
		&:before
			content: ''
			display: block
			@include sprite($skype)
	&-biceps
		&:before
			content: ''
			display: block
			@include sprite($biceps)
	&-figure
		&:before
			content: ''
			display: block
			@include sprite($figure)
	&-strips
		&:before
			content: ''
			display: block
			@include sprite($strips)
	&-tee-shirt
		&:before
			content: ''
			display: block
			@include sprite($tee-shirt)
	&-thermometer
		&:before
			content: ''
			display: block
			@include sprite($thermometer)
	&-wool
		&:before
			content: ''
			display: block
			@include sprite($wool)
	&-open-gl
		&:before
			content: ''
			display: block
			@include sprite($open-gl)
// .woocommerce-product-gallery__trigger
// 	&:before
// 		content: ''
// 		position: absolute
// 		bottom: 0
// 		@include sprite($open-gl)
.billing
	&_email
		@extend .s-icon-mail
	&_first_name
		@extend .s-icon-user
	&_phone
		@extend .s-icon-phone
	&_city
		@extend .s-icon-map
	&_address_1,
	&_address_2
		@extend .s-icon-building
	&_country_russia
		@extend .s-icon-building

.account
	&_username
		@extend .s-icon-user
	&_password
		@extend .s-icon-pens