//= template/core/header.html
	<div class="sub-page p-error">

		
		//= template/core/breadcrumbs.html
		<div class="container bg-error">
			<div class="inline-center">
				<p class="heading1">Ошибка 404: страница не найдена</p>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<p>Волею судеб вы оказались на несуществующей странице. Дальше ещё две строки на всякий случай. На завтрак англичане предпочитают овсяную кашу и кукурузные хлопья, тем не менее расовый состав изящно применяет заснеженный термальный источник, несмотря на это, обратный обмен болгарской валюты при выезде ограничен. Очаг многовекового орошаемого земледелия теоретически возможен. </p>
				</div>
				<div class="col-sm-6 col-sm-offset-6">
					<div class="row p-error_wrapp">
						<div class="col-md-7 col-xs-6">
							<div class="p-error_block">
								<p class="heading3">Мужчинам</p>
								<ul class="p-error_ul">
									<li><a href="#">Рашгарды</a></li>
									<li><a href="#">Шорты</a></li>
									<li><a href="#">Штаны</a></li>
									<li><a href="#">Комплекты ММА</a></li>
									<li><a href="#">Футболки</a></li>
								</ul>
							</div>
							<div class="p-error_block">
								<p class="heading3">Женщинам</p>
								<ul class="p-error_ul">
									<li><a href="#">Рашгарды</a></li>
									<li><a href="#">Леггенсы</a></li>
									<li><a href="#">Топы</a></li>
									<li><a href="#">Майки</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-5 col-xs-6">
							<div class="p-error_block">
								<p class="heading3">Специальные предложения</p>
								<ul class="p-error_ul">
									<li><a href="#">Акции</a></li>
									<li><a href="#">Final round</a></li>
								</ul>
							</div>
							<div class="p-error_block">
								<p class="heading3">О магазине</p>
								<ul class="p-error_ul">
									<li><a href="#">Как заказать</a></li>
									<li><a href="#">Оплата</a></li>
									<li><a href="#">Доставка</a></li>
									<li><a href="#">Гарантии</a></li>
									<li><a href="#">Блог</a></li>
									<li><a href="#">Контакты</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
//= template/core/footer.html

