//= template/core/header.html
	<div class="sub-page">
		//= template/core/breadcrumbs.html
		<div class="container">
		    //= template/page/article/article.html
		</div>
		<div class="switch-links fon-light">
            <div class="container-full clearfix">
                <div class="pull-left">
                    <a href="#" class="link-prev"><i class="icon-left-open"></i>Предыдущая статья</a>
                </div>
                <div class="pull-right">
                    <a href="#" class="link-next">Следующая статья<i class="icon-right-open"></i></a>
                </div>
            </div>
        </div>
	</div>
//= template/core/footer.html