//= template/core/header.html
	<div class="sub-page">
		//= template/core/breadcrumbs.html
		<div class="container">
		    <div class="row p-relative">
                <div class="col-sm-12 inline-center">
                    <h1>длинный Заголовок первого уровня для примера отображения (H1)</h1>
                </div>
                <div class="col-sm-12">
                    <span class="data-article">Добавлено:  2 января 2018,  10:00</span>
                </div>
                <div class="col-lg-8 col-md-8 text-style">
                    <img src="img/content/750-480.jpg" alt="" class="aligncenter">
                    <h2>Заголовок второго уровня (H2)</h2>
                    <p>Психическая саморегуляция традиционно понимает конвергентный закон. Мышление, в представлении Морено, дает филосовский автоматизм. Архетип дает психоанализ, так, например, Ричард Бендлер для построения состояний использовал изменение субмодальностей. Бессознательное, иcходя из того, что мгновенно. Коллективное бессознательное ненаблюдаемо. Интеллект, как принято считать, недоступно интегрирует понимающий бихевиоризм.</a>
                    </p>
                    <p>Как отмечает Жан Пиаже, интеракционизм неизменяем. Супруги вступают в брак с жизненными паттернами и уровнями</p>
                    <p><img src="img/content/360-234.jpg" alt="" class="alignright">Психическая саморегуляция традиционно понимает конвергентный закон. <a href="#">Мышление, в представлении Морено,</a> дает филосовский автоматизм. <b>Архетип дает психоанализ (b)</b>, так, например, Ричард Бендлер для построения состояний использовал изменение субмодальностей. Бессознательное, иcходя из того, что мгновенно. <i>Коллективное бессознательное ненаблюдаемо (i)</i>. Интеллект, как принято считать, недоступно интегрирует понимающий бихевиоризм.</p>
                    <p>Как отмечает Жан Пиаже, интеракционизм неизменяем. Супруги вступают в брак с жизненными паттернами и уровнями дифференциации Я, унаследованными от их родительских семей, таким образом социализация наблюдаема. Психическая саморегуляция традиционно понимает конвергентный закон. </p>
                    <h3>Заголовок третьего уровня (H3)</h3>
                    <p><img src="img/content/360-234.jpg" alt="" class="aligncenter">Психическая саморегуляция традиционно понимает конвергентный закон. Мышление, в представлении Морено, дает филосовский автоматизм. Архетип дает психоанализ, так, например, Ричард Бендлер для построения состояний использовал изменение субмодальностей. </p>
                    
                    <ul>
                        <li>Первый пункт маркированного списка. </li>
                        <li>Второй пункт маркированного списка. Он набран не в одну, а в две неиллюзорные строки, чтобы настроить интерлиньяж и всё, что положено. </li>
                        <li>Третий пункт маркированного списка. </li>
                    </ul>
                    <h4>Заголовок четвертого уровня (H4)</h4>
                    <p>Психическая саморегуляция традиционно понимает <a href="#">конвергентный закон. (a:href)</a> Мышление, в представлении Морено, дает филосовский автоматизм. Архетип дает психоанализ, так, например, Ричард Бендлер для построения состояний использовал изменение субмодальностей. </p>
                    <ol>
                        <li>Первый пункт маркированного списка. </li>
                        <li>Второй пункт маркированного списка. Он набран не в одну, а в две неиллюзорные строки, чтобы настроить интерлиньяж и всё, что положено. </li>
                        <li>Третий пункт маркированного списка. </li>
                    </ol>
                    <h5>Заголовок пятого уровня (H5)</h5>
                    <p>Психическая саморегуляция традиционно понимает конвергентный закон. Мышление, в представлении Морено, дает филосовский автоматизм. Архетип дает психоанализ, так, например, Ричард Бендлер для построения состояний использовал изменение субмодальностей. </p>
                    <table>
                        <tr>
                            <th>1 столбец</th>
                            <th>2 столбец</th>
                            <th>3 столбец</th>
                        </tr>
                        <tr>
                            <td>1 строка 1 столбец</td>
                            <td>1 строка 2 столбец</td>
                            <td>1 строка 3 столбец</td>
                        </tr>
                        <tr>
                            <td>2 строка 1 столбец</td>
                            <td>2 строка 2 столбец</td>
                            <td>2 строка 3 столбец</td>
                        </tr>
                        <tr>
                            <td>3 строка 1 столбец</td>
                            <td>3 строка 2 столбец</td>
                            <td>3 строка 3 столбец</td>
                        </tr>
                    </table>
                    <h6>Заголовок шестого уровня (H6)</h6>
                    <p>Психическая саморегуляция традиционно понимает конвергентный закон. Мышление, в представлении Морено, дает филосовский автоматизм. Архетип дает психоанализ, так, например, Ричард Бендлер для построения состояний использовал изменение субмодальностей. </p>
                    <blockquote>
                        <p>Психическая саморегуляция традиционно понимает конвергентный закон. Мышление, в заурядном представлении Морено, дает филосовский автоматизм. Архетип дает психоанализ</p>
                    </blockquote>
                    <p>Архетип дает психоанализ, так, например, Ричард Бендлер для построения состояний использовал изменение субмодальностей. </p>
                    <div class="switch-links">
                        <div class="clearfix">
                            <div class="pull-left">
                                <a href="#" class="link-prev"><i class="icon-left-dir"></i>Предыдущая статья</a>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="link-next">Следующая статья<i class="icon-right-dir"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-lg-offset-1 col-md-4">
                    <aside class="aside">
                        <div class="aside-fix">
                            <img src="img/content/263-468.jpg" alt="">
                            <div class="aside-fix_content">
                                <p>
                                    следите за Dojo store в Instagram
                                </p>
                            </div>
                            <div class="aside-fix_btn">
                                <a href="#" class="btn btn-inverse btn-full btn-medium">Подписаться сейчас</a>
                            </div>
                        </div>
                        <div class="js-resize-wrp filter js-panel-wrapper">
                            <div class="js-panel-btn filter_btn hidden-lg hidden-md">
                                <span class="filter_open">открыть архив</span>
                                <span class="filter_close">скрыть архив</span>
                            </div>
                            <div class="aside_nav js-resize-panel js-panel-toggle">
                                <p class="heading3">Архив новостей</p>
                                <ul class="js-accordion-menu aside-nav_ul">
                                    <li class="aside-nav_box current-cat">
                                        <a href="#">2018</a>
                                        <a href="#" class="open"></a>
                                        <ul class="aside-nav_menu">
                                            <li class="aside-nav_box current-cat">
                                                <a href="#">Январь <span>(3)</span></a>
                                                <a href="#" class="open"></a>
                                                <ul class="aside-nav_sub">
                                                    <li>
                                                        <a href="#">Первая статья из архива</a>
                                                    </li>
                                                    <li class="current-cat">
                                                        <a href="#">Текущая статья в архиве</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Третья статья в архиве</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Четвёртая статья в архиве</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="aside-nav_box">
                                                <a href="#">Февраль <span>(2)</span></a>
                                                <a href="#" class="open"></a>
                                                <ul class="aside-nav_sub">
                                                    <li>
                                                        <li>
                                                        <a href="#">Первая статья из архива</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Текущая статья в архиве</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Третья статья в архиве</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Четвёртая статья в архиве</a>
                                                    </li>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="aside-nav_box">
                                        <a href="#">2017</a>
                                        <a href="#" class="open"></a>
                                        <ul class="aside-nav_menu">
                                            <li class="aside-nav_box">
                                                <a href="#">Январь <span>(3)</span></a>
                                                <a href="#" class="open"></a>
                                                <ul class="aside-nav_sub">
                                                    <li>
                                                        <a href="#">Первая статья из архива</a>
                                                        <a href="#">Текущая статья в архиве</a>
                                                        <a href="#">Третья статья в архиве</a>
                                                        <a href="#">Четвёртая статья в архиве</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
		
	</div>
//= template/core/footer.html