//= template/core/header.html
	<div class="sub-page">

		
		//= template/core/breadcrumbs.html
		<div class="container">
			<div class="inline-center">
				<h1>Публикации</h1>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="b-block b-block-big fon-light">
						<div class="row flex-row-wrap flex-items-middle">
							<div class="col-md-6 col-xs-12">
								<a href="#" class="b-block_img">
									<img src="img/content/555-360-1.jpg" alt="">
								</a>
							</div>
							<div class="col-md-6 col-xs-12">
								<div class="b-block_content js-match-height ">
									<p class="heading2"><a href="#">Заголовок особо важной новости или статьи в три строки для примера</a></p>
									<div class="b-block_bottom">
										<span class="b-block_data">1 час назад</span>
										<p>Озеро Ньяса, несмотря на то, что есть много бунгало для проживания, непосредственно просветляет туристический бамбуковый медведь панда. Абориген с чертами экваториальной и монголоидной рас, по определению, интуитивно понятен. На завтрак англичане предпочитают овсяную кашу ...</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-6">
					<div class="b-block">
						<a href="#" class="b-block_img">
							<img src="img/content/360-240.jpg" alt="">
						</a>
						<div class="b-block_content js-match-height">
							<p class="heading5"><a href="#">Заголовок особо важной новости или статьи в три строки для примера</a></p>
							<div class="b-block_bottom">
								<span class="b-block_data">1 час назад</span>
								<p>Очаг локальной вспышки, проистекающей из многовекового орошаемого земледелия, возможен, но не вполне очевиден ...</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-6">
					<div class="b-block">
						<a href="#" class="b-block_img">
							<img src="img/content/360-240-2.jpg" alt="">
						</a>
						<div class="b-block_content js-match-height">
							<p class="heading5"><a href="#">Заголовок особо важной новости или статьи в три строки для примера</a></p>
							<div class="b-block_bottom">
								<span class="b-block_data">1 час назад</span>
								<p>Очаг локальной вспышки, проистекающей из многовекового орошаемого земледелия, возможен, но не вполне очевиден ...</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-6">
					<div class="b-block">
						<a href="#" class="b-block_img">
							<img src="img/content/360-240-3.jpg" alt="">
						</a>
						<div class="b-block_content js-match-height">
							<p class="heading5"><a href="#">Заголовок особо важной новости или статьи в три строки для примера</a></p>
							<div class="b-block_bottom">
								<span class="b-block_data">1 час назад</span>
								<p>Очаг локальной вспышки, проистекающей из многовекового орошаемого земледелия, возможен, но не вполне очевиден ...</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-6">
					<div class="b-block">
						<a href="#" class="b-block_img">
							<img src="img/content/360-240.jpg" alt="">
						</a>
						<div class="b-block_content js-match-height">
							<p class="heading5"><a href="#">Заголовок особо важной новости или статьи в три строки для примера</a></p>
							<div class="b-block_bottom">
								<span class="b-block_data">1 час назад</span>
								<p>Очаг локальной вспышки, проистекающей из многовекового орошаемого земледелия, возможен, но не вполне очевиден ...</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-6">
					<div class="b-block">
						<a href="#" class="b-block_img">
							<img src="img/content/360-240-2.jpg" alt="">
						</a>
						<div class="b-block_content js-match-height">
							<p class="heading5"><a href="#">Заголовок особо важной новости или статьи в три строки для примера</a></p>
							<div class="b-block_bottom">
								<span class="b-block_data">1 час назад</span>
								<p>Очаг локальной вспышки, проистекающей из многовекового орошаемого земледелия, возможен, но не вполне очевиден ...</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-6">
					<div class="b-block">
						<a href="#" class="b-block_img">
							<img src="img/content/360-240-3.jpg" alt="">
						</a>
						<div class="b-block_content js-match-height">
							<p class="heading5"><a href="#">Заголовок особо важной новости или статьи в три строки для примера</a></p>
							<div class="b-block_bottom">
								<span class="b-block_data">1 час назад</span>
								<p>Очаг локальной вспышки, проистекающей из многовекового орошаемого земледелия, возможен, но не вполне очевиден ...</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		//= template/page/home/s-banner.html
		<div class="s-bottom">
			<div class="container">
				<div class="row js-three-slider b-block_slider">
					<div class="col-sm-4 col-xs-6">
						<div class="b-block">
							<a href="#" class="b-block_img">
								<img src="img/content/360-240.jpg" alt="">
							</a>
							<div class="b-block_content js-match-height">
								<p class="heading5"><a href="#">Заголовок особо важной новости или статьи в три строки для примера</a></p>
								<div class="b-block_bottom">
									<span class="b-block_data">1 час назад</span>
									<p>Очаг локальной вспышки, проистекающей из многовекового орошаемого земледелия, возможен, но не вполне очевиден ...</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-xs-6">
						<div class="b-block">
							<a href="#" class="b-block_img">
								<img src="img/content/360-240-2.jpg" alt="">
							</a>
							<div class="b-block_content js-match-height">
								<p class="heading5"><a href="#">Заголовок особо важной новости или статьи в три строки для примера</a></p>
								<div class="b-block_bottom">
									<span class="b-block_data">1 час назад</span>
									<p>Очаг локальной вспышки, проистекающей из многовекового орошаемого земледелия, возможен, но не вполне очевиден ...</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-xs-6">
						<div class="b-block">
							<a href="#" class="b-block_img">
								<img src="img/content/360-240-3.jpg" alt="">
							</a>
							<div class="b-block_content js-match-height">
								<p class="heading5"><a href="#">Заголовок особо важной новости или статьи в три строки для примера</a></p>
								<div class="b-block_bottom">
									<span class="b-block_data">1 час назад</span>
									<p>Очаг локальной вспышки, проистекающей из многовекового орошаемого земледелия, возможен, но не вполне очевиден ...</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="pagenavi-wrapp">
				<div class="container">
					<div class="wp-pagenavi">
						<a class="previouspostslink" rel="prev" href="#">НАЗАД</a>
						<a class="page larger" href="#">1</a>
						<a class="page larger" href="#">2</a>
						<span class="extend">...</span>
						<a class="page larger" href="#">17</a>
						<span class="current">18</span>
						<a class="page larger" href="#">19</a>
						<span class="extend">...</span>
						<a class="larger page" href="#">25</a>
						<a class="larger page" href="#">26</a>
						<a class="nextpostslink" href="#">ВПЕРЕД</a>
					</div>
				</div>
			</div>
		</div>
	</div>
//= template/core/footer.html