//= template/core/header.html
	<div class="sub-page">
		//= template/core/breadcrumbs.html
		<div class="container">
			<div class="inline-center">
				<p class="heading1">Производители товаров</p>
			</div>
			<div class="c-brand">
				<div class="row">
					<div class="col-md-2 col-sm-3 col-xs-4 col-c-6">
						<a href="#" class="c-brand_item">
							<img src="img/content/165-165.jpg" alt="">
						</a>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-4 col-c-6">
						<a href="#" class="c-brand_item">
							<img src="img/content/165-165-2.jpg" alt="">
						</a>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-4 col-c-6">
						<a href="#" class="c-brand_item">
							<img src="img/content/165-165-3.jpg" alt="">
						</a>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-4 col-c-6">
						<a href="#" class="c-brand_item">
							<img src="img/content/165-165-4.jpg" alt="">
						</a>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-4 col-c-6">
						<a href="#" class="c-brand_item">
							<img src="img/content/165-165-5.jpg" alt="">
						</a>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-4 col-c-6">
						<a href="#" class="c-brand_item">
							<img src="img/content/165-165-6.jpg" alt="">
						</a>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-4 col-c-6">
						<a href="#" class="c-brand_item">
							<img src="img/content/165-165-7.jpg" alt="">
						</a>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-4 col-c-6">
						<a href="#" class="c-brand_item">
							<img src="img/content/165-165-8.jpg" alt="">
						</a>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-4 col-c-6">
						<a href="#" class="c-brand_item">
							<img src="img/content/165-165-9.jpg" alt="">
						</a>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-4 col-c-6">
						<a href="#" class="c-brand_item">
							<img src="img/content/165-165-10.jpg" alt="">
						</a>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-4 col-c-6">
						<a href="#" class="c-brand_item">
							<img src="img/content/165-165-11.jpg" alt="">
						</a>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-4 col-c-6">
						<a href="#" class="c-brand_item">
							<img src="img/content/165-165-12.jpg" alt="">
						</a>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-4 col-c-6">
						<a href="#" class="c-brand_item">
							<img src="img/content/165-165-13.jpg" alt="">
						</a>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-4 col-c-6">
						<a href="#" class="c-brand_item">
							<img src="img/content/165-165-14.jpg" alt="">
						</a>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-4 col-c-6">
						<a href="#" class="c-brand_item">
							<img src="img/content/165-165-15.jpg" alt="">
						</a>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-4 col-c-6">
						<a href="#" class="c-brand_item">
							<img src="img/content/165-165-16.jpg" alt="">
						</a>
					</div>
					
				</div>
			</div>
		</div>
		//= template/page/home/category-nav.html
		//= template/page/home/seo-block.html
	</div>
//= template/core/footer.html