//= template/core/header.html
	<div class="sub-page">
		//= template/core/breadcrumbs.html
		<div class="container">
			<div class="inline-center">
				<p class="heading1">Мужчинам</p>
			</div>
			<div class="row">
				<div class="col-md-3">
					<aside class="js-resize-wrp aside sidebar filter js-panel-wrapper">	
						<div class="js-panel-btn filter_btn hidden-lg hidden-md">
							<span class="filter_open">открыть фильтры</span>
							<span class="filter_close">скрыть фильтр</span>
						</div>
						<div class="sidebar_wrapp aside_nav filter_panel js-panel-toggle js-resize-panel">
							<p class="heading3">Мужчинам</p>
							<ul class="nav-aside_ul js-accordion-menu">
								<li class="nav-aside_box">
									<a class="nav-aside_title" href="#">Все товары</a>
									<a href="#" class="open"></a>
									<ul class="nav-aside_menu">
										<li><a href="#">Рашгарды</a></li>
										<li><a href="#">Компрессионные штаны</a></li>
										<li><a href="#">Комплекты ММА</a></li>
										<li><a href="#">Шорты</a></li>
										<li><a href="#">Футболки</a></li>
										<li><a href="#">Аксессуары</a>
									</ul>
								</li>
							</ul>
							<p class="heading3">Женщинам</p>
							<ul class="nav-aside_ul js-accordion-menu">
								<li class="nav-aside_box">
									<a class="nav-aside_title" href="#">Все товары</a>
									<a href="#" class="open"></a>
									<ul class="nav-aside_menu">
										<li><a href="#">Рашгарды</a></li>
										<li><a href="#">Компрессионные штаны</a></li>
										<li><a href="#">Комплекты ММА</a></li>
										<li><a href="#">Шорты</a></li>
										<li><a href="#">Футболки</a></li>
										<li><a href="#">Аксессуары</a>
									</ul>
								</li>
							</ul>
							<p class="heading3">ФИльтры</p>
							<ul class="nav-aside_ul js-accordion-menu">
								<li class="nav-aside_box">
									<a class="nav-aside_title" href="#">Цена</a>
									<a href="#" class="open"></a>
									<ul class="nav-aside_menu">
										<li></li>
									</ul>
								</li>
								<li class="nav-aside_box">
									<a class="nav-aside_title" href="#">Размер</a>
									<a href="#" class="open"></a>
									<ul class="nav-aside_checked">
										<li><a href="#">40</a><span class="count">(47)</span></li>
										<li><a href="#">46</a><span class="count">(151)</span></li>
										<li><a href="#">48</a><span class="count">(55)</span></li>
										<li><a href="#">50</a><span class="count">(7)</span></li>
										<li><a href="#">52</a><span class="count">(47)</span></li>
										<li><a href="#">54</a><span class="count">(63)</span></li>
										<li><a href="#">56</a><span class="count">(4)</span></li>
										<li><a href="#">58</a><span class="count">(50)</span></li>
										<li><a href="#">60</a><span class="count">(50)</span></li>
										<li><a href="#">62</a><span class="count">(50)</span></li>
										<li><a href="#">64</a><span class="count">(50)</span></li>
										<li><a href="#">66</a><span class="count">(50)</span></li>
										<li><a href="#">N/A</a><span class="count">(50)</span></li>
									</ul>
								</li>
								<li class="nav-aside_box">
									<a class="nav-aside_title" href="#">Бренд</a>
									<a href="#" class="open"></a>
									<ul class="nav-aside_checked">
										<li class="chosen"><a href="#">Aprico</a><span class="count">(47)</span></li>
										<li><a href="#">Barbara Lebek</a><span class="count">(151)</span></li>
										<li><a href="#">Chalou</a><span class="count">(55)</span></li>
										<li><a href="#">Concept</a><span class="count">(7)</span></li>
										<li><a href="#">Diana Gallesi</a><span class="count">(47)</span></li>
										<li><a href="#">Diego</a><span class="count">(63)</span></li>
										<li><a href="#">Dresses Unlimited</a><span class="count">(4)</span></li>
										<li><a href="#">Elena Miro</a><span class="count">(50)</span></li>
										<li><a href="#">Eugen Klein</a><span class="count">(47)</span></li>
										<li><a href="#">K&K</a><span class="count">(47)</span></li>
									</ul>
								</li>
							</ul>
							<div class="nav-aside_button">
								<a href="#" class="btn btn-small2 btn-light2">СБРОСИТЬ</a>
							</div>
						</div>
					</aside>
				</div>
				<div class="col-md-9">
					<div class="content-block">
						<div class="flex-row flex-items-between flex-items-middle sorting-filtr">
							<p>В нашем интернет-магазине обильно представлены рашгарды, компрессионные штаны, шорты, комплекты ММА и более другие товары для единоборств, спорта и активного отдыха</p>
							<form class="woocommerce-ordering" method="get">
								<select name="orderby" class="orderby">
									<option value="menu_order" selected="selected">Сортировать</option>
									<option value="popularity">популярности</option>
									<option value="rating">рейтингу</option>
									<option value="date">новизне</option>
									<option value="price">возрастанию</option>
									<option value="price-desc">убыванию</option>
									<option value="by_stock">Sort by availability</option>
									<option value="on_sale_first">Show sale items first</option>
								</select>
							</form>
						</div>
						<div class="prod-cat">
							<div class="row">
								<div class="col-sm-4 col-xs-6">
									<div class="product-wrp">
										<a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-1.jpg" alt="">
												<span class="onsale">-10%</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Tecmo Long Sleeves</span>
													<span class="prod-cat_name">Рашгард мужской</span>
												</div>
							                    <span class="price">
													<del>
														<span class="woocommerce-Price-amount amount">
															8 000
														</span>
													</del> 
													<ins>
														<span class="woocommerce-Price-amount amount">
															7 200
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
							    </div>
						        <div class="col-sm-4 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-2.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Hardcore Good Old Boxing</span>
													<span class="prod-cat_name">Футболка мужская</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															7 999
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-4 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-3.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Gorilla Long Sleeves</span>
													<span class="prod-cat_name">Рашгард мужской</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															8 900
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-4 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-4.jpg" alt="">
												<span class="new">new!</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Rapid Spats</span>
													<span class="prod-cat_name">Компрессионные штаны</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															6 500
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-4 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-5.jpg" alt="">
												<span class="onsale">-10%</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Gorilla Short Sleeves</span>
													<span class="prod-cat_name">Комплект MMA</span>
												</div>
							                    <span class="price">
													<del>
														<span class="woocommerce-Price-amount amount">
															9 000
														</span>
													</del> 
													<ins>
														<span class="woocommerce-Price-amount amount">
															8 100
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-4 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-6.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Bad Boy Sphere</span>
													<span class="prod-cat_name">Рашгард мужской</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															7 999
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-4 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-7.jpg" alt="">
												<span class="sale">sale</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Koi</span>
													<span class="prod-cat_name">Шорты мужские</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															1 299
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-4 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-8.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Bad Boy Sphere </span>
													<span class="prod-cat_name">Компрессионные штаны</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															9 970
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						    </div>
					   	</div>
					</div>
				</div>
			</div>
			<div class="pagenavi-wrapp">
				<div class="container">
					<div class="wp-pagenavi">
						<a class="previouspostslink" rel="prev" href="#">НАЗАД</a>
						<a class="page larger" href="#">1</a>
						<a class="page larger" href="#">2</a>
						<span class="extend">...</span>
						<a class="page larger" href="#">17</a>
						<span class="current">18</span>
						<a class="page larger" href="#">19</a>
						<span class="extend">...</span>
						<a class="larger page" href="#">25</a>
						<a class="larger page" href="#">26</a>
						<a class="nextpostslink" href="#">ВПЕРЕД</a>
					</div>
				</div>
			</div>
		</div>

		
		//= template/page/home/s-banner.html
		//= template/page/home/seo-block.html
	</div>
//= template/core/footer.html