//= template/core/header.html
	<div class="sub-page">

		
		//= template/core/breadcrumbs.html
		<div class="container">
			<div class="inline-center">
				<p class="heading1">Контактная информация</p>
			</div>
			<div class="row">
				<div class="col-md-6">
					<p class="heading2 b-title">Свяжитесь с нами</p>
					<div class="row">
						<div class="col-lg-6 col-md-7 col-sm-7">
							<div class="p-contact js-match-height">
								<i class="icon icon-location"></i>
								<ul class="p-contact_ul">
									<li><p>Белгород, ул.Мичурина 100<br>второй подъезд</p></li>
								</ul>
							</div>
							<div class="p-contact js-match-height">
								<i class="icon icon-clock-1"></i>
								<ul class="p-contact_ul">
									<li>
										<p>
											Пн – Пт: с 10:00 до 18:30<br>
											Сб: с 12:00 до 17:00<br>
											Вс: Выходной
										</p>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-5 col-lg-offset-1 col-sm-5">
							<div class="p-contact js-match-height">
								<i class="icon icon-phone"></i>
								<ul class="p-contact_ul p-contact_phone">
									<li>
										<a href="tel:+74 (99) 322-77-91">+74 (99) 322-77-91</a>
										<a href="tel:+74 (99) 322-19-77">+74 (99) 322-19-77</a>
									</li>
								</ul>
							</div>
							<div class="p-contact js-match-height">
								<i class="icon icon-mail-alt"></i>
								<ul class="p-contact_ul p-contact_mail">
									<li>
										<a href="mailto:dojostore2.0@gmail.com">dojostore2.0@gmail.com</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-md-12">
							<div id="map"></div>
						</div>
					</div>
				</div>
				<div class="col-md-5 col-md-offset-1">
					<p class="heading2 b-title">Задайте нам вопрос</p>
					<form method="post" class="wpcf7-form">
						<p class="icon-form">
                            <i class="icon s-icon-user"></i>
                            <input type="text" name="your-name" placeholder="Ваше имя*" value="" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"> 
                        </p>
                        <p class="icon-form">
                            <i class="icon s-icon-mail"></i>
                            <input type="email" placeholder="Ваш e-mail" name="your-email" value="" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-email">
                        </p>
                        <p class="icon-form">
                            <i class="icon s-icon-phone"></i>
                            <input type="tel" placeholder="Номер телефона">
                        </p>
                        <p class="icons-textarea">
                            <i class="icon s-icon-pens"></i>
                            <textarea placeholder="Вопрос или комментарий *"></textarea>
                        </p>
                        <p class="btn-center">
		                    <input type="submit" value="Отправить сообщение" class="wpcf7-form-control wpcf7-submit btn btn-full btn-primary">
		                </p>
					</form>
				</div>
			</div>
		</div>
		

		//= template/page/home/seo-block.html
	</div>
//= template/core/footer.html

<script src="http://maps.google.com/maps/api/js?key=AIzaSyBBHPtvdcQZQUorcPAipjZAQPjPKr7hIkU"></script>
<script>
	function initialize() {
	  var mapCanvas   = document.getElementById('map');
	  var mapOptions  = {
	    center: new google.maps.LatLng(50.611461, 36.569498),
	    zoom: 17,
	   zoomControl: true,
	            disableDoubleClickZoom: true,
	            mapTypeControl: false,
	            scaleControl: false,
	            scrollwheel: false,
	            panControl: true,
	            streetViewControl: true,
	            draggable : true,
	            overviewMapControl: false,
	            overviewMapControlOptions: {
	            opened: false,
	            },
	    mapTypeId: google.maps.MapTypeId.ROADMAP
	  };
	  var map     = new google.maps.Map(mapCanvas, mapOptions);
	  var markers   = [],
	      myPlaces  = [];
	      myPlaces.push(new Place('Белгород', 50.611461, 36.569498, 'ул.Мичурина 100' + "<br>" + 'второй подъезд'));
	      for (var i = 0, n = myPlaces.length; i < n; i++) {
	      var marker  = new google.maps.Marker({
	          position: new google.maps.LatLng(myPlaces[i].latitude,
	          myPlaces[i].longitude),
	          map       : map,
	          title     : myPlaces[i].name,
	          icon      : "img/icons/marker.png",
	          animation : google.maps.Animation.DROP
	        });
	      var infowindow = new google.maps.InfoWindow({
	        content: '<div class="info-wrp"><p>' + myPlaces[i].name + '</p><span>' + myPlaces[i].description
	      });
	      makeInfoWindowEvent(map, infowindow, marker);
	      markers.push(marker);
	    }
	  }
	  function makeInfoWindowEvent(map, infowindow, marker) {
	    google.maps.event.addListener(marker, 'click', function() {
	      infowindow.open(map, marker);
	    });
	  }
	  function Place(name, latitude, longitude, description){
	    this.name         = name;
	    this.latitude     = latitude;
	    this.longitude    = longitude;
	    this.description  = description;
	  }
	google.maps.event.addDomListener(window, 'load', initialize);
	</script>