//= template/core/header.html
	<div class="main-page">
		//= template/page/home/m-slider.html
		//= template/page/home/s-partners.html
		//= template/page/home/category-nav.html

		
		<div class="inline-center">
			<p class="heading1">Специальные предложения</p>
		</div>
		<div class="tabs tabs-cat">
			<ul class="tabs-cat_nav fon-light">
				<li><a href="#tabs-nav1">Новинки</a></li>
				<li><a href="#tabs-nav2">Акции</a></li>
				<li><a href="#tabs-nav3">Хиты продаж</a></li>
				<li><a href="#tabs-nav4">Товар недели</a></li>
			</ul>
			<div class="tabs_panel" id="tabs-nav1">
				<div class="tabs hidden-xs">
					<ul class="container tabs_nav">
						<li><a href="#tabs1">Мужчинам</a></li>
						<li><a href="#tabs2">Женщинам</a></li>
					</ul>
					<div id="tabs1" class="tabs_panel ">
						<div class="container">
							//= template/page/home/product-category.html
						</div>
						<div class="fon-light hidden-xs">					
							<div class="container">
								<a href="#" class="btn-ajax">
									<i class="icon icon-arrows-cw"></i>
									<p>Больше товаров</p>
								</a>
							</div>
						</div>
					</div>
					<div id="tabs2" class="tabs_panel">
						<div class="container">
							//= template/page/home/product-category.html
						</div>
						<div class="fon-light hidden-xs">					
							<div class="container">
								<a href="#" class="btn-ajax">
									<i class="icon icon-arrows-cw"></i>
									<p>Больше товаров</p>
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="tabs visible-xs">
					<ul class="tabs_nav container">
						<li><a href="#tabs1">Мужчинам</a></li>
						<li><a href="#tabs2">Женщинам</a></li>
					</ul>
					<div id="tabs1" class="prod-cat">
						<div class="container">
						    <div class="row js-mob-slider">
								<div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-1.jpg" alt="">
												<span class="onsale">-10%</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Tecmo Long Sleeves</span>
													<span class="prod-cat_name">Рашгард мужской</span>
												</div>
							                    <span class="price">
													<del>
														<span class="woocommerce-Price-amount amount">
															8 000
														</span>
													</del> 
													<ins>
														<span class="woocommerce-Price-amount amount">
															7 200
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
							    </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-2.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Hardcore Good Old Boxing</span>
													<span class="prod-cat_name">Футболка мужская</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															7 999
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-3.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Gorilla Long Sleeves</span>
													<span class="prod-cat_name">Рашгард мужской</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															8 900
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-4.jpg" alt="">
												<span class="new">new!</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Rapid Spats</span>
													<span class="prod-cat_name">Компрессионные штаны</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															6 500
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-5.jpg" alt="">
												<span class="onsale">-10%</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Gorilla Short Sleeves</span>
													<span class="prod-cat_name">Комплект MMA</span>
												</div>
							                    <span class="price">
													<del>
														<span class="woocommerce-Price-amount amount">
															9 000
														</span>
													</del> 
													<ins>
														<span class="woocommerce-Price-amount amount">
															8 100
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-6.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Bad Boy Sphere</span>
													<span class="prod-cat_name">Рашгард мужской</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															7 999
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-7.jpg" alt="">
												<span class="sale">sale</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Koi</span>
													<span class="prod-cat_name">Шорты мужские</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															1 299
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-8.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Bad Boy Sphere </span>
													<span class="prod-cat_name">Компрессионные штаны</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															9 970
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
					<div id="tabs2" class="prod-cat">
						<div class="container">
						    <div class="row js-mob-slider">
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-1.jpg" alt="">
												<span class="onsale">-10%</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Tecmo Long Sleeves</span>
													<span class="prod-cat_name">Рашгард мужской</span>
												</div>
							                    <span class="price">
													<del>
														<span class="woocommerce-Price-amount amount">
															8 000
														</span>
													</del> 
													<ins>
														<span class="woocommerce-Price-amount amount">
															7 200
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
							    </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-2.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Hardcore Good Old Boxing</span>
													<span class="prod-cat_name">Футболка мужская</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															7 999
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-3.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Gorilla Long Sleeves</span>
													<span class="prod-cat_name">Рашгард мужской</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															8 900
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-4.jpg" alt="">
												<span class="new">new!</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Rapid Spats</span>
													<span class="prod-cat_name">Компрессионные штаны</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															6 500
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-5.jpg" alt="">
												<span class="onsale">-10%</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Gorilla Short Sleeves</span>
													<span class="prod-cat_name">Комплект MMA</span>
												</div>
							                    <span class="price">
													<del>
														<span class="woocommerce-Price-amount amount">
															9 000
														</span>
													</del> 
													<ins>
														<span class="woocommerce-Price-amount amount">
															8 100
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-6.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Bad Boy Sphere</span>
													<span class="prod-cat_name">Рашгард мужской</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															7 999
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-7.jpg" alt="">
												<span class="sale">sale</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Koi</span>
													<span class="prod-cat_name">Шорты мужские</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															1 299
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-8.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Bad Boy Sphere </span>
													<span class="prod-cat_name">Компрессионные штаны</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															9 970
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>
			</div>
			<div class="tabs_panel" id="tabs-nav2">
				<div class="tabs hidden-xs">
					<ul class="container tabs_nav">
						<li><a href="#tabs1">Мужчинам</a></li>
						<li><a href="#tabs2">Женщинам</a></li>
					</ul>
					<div id="tabs1" class="tabs_panel ">
						<div class="container">
							//= template/page/home/product-category.html
						</div>
						<div class="fon-light hidden-xs">					
							<div class="container">
								<a href="#" class="btn-ajax">
									<i class="icon icon-arrows-cw"></i>
									<p>Больше товаров</p>
								</a>
							</div>
						</div>
					</div>
					<div id="tabs2" class="tabs_panel">
						<div class="container">
							//= template/page/home/product-category.html
						</div>
						<div class="fon-light hidden-xs">					
							<div class="container">
								<a href="#" class="btn-ajax">
									<i class="icon icon-arrows-cw"></i>
									<p>Больше товаров</p>
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="tabs visible-xs">
					<ul class="tabs_nav container">
						<li><a href="#tabs1">Мужчинам</a></li>
						<li><a href="#tabs2">Женщинам</a></li>
					</ul>
					<div id="tabs1" class="prod-cat">
						<div class="container">
						    <div class="row js-mob-slider">
								<div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-1.jpg" alt="">
												<span class="onsale">-10%</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Tecmo Long Sleeves</span>
													<span class="prod-cat_name">Рашгард мужской</span>
												</div>
							                    <span class="price">
													<del>
														<span class="woocommerce-Price-amount amount">
															8 000
														</span>
													</del> 
													<ins>
														<span class="woocommerce-Price-amount amount">
															7 200
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
							    </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-2.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Hardcore Good Old Boxing</span>
													<span class="prod-cat_name">Футболка мужская</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															7 999
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-3.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Gorilla Long Sleeves</span>
													<span class="prod-cat_name">Рашгард мужской</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															8 900
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-4.jpg" alt="">
												<span class="new">new!</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Rapid Spats</span>
													<span class="prod-cat_name">Компрессионные штаны</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															6 500
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-5.jpg" alt="">
												<span class="onsale">-10%</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Gorilla Short Sleeves</span>
													<span class="prod-cat_name">Комплект MMA</span>
												</div>
							                    <span class="price">
													<del>
														<span class="woocommerce-Price-amount amount">
															9 000
														</span>
													</del> 
													<ins>
														<span class="woocommerce-Price-amount amount">
															8 100
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-6.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Bad Boy Sphere</span>
													<span class="prod-cat_name">Рашгард мужской</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															7 999
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-7.jpg" alt="">
												<span class="sale">sale</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Koi</span>
													<span class="prod-cat_name">Шорты мужские</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															1 299
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-8.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Bad Boy Sphere </span>
													<span class="prod-cat_name">Компрессионные штаны</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															9 970
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
					<div id="tabs2" class="prod-cat">
						<div class="container">
						    <div class="row js-mob-slider">
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-1.jpg" alt="">
												<span class="onsale">-10%</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Tecmo Long Sleeves</span>
													<span class="prod-cat_name">Рашгард мужской</span>
												</div>
							                    <span class="price">
													<del>
														<span class="woocommerce-Price-amount amount">
															8 000
														</span>
													</del> 
													<ins>
														<span class="woocommerce-Price-amount amount">
															7 200
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
							    </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-2.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Hardcore Good Old Boxing</span>
													<span class="prod-cat_name">Футболка мужская</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															7 999
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-3.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Gorilla Long Sleeves</span>
													<span class="prod-cat_name">Рашгард мужской</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															8 900
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-4.jpg" alt="">
												<span class="new">new!</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Rapid Spats</span>
													<span class="prod-cat_name">Компрессионные штаны</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															6 500
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-5.jpg" alt="">
												<span class="onsale">-10%</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Gorilla Short Sleeves</span>
													<span class="prod-cat_name">Комплект MMA</span>
												</div>
							                    <span class="price">
													<del>
														<span class="woocommerce-Price-amount amount">
															9 000
														</span>
													</del> 
													<ins>
														<span class="woocommerce-Price-amount amount">
															8 100
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-6.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Bad Boy Sphere</span>
													<span class="prod-cat_name">Рашгард мужской</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															7 999
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-7.jpg" alt="">
												<span class="sale">sale</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Koi</span>
													<span class="prod-cat_name">Шорты мужские</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															1 299
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-8.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Bad Boy Sphere </span>
													<span class="prod-cat_name">Компрессионные штаны</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															9 970
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>
			</div>
			<div class="tabs_panel" id="tabs-nav3">
				<div class="tabs hidden-xs">
					<ul class="container tabs_nav">
						<li><a href="#tabs1">Мужчинам</a></li>
						<li><a href="#tabs2">Женщинам</a></li>
					</ul>
					<div id="tabs1" class="tabs_panel ">
						<div class="container">
							//= template/page/home/product-category.html
						</div>
						<div class="fon-light hidden-xs">					
							<div class="container">
								<a href="#" class="btn-ajax">
									<i class="icon icon-arrows-cw"></i>
									<p>Больше товаров</p>
								</a>
							</div>
						</div>
					</div>
					<div id="tabs2" class="tabs_panel">
						<div class="container">
							//= template/page/home/product-category.html
						</div>
						<div class="fon-light hidden-xs">					
							<div class="container">
								<a href="#" class="btn-ajax">
									<i class="icon icon-arrows-cw"></i>
									<p>Больше товаров</p>
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="tabs visible-xs">
					<ul class="tabs_nav container">
						<li><a href="#tabs1">Мужчинам</a></li>
						<li><a href="#tabs2">Женщинам</a></li>
					</ul>
					<div id="tabs1" class="prod-cat">
						<div class="container">
						    <div class="row js-mob-slider">
								<div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-1.jpg" alt="">
												<span class="onsale">-10%</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Tecmo Long Sleeves</span>
													<span class="prod-cat_name">Рашгард мужской</span>
												</div>
							                    <span class="price">
													<del>
														<span class="woocommerce-Price-amount amount">
															8 000
														</span>
													</del> 
													<ins>
														<span class="woocommerce-Price-amount amount">
															7 200
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
							    </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-2.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Hardcore Good Old Boxing</span>
													<span class="prod-cat_name">Футболка мужская</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															7 999
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-3.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Gorilla Long Sleeves</span>
													<span class="prod-cat_name">Рашгард мужской</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															8 900
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-4.jpg" alt="">
												<span class="new">new!</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Rapid Spats</span>
													<span class="prod-cat_name">Компрессионные штаны</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															6 500
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-5.jpg" alt="">
												<span class="onsale">-10%</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Gorilla Short Sleeves</span>
													<span class="prod-cat_name">Комплект MMA</span>
												</div>
							                    <span class="price">
													<del>
														<span class="woocommerce-Price-amount amount">
															9 000
														</span>
													</del> 
													<ins>
														<span class="woocommerce-Price-amount amount">
															8 100
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-6.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Bad Boy Sphere</span>
													<span class="prod-cat_name">Рашгард мужской</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															7 999
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-7.jpg" alt="">
												<span class="sale">sale</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Koi</span>
													<span class="prod-cat_name">Шорты мужские</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															1 299
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-8.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Bad Boy Sphere </span>
													<span class="prod-cat_name">Компрессионные штаны</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															9 970
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
					<div id="tabs2" class="prod-cat">
						<div class="container">
						    <div class="row js-mob-slider">
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-1.jpg" alt="">
												<span class="onsale">-10%</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Tecmo Long Sleeves</span>
													<span class="prod-cat_name">Рашгард мужской</span>
												</div>
							                    <span class="price">
													<del>
														<span class="woocommerce-Price-amount amount">
															8 000
														</span>
													</del> 
													<ins>
														<span class="woocommerce-Price-amount amount">
															7 200
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
							    </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-2.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Hardcore Good Old Boxing</span>
													<span class="prod-cat_name">Футболка мужская</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															7 999
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-3.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Gorilla Long Sleeves</span>
													<span class="prod-cat_name">Рашгард мужской</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															8 900
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-4.jpg" alt="">
												<span class="new">new!</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Rapid Spats</span>
													<span class="prod-cat_name">Компрессионные штаны</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															6 500
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-5.jpg" alt="">
												<span class="onsale">-10%</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Gorilla Short Sleeves</span>
													<span class="prod-cat_name">Комплект MMA</span>
												</div>
							                    <span class="price">
													<del>
														<span class="woocommerce-Price-amount amount">
															9 000
														</span>
													</del> 
													<ins>
														<span class="woocommerce-Price-amount amount">
															8 100
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-6.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Bad Boy Sphere</span>
													<span class="prod-cat_name">Рашгард мужской</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															7 999
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-7.jpg" alt="">
												<span class="sale">sale</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Koi</span>
													<span class="prod-cat_name">Шорты мужские</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															1 299
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-8.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Bad Boy Sphere </span>
													<span class="prod-cat_name">Компрессионные штаны</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															9 970
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>
			</div>
			<div class="tabs_panel" id="tabs-nav4">
				<div class="tabs hidden-xs">
					<ul class="container tabs_nav">
						<li><a href="#tabs1">Мужчинам</a></li>
						<li><a href="#tabs2">Женщинам</a></li>
					</ul>
					<div id="tabs1" class="tabs_panel ">
						<div class="container">
							//= template/page/home/product-category.html
						</div>
						<div class="fon-light hidden-xs">					
							<div class="container">
								<a href="#" class="btn-ajax">
									<i class="icon icon-arrows-cw"></i>
									<p>Больше товаров</p>
								</a>
							</div>
						</div>
					</div>
					<div id="tabs2" class="tabs_panel">
						<div class="container">
							//= template/page/home/product-category.html
						</div>
						<div class="fon-light hidden-xs">					
							<div class="container">
								<a href="#" class="btn-ajax">
									<i class="icon icon-arrows-cw"></i>
									<p>Больше товаров</p>
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="tabs visible-xs">
					<ul class="tabs_nav container">
						<li><a href="#tabs1">Мужчинам</a></li>
						<li><a href="#tabs2">Женщинам</a></li>
					</ul>
					<div id="tabs1" class="prod-cat">
						<div class="container">
						    <div class="row js-mob-slider">
								<div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-1.jpg" alt="">
												<span class="onsale">-10%</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Tecmo Long Sleeves</span>
													<span class="prod-cat_name">Рашгард мужской</span>
												</div>
							                    <span class="price">
													<del>
														<span class="woocommerce-Price-amount amount">
															8 000
														</span>
													</del> 
													<ins>
														<span class="woocommerce-Price-amount amount">
															7 200
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
							    </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-2.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Hardcore Good Old Boxing</span>
													<span class="prod-cat_name">Футболка мужская</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															7 999
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-3.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Gorilla Long Sleeves</span>
													<span class="prod-cat_name">Рашгард мужской</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															8 900
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-4.jpg" alt="">
												<span class="new">new!</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Rapid Spats</span>
													<span class="prod-cat_name">Компрессионные штаны</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															6 500
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-5.jpg" alt="">
												<span class="onsale">-10%</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Gorilla Short Sleeves</span>
													<span class="prod-cat_name">Комплект MMA</span>
												</div>
							                    <span class="price">
													<del>
														<span class="woocommerce-Price-amount amount">
															9 000
														</span>
													</del> 
													<ins>
														<span class="woocommerce-Price-amount amount">
															8 100
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-6.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Bad Boy Sphere</span>
													<span class="prod-cat_name">Рашгард мужской</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															7 999
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-7.jpg" alt="">
												<span class="sale">sale</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Koi</span>
													<span class="prod-cat_name">Шорты мужские</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															1 299
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-8.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Bad Boy Sphere </span>
													<span class="prod-cat_name">Компрессионные штаны</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															9 970
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
					<div id="tabs2" class="prod-cat">
						<div class="container">
						    <div class="row js-mob-slider">
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-1.jpg" alt="">
												<span class="onsale">-10%</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Tecmo Long Sleeves</span>
													<span class="prod-cat_name">Рашгард мужской</span>
												</div>
							                    <span class="price">
													<del>
														<span class="woocommerce-Price-amount amount">
															8 000
														</span>
													</del> 
													<ins>
														<span class="woocommerce-Price-amount amount">
															7 200
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
							    </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-2.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Hardcore Good Old Boxing</span>
													<span class="prod-cat_name">Футболка мужская</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															7 999
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-3.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Gorilla Long Sleeves</span>
													<span class="prod-cat_name">Рашгард мужской</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															8 900
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-4.jpg" alt="">
												<span class="new">new!</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Rapid Spats</span>
													<span class="prod-cat_name">Компрессионные штаны</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															6 500
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-5.jpg" alt="">
												<span class="onsale">-10%</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Gorilla Short Sleeves</span>
													<span class="prod-cat_name">Комплект MMA</span>
												</div>
							                    <span class="price">
													<del>
														<span class="woocommerce-Price-amount amount">
															9 000
														</span>
													</del> 
													<ins>
														<span class="woocommerce-Price-amount amount">
															8 100
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-6.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Bad Boy Sphere</span>
													<span class="prod-cat_name">Рашгард мужской</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															7 999
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-7.jpg" alt="">
												<span class="sale">sale</span>
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
													<span>XXL</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Venum Koi</span>
													<span class="prod-cat_name">Шорты мужские</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															1 299
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						        <div class="col-sm-3 col-xs-6">
						            <div class="product-wrp">
						                <a href="#" class="prod-cat_block">
											<div class="prod-cat_img" href="#">
												<img src="img/content/265-254-8.jpg" alt="">
												<span class="prod-cat_sizes">
													<span>S</span>
													<span>L</span>
												</span>
											</div>
											<div class="prod-cat_cnt js-match-height">
												<div class="join-prod-data" data-mh="my-group-cat">
													<span class="heading4">Bad Boy Sphere </span>
													<span class="prod-cat_name">Компрессионные штаны</span>
												</div>
							                    <span class="price">
													<ins>
														<span class="woocommerce-Price-amount amount">
															9 970
															<span class="woocommerce-Price-currencySymbol">грн</span>
														</span>
													</ins>
												</span>
							                </div>
						                    <div class="woocommerce product">
						                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
						                    </div>
						                </a>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		//= template/page/home/s-banner.html
		//= template/page/home/seo-block.html
	</div>
//= template/core/footer.html