//= template/core/header.html
	<div class="sub-page">

		
		//= template/core/breadcrumbs.html
		<div class="container">
			<div class="inline-center">
				<h1>VENUM GORILLA RASHGUARD LONG SLEEVES BLACK</h1>
			</div>
			<div class="item row">
				<div class="col-md-5">
					<div class="images">
						<span class="sale">-10%</span>
						<div class="yith_magnifier_zoom_wrap">
							<div class="yith_magnifier_zoom_wrap">
								<a href="#" class="yith_magnifier_zoom woocommerce-main-image" title="hoodie_7_front">
									<div class="container-image-and-badge">
										<img src="img/content/458-550.jpg" class="attachment-shop_single size-shop_single wp-post-image" alt="">
									</div><!--container-image-and-badge-->
									<div class="yith_magnifier_lens"></div>
								</a>
							</div>
						</div>

						<div class="thumbnails">
							<ul class="yith_magnifier_gallery js-nav-slider">
								<li class="yith_magnifier_thumbnail first">
									<a href="#" class="yith_magnifier_thumbnail first" title="hoodie_7_front">
										<img src="img/content/66-81.jpg" class="attachment-shop_thumbnail size-shop_thumbnail" alt="">
									</a>
								</li>
								<li class="yith_magnifier_thumbnail">
									<a href="#" class="yith_magnifier_thumbnail" title="hoodie_7_back">
										<img src="img/content/66-81.jpg" class="attachment-shop_thumbnail size-shop_thumbnail" alt="">
									</a>
								</li>
								<li class="yith_magnifier_thumbnail">
									<a href="#" class="yith_magnifier_thumbnail" title="hoodie_7_back">
										<img src="img/content/66-81.jpg" class="attachment-shop_thumbnail size-shop_thumbnail" alt="">
									</a>
								</li>
								<li class="yith_magnifier_thumbnail">
									<a href="#" class="yith_magnifier_thumbnail" title="hoodie_7_back">
										<img src="img/content/66-81.jpg" class="attachment-shop_thumbnail size-shop_thumbnail" alt="">
									</a>
								</li>
								<li class="yith_magnifier_thumbnail">
									<a href="#" class="yith_magnifier_thumbnail" title="hoodie_7_back">
										<img src="img/content/66-81.jpg" class="attachment-shop_thumbnail size-shop_thumbnail" alt="">
									</a>
								</li>
								<li class="yith_magnifier_thumbnail">
									<a href="#" class="yith_magnifier_thumbnail" title="hoodie_7_back">
										<img src="img/content/66-81.jpg" class="attachment-shop_thumbnail size-shop_thumbnail" alt="">
									</a>
								</li>
								<li class="yith_magnifier_thumbnail">
									<a href="#" class="yith_magnifier_thumbnail" title="hoodie_7_back">
										<img src="img/content/66-81.jpg" class="attachment-shop_thumbnail size-shop_thumbnail" alt="">
									</a>
								</li>
								<li class="yith_magnifier_thumbnail">
									<a href="#" class="yith_magnifier_thumbnail" title="hoodie_7_back">
										<img src="img/content/66-81.jpg" class="attachment-shop_thumbnail size-shop_thumbnail" alt="">
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="p-descrip">
						<div class="p-descrip_title">
							<a href="#">Бренд: <b>Venum</b></a>
							<span>Артикул: VGR539963</span>
						</div>
						<ul class="p-descrip_ul">
							<li class="icon s-icon-wool">
								Состав — 87% полиэстер 13% спандекс
							</li>
							<li class="icon s-icon-biceps">
								Технология компрессии Venum
							</li>
							<li class="icon s-icon-thermometer">
								Технология Venum Dry Tech™
							</li>
							<li class="icon s-icon-strips">
								Усиленные плоские швы
							</li>
							<li class="icon s-icon-tee-shirt">
								Сублимационный метод печати рисунков
							</li>
							<li class="icon s-icon-figure">
								Резиновая вставка на запястье
							</li>
						</ul>
						<p>Превосходно подойдет для единоборств, бега, фитнеса, работы в тренажерном зале и других видов физической активности. Рашгард садится на тело как вторая кожа и защищает от ссадин, царапин и растяжений во время борьбы</p>
					</div>
				</div>
				<div class="col-md-3 fon-light fixed-block_parent">
					<div class="item_block fon-light js-fixed-block" id="js-fixed-block">
						<div class="summary entry-summary">
							<div class="woocommerce-variation-availability">
								<div class="item_price">
			                        <div class="stock in-stock">В наличии</div>
			                        <!-- <div class="stock out-of-stock">Нет в наличии</div> -->
			                        <div class="item_price-amount">
			                            <ins>
				                            <span class="woocommerce-Price-amount amount">1 699 
				                            	<span class="woocommerce-Price-currencySymbol">грн</span>
				                            </span>
			                            </ins>
			                            <del>
			                            	<span class="woocommerce-Price-amount amount">4 199 
			                            		<span class="woocommerce-Price-currencySymbol">грн</span>
			                            	</span>
			                            </del>
			                        </div>
			                    </div>
							</div>
						</div>
						<div class="item_block1">
		                    <div class="item_button">
		                        <form class="variations_form cart" method="post">
		                            <table class="variations" cellspacing="0">
									    <tbody>
									        <tr>
									            <td class="label">
									                <label for="pa_size">Доступные размеры:</label>
									            </td>
									            <td class="value">
									                <div class="variation-selector variation-select-label hidden">
									                    <select id="pa_size" class="" name="attribute_pa_size" data-attribute_name="attribute_pa_size" data-show_option_none="yes">
									                        <option value="">Выбрать</option>
									                        <option value="41" class="attached enabled">41</option>
									                        <option value="42" class="attached enabled">42</option>
									                        <option value="43" class="attached enabled">43</option>
									                        <option value="44" class="attached enabled">44</option>
									                        <option value="45" class="attached enabled">45</option>
									                        <option value="46" class="attached enabled">46</option>
									                    </select>
									                </div>
									                <div class="tawcvs-swatches" data-attribute_name="attribute_pa_size">
									                	<span class="swatch swatch-label swatch-s selected" title="S" data-value="S">S</span>
									                	<span class="swatch swatch-label swatch-m " title="M" data-value="M">M</span>
									                	<span class="swatch swatch-label swatch-L" title="L" data-value="L">L</span>
									                	<span class="swatch swatch-label swatch-XL" title="XL" data-value="XL">XL</span>
									                	<span class="swatch swatch-label swatch-XXL" title="XXL" data-value="XXL">XXL</span>
									                	<span class="swatch swatch-label swatch-3XL" title="3XL" data-value="3XL">3XL</span>
									                	<span class="swatch swatch-label swatch-3XL" title="6XL" data-value="6XL">6XL</span>
									                </div>
									                <a class="reset_variations" href="#">Очистить</a> </td>
									        </tr>
									    </tbody>
									</table>
									<a href="#" class="icon-th size-chart">Размерная сетка</a>
		                            <div class="single_variation_wrap">
		                                <div class="woocommerce-variation single_variation" style="display: none;"></div>
		                                <div class="woocommerce-variation-add-to-cart variations_button woocommerce-variation-add-to-cart-disabled">
		                                    <!-- <div class="quantity">
		                                    	<label class="quantity_title" for="">Количество:</label>
		                                        <input type="number" class="input-text qty text" step="1" min="1" max="" name="quantity" value="1" title="Кол-во" size="4" pattern="[0-9]*" inputmode="numeric">
		                                    </div> -->
		                                    <!-- <button type="submit" class="single_add_to_cart_button button alt disabled wc-variation-selection-needed">В корзину</button>
		                                    <a href="#xoo-cp-modal" class="button popup-show btn-primary-inv">КУПИТЬ В 1 КЛИК</a> -->
		                                    <a href="#order" class="button popup-show btn-primary-inv">сообщите когда появится</a>
		                                    <input type="hidden" name="add-to-cart" value="66100">
		                                    <input type="hidden" name="product_id" value="66100">
		                                    <input type="hidden" name="variation_id" class="variation_id" value="0">
		                                </div>
		                            </div>
		                        </form>
		                    </div>
		                </div>
		                <div class="item_block2 prod-cat">
		                	<p class="heading4">с этим товаром также покупают</p>
		                	<div class="product-wrp product-aside">
		                		<a href="#" class="prod-cat_block">
		                			<img src="img/content/68-83.png" alt="">
		                			<div class="prod-cat_cnt ">
		                				<span class="heading4">Hardcore Good Old Boxing</span>
		                				<span class="price">
											<ins>
												<span class="woocommerce-Price-amount amount">
													7 999
													<span class="woocommerce-Price-currencySymbol">грн</span>
												</span>
											</ins>
										</span>
		                			</div>
		                		</a>
		                		<a href="#" class="prod-cat_block">
		                			<img src="img/content/68-83.png" alt="">
		                			<div class="prod-cat_cnt ">
		                				<span class="heading4">Hardcore Good Old Boxing</span>
		                				<span class="price">
											<ins>
												<span class="woocommerce-Price-amount amount">
													7 999
													<span class="woocommerce-Price-currencySymbol">грн</span>
												</span>
											</ins>
										</span>
		                			</div>
		                		</a>
		                	</div>
		                </div>
					</div>
				</div>
			</div>
		</div>
		<div class="tabs-wrp">
			<div class="woocommerce-tabs wc-tabs-wrapper tabs-cat">
			    <ul class="tabs wc-tabs fon-light tabs-cat_nav" role="tablist">
			        <li class="description_tab active" id="tab-title-description" role="tab" aria-controls="tab-description">
			            <a href="#tab-description">Описание товара</a>
			        </li>
			        <li class="additional_information_tab" id="tab-title-additional_information" role="tab" aria-controls="tab-additional_information">
			            <a href="#tab-additional_information">Характеристики</a>
			        </li>
			        <li class="reviews_tab" id="tab-title-reviews" role="tab" aria-controls="tab-reviews">
			            <a href="#tab-reviews">Отзывы</a>
			        </li>
			        <li class="reviews_tab" id="tab-title-order" role="tab" aria-controls="tab-order">
			            <a href="#tab-order">Доставка и оплата</a>
			        </li>
			        
			    </ul>
			    <div class="container woocommerce-Tabs-panel woocommerce-Tabs-panel--description panel entry-content wc-tab" id="tab-description" role="tabpanel" aria-labelledby="tab-title-description">
			    	<div class="row">
			    		<div class="col-md-9">
			    			<div class="panel_tab">
				        		<p class="heading2">Описание товара</p>
				        		<p>Превосходно подойдет для единоборств, бега, фитнеса, работы в тренажерном зале и других видов физической активности. Рашгард садится на тело как вторая кожа и защищает от ссадин, царапин и растяжений во время борьбы. Характеристики:</p>
				        		<ul>
				        			<li>Компрессионная функция рашгарда ускоряет кровообращение в мышцах, увеличивая тем самым производительность и скорость восстановления.</li>
				        			<li>Специальный покрой и ткань, которая растягивается в 4-ех направлениях, поможет сохранить свободу движений. </li>
				        			<li>Плоские швы предотвращают раздражение кожи.</li>
				        			<li>Все рисунки нанесны методом сублимации (никогда не сотрётся).</li>
				        			<li>Состав: 82% полиэстер - 18% спандекс.</li>
				        		</ul>
				        	</div>
			    		</div>
			    	</div>
			    </div>
			    <div class="container woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information" role="tabpanel" aria-labelledby="tab-title-additional_information">
			    	<div class="row">
			    		<div class="col-md-9">
			    			<div class="panel_tab">
				    			<p class="heading2">Характеристики</p>
						        <table class="shop_attributes">
						            <tbody>
						                <tr>
						                    <th>1</th>
						                    <td>
						                        <p>Цвет</p>
						                    </td>
						                    <td>
						                        <p>Черный</p>
						                    </td>
						                </tr>
						                <tr>
						                    <th>2</th>
						                    <td>
						                        <p>Рукав</p>
						                    </td>
						                    <td>
						                        <p>Длинный</p>
						                    </td>
						                </tr>
						                <tr>
						                    <th>3</th>
						                    <td>
						                        <p>Материал</p>
						                    </td>
						                    <td>
						                        <p>Полиэстер-эластан</p>
						                    </td>
						                </tr>
						            </tbody>
						        </table>
						    </div>
					    </div>
					</div>
			    </div>
			    <div class="container woocommerce-Tabs-panel woocommerce-Tabs-panel--reviews panel entry-content wc-tab" id="tab-reviews" role="tabpanel" aria-labelledby="tab-title-reviews">
			    	<div class="row">
				    	<div class="col-md-9">
				    		<div class="panel_tab">
				    			<div id="reviews">
									<div id="comments">
										<p class="heading2">Отзывы <span>(3)</span><p>
										<ol class="commentlist">
											<li id="li-comment-120">
												<div id="comment-120" class="comment_container">
													<img src="http://2.gravatar.com/avatar/59c82b1d2c60537f900fb191b3cb611b?s=60&amp;d=mm&amp;r=g" srcset="http://2.gravatar.com/avatar/59c82b1d2c60537f900fb191b3cb611b?s=120&amp;d=mm&amp;r=g 2x" class="avatar avatar-60 photo" height="60" width="60">
													<div class="comment-text">
														<div class="meta">
															<strong>Константин Константинопольский </strong> 					
															<time>25 мая 2018</time>
															<div class="star-rating"><span style="width:60%">Оценка <strong class="rating">3</strong> из 5</span></div>
														</div>
														<div class="description">
															<p>Я считаю, что товар превосходно подойдет для единоборств, бега, фитнеса, работы в тренажерном зале и других видов физической активности. Рашгард садится на тело как вторая кожа и защищает от ссадин, царапин и растяжений во время борьбы.</p>
														</div>
													</div>
												</div>
											</li>
											<li itemprop="review" itemscope="" itemtype="http://schema.org/Review" id="li-comment-119">
												<div id="comment-119" class="comment_container">
													<img alt="ryan@woothemes.com" src="http://1.gravatar.com/avatar/4cd8db29cac75b73697e8bbe9da98f5d?s=60&amp;d=mm&amp;r=g" srcset="http://1.gravatar.com/avatar/4cd8db29cac75b73697e8bbe9da98f5d?s=120&amp;d=mm&amp;r=g 2x" class="avatar avatar-60 photo" height="60" width="60">
													<div class="comment-text">
														<div class="meta">
															<strong>Maria</strong> 					
															<time>25 мая 2018</time>
															<div class="star-rating" title="Rated 3 out of 5">
																<span style="width:60%">
																	<strong>3</strong> out of 5
																</span>
															</div>
														</div>
														<div itemprop="description" class="description">
															<p>This hoodie gets me lots of looks while out in public, I got the blue one and it's awesome. Not sure if people are looking at my hoodie only, or also at my rocking bod.</p>
														</div>
													</div>
												</div>
											</li>
											<li itemprop="review" id="li-comment-118">
												<div id="comment-118" class="comment_container">
													<img alt="stuart@woothemes.com" src="http://1.gravatar.com/avatar/7a6df00789e50714fcde1b759befcc84?s=60&amp;d=mm&amp;r=g" srcset="http://1.gravatar.com/avatar/7a6df00789e50714fcde1b759befcc84?s=120&amp;d=mm&amp;r=g 2x" class="avatar avatar-60 photo" height="60" width="60">
													<div class="comment-text">
														<div class="meta">
															<strong>Maria</strong> 					
															<time>25 мая 2018</time>
															<div class="star-rating" title="Rated 3 out of 5">
																<span style="width:60%">
																	<strong>3</strong> out of 5
																</span>
															</div>
														</div>
														<div itemprop="description" class="description">
															<p>Another great quality product that anyone who see's me wearing has asked where to purchase one of their own.</p>
														</div>
													</div>
												</div>
											</li>
										</ol>
									</div>
									<div id="review_form_wrapper">
										<div id="review_form">
											<div id="respond" class="comment-respond">		
												<form method="post" id="commentform" class="comment-form" enctype="multipart/form-data">
													<p class="heading3">Добавить отзыв:</p>

													<input type="hidden" name="action" value="submit-form">

													<p class="comment-form-author icon-form">
														<i class="icon s-icon-user"></i>
														<input id="author" placeholder="Ваши имя и фамилия" name="author" type="text" value="" size="30" aria-required="true">
													</p>

													<div class=" comment-form-rating">
														<div class="stars">
															<span>
																<a class="star-1" href="#">1</a>
																<a class="star-2" href="#">2</a>
																<a class="star-3" href="#">3</a>
																<a class="star-4" href="#">4</a>
																<a class="star-5" href="#">5</a>
															</span>
														</div>
														<select name="rating" id="rating" style="display: none;">
															<option value="">Rate…</option>
															<option value="5">Perfect</option>
															<option value="4">Good</option>
															<option value="3">Average</option>
															<option value="2">Not that bad</option>
															<option value="1">Very Poor</option>
														</select>
													</div>
													
													<p class="comment-form-comment icons-textarea">
														<i class="icon s-icon-pens"></i>
														<textarea id="comment" placeholder="Ваше мнение о товаре" name="comment" cols="45" rows="8" aria-required="true"></textarea>
													</p>
													<p class="form-submit">
														<div class="submit-wrapp">
															<!-- блок для сартсна -->
														</div>
														<div class="submit-wrapp">
															<input name="submit" type="submit" id="submit" class="submit button btn-primary-inv" value="ОТПРАВИТЬ ОТЗЫВ"> 
															<input type="hidden" name="comment_post_ID" value="40" id="comment_post_ID">
															<input type="hidden" name="comment_parent" id="comment_parent" value="0">
														</div>
													</p>			
												</form>
											</div><!-- #respond -->
										</div>
									</div>
								</div>
				    		</div>
				    	</div>
			    	</div>
			    </div>
			    <div class="container woocommerce-Tabs-panel woocommerce-Tabs-panel--order panel entry-content wc-tab" id="tab-order" role="tabpanel" aria-labelledby="tab-title-description">
			    	<div class="row">
			    		<div class="col-md-9">
			    			<div class="panel_tab">
				        		<p class="heading2">Доставка и оплата</p>
				        		<p>Действует система предоплаты только за доставку, сам заказ вы оплачиваете при получении. Доставка в регионы осуществляется тремя организациями: EMS, СДЭК, а так же Почта России. Для заказа в регионы необходимо при регистрации на сайте указать ФИО, адрес, телефон и индекс. Способ доставки выбрать «доставка в регионы».  </p>
				        		<p>Необходимо отметить, что за наложный платеж всегда взымается комиссия в пользу транспортной компании в размере 3%.  Большие плюсы от отправки посылок курьерской службой СДЭК состоят в том, что доставка осуществляется быстрее и предоплата взимается только за доставку. Так же стоит отметить, Что СДЭК предоставляет различные варианты доставки</p>
				        	</div>
			    		</div>
			    	</div>
			    </div>
			</div>

		
		</div>
			
		

		<div class="s-bottom prod-cat" id="article">
			<div class="container">
				<p class="heading2">Похожие товары</p>
				<div class="row js-four-slider b-block_slider">
					<div class="col-sm-3 col-xs-6">
			            <div class="product-wrp">
			                <a href="#" class="prod-cat_block">
								<div class="prod-cat_img" href="#">
									<img src="img/content/265-254-1.jpg" alt="">
									<span class="onsale">-10%</span>
									<span class="prod-cat_sizes">
										<span>S</span>
										<span>L</span>
										<span>XXL</span>
									</span>
								</div>
								<div class="prod-cat_cnt js-match-height">
									<div class="join-prod-data" data-mh="my-group-cat">
										<span class="heading4">Venum Tecmo Long Sleeves</span>
										<span class="prod-cat_name">Рашгард мужской</span>
									</div>
				                    <span class="price">
										<del>
											<span class="woocommerce-Price-amount amount">
												8 000
											</span>
										</del> 
										<ins>
											<span class="woocommerce-Price-amount amount">
												7 200
												<span class="woocommerce-Price-currencySymbol">грн</span>
											</span>
										</ins>
									</span>
				                </div>
			                    <div class="woocommerce product">
			                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
			                    </div>
			                </a>
			            </div>
				    </div>
			        <div class="col-sm-3 col-xs-6">
			            <div class="product-wrp">
			                <a href="#" class="prod-cat_block">
								<div class="prod-cat_img" href="#">
									<img src="img/content/265-254-2.jpg" alt="">
									<span class="prod-cat_sizes">
										<span>S</span>
										<span>L</span>
										<span>XXL</span>
									</span>
								</div>
								<div class="prod-cat_cnt js-match-height">
									<div class="join-prod-data" data-mh="my-group-cat">
										<span class="heading4">Hardcore Good Old Boxing</span>
										<span class="prod-cat_name">Футболка мужская</span>
									</div>
				                    <span class="price">
										<ins>
											<span class="woocommerce-Price-amount amount">
												7 999
												<span class="woocommerce-Price-currencySymbol">грн</span>
											</span>
										</ins>
									</span>
				                </div>
			                    <div class="woocommerce product">
			                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
			                    </div>
			                </a>
			            </div>
			        </div>
			        <div class="col-sm-3 col-xs-6">
			            <div class="product-wrp">
			                <a href="#" class="prod-cat_block">
								<div class="prod-cat_img" href="#">
									<img src="img/content/265-254-3.jpg" alt="">
									<span class="prod-cat_sizes">
										<span>S</span>
										<span>L</span>
										<span>XXL</span>
									</span>
								</div>
								<div class="prod-cat_cnt js-match-height">
									<div class="join-prod-data" data-mh="my-group-cat">
										<span class="heading4">Venum Gorilla Long Sleeves</span>
										<span class="prod-cat_name">Рашгард мужской</span>
									</div>
				                    <span class="price">
										<ins>
											<span class="woocommerce-Price-amount amount">
												8 900
												<span class="woocommerce-Price-currencySymbol">грн</span>
											</span>
										</ins>
									</span>
				                </div>
			                    <div class="woocommerce product">
			                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
			                    </div>
			                </a>
			            </div>
			        </div>
			        <div class="col-sm-3 col-xs-6">
			            <div class="product-wrp">
			                <a href="#" class="prod-cat_block">
								<div class="prod-cat_img" href="#">
									<img src="img/content/265-254-4.jpg" alt="">
									<span class="new">new!</span>
									<span class="prod-cat_sizes">
										<span>S</span>
										<span>L</span>
										<span>XXL</span>
									</span>
								</div>
								<div class="prod-cat_cnt js-match-height">
									<div class="join-prod-data" data-mh="my-group-cat">
										<span class="heading4">Venum Rapid Spats</span>
										<span class="prod-cat_name">Компрессионные штаны</span>
									</div>
				                    <span class="price">
										<ins>
											<span class="woocommerce-Price-amount amount">
												6 500
												<span class="woocommerce-Price-currencySymbol">грн</span>
											</span>
										</ins>
									</span>
				                </div>
			                    <div class="woocommerce product">
			                        <a href="#" class="button product_type_simple add_to_cart_button ajax_add_to_cart">КУПИТЬ В 1 КЛИК</a> 
			                    </div>
			                </a>
			            </div>
			        </div>
				</div>
			</div>
			<div class="fon-light hidden-xs">					
				<div class="container">
					<a href="#" class="btn-ajax">
						<i class="icon icon-arrows-cw"></i>
						<p>Больше товаров</p>
					</a>
				</div>
			</div>
		</div>
	</div>
	<script>
		(function(){
			var a = document.querySelector('#js-fixed-block'), b = null, P = 0;
			window.addEventListener('scroll', Ascroll, false);
			document.body.addEventListener('scroll', Ascroll, false);
			function Ascroll() {
			  if (b == null) {
			    var Sa = getComputedStyle(a, ''), s = '';
			    for (var i = 0; i < Sa.length; i++) {
			      if (Sa[i].indexOf('overflow') == 0 || Sa[i].indexOf('padding') == 0 || Sa[i].indexOf('border') == 0 || Sa[i].indexOf('outline') == 0 || Sa[i].indexOf('box-shadow') == 0 || Sa[i].indexOf('background') == 0) {
			        s += Sa[i] + ': ' +Sa.getPropertyValue(Sa[i]) + '; '
			      }
			    }
			    b = document.createElement('div');
			    b.style.cssText = s + ' box-sizing: border-box; width: ' + a.offsetWidth + 'px;';
			    a.insertBefore(b, a.firstChild);
			    var l = a.childNodes.length;
			    for (var i = 1; i < l; i++) {
			      b.appendChild(a.childNodes[1]);
			    }
			    a.style.height = b.getBoundingClientRect().height + 'px';
			    a.style.padding = '0';
			    a.style.border = '0';
			  }
			  var Ra = a.getBoundingClientRect(),
			      R = Math.round(Ra.top + b.getBoundingClientRect().height - document.querySelector('#article').getBoundingClientRect().top);  // селектор блока, при достижении нижнего края которого нужно открепить прилипающий элемент
			  if ((Ra.top - P) <= 0) {
			    if ((Ra.top - P) <= R) {
			      b.className = 'stop';
			      b.style.top = - R +'px';
			    } else {
			      b.className = 'sticky';
			      b.style.top = P + 'px';
			    }
			  } else {
			    b.className = '';
			    b.style.top = '';
			  }
			  window.addEventListener('resize', function() {
			    a.children[0].style.width = getComputedStyle(a, '').width
			  }, false);
			}
			})()
	</script>
//= template/core/footer.html