//= template/core/header.html
	<div class="main-page">
		//= template/core/breadcrumbs.html

		<div class="container">
			<div class="inline-center">
				<p class="heading1">Поиск по сайту</p>
			</div>
		</div>
		<div class="result-search sorting-filtr fon-light">
			<div class="container">
				<div class="flex-row flex-items-between flex-items-middle sorting-filtr_wrap">
					<div class="result">
						<form action="" method="post">
							<div class="flex-row flex-items-between flex-items-middle search">
								<input type="search" name="" placeholder="Поиск" class="input">
								<input type="submit" name="" value="искать" class="btn btn-primary btn-search">
							</div>
						</form>
					</div>
					<div><span>Совпадений:</span><b>769</b></div>
					<div>
						<select class="select wppp-select">
							<option value="4" selected="selected"> 4 на странице</option>
							<option value="8">8 на странице</option>
							<option value="12">12 на странице</option>
							<option value="24">24 на странице</option>
							<option value="48">48 на странице</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="search-page">
			<ul class="srch-wrp">
				<li>
					<div class="search-title">
						<span class="counter_num">1.</span>
						<h4><a href="#">Заголовок статьи с совпадением по запросу</a></h4>
					</div>
					<a href="#" class="search-page_title">Категория</a>
					
					<p>Страховая сумма защищает аккредитив. <mark>Акционерное общество</mark> гарантирует регрессный гарант, что не имеет аналогов в англо-саксонской правовой системе. Норма защищает акцепт. Фирменное наименование, учитывая отсутствие в законе норм, посвященных данному вопросу, опровергает индоссамент</p>
				</li>
				<li>
					<div class="search-title">
						<span class="counter_num">2.</span>
						<h4><a href="#">Заголовок статьи с совпадением по запросу</a></h4>
					</div>
					<a href="#" class="search-page_title">Категория</a>
					
					<p>Страховая сумма защищает аккредитив. <mark>Акционерное общество</mark> гарантирует регрессный гарант, что не имеет аналогов в англо-саксонской правовой системе. Норма защищает акцепт. Фирменное наименование, учитывая отсутствие в законе норм, посвященных данному вопросу, опровергает индоссамент</p>
				</li>
				<li>
					<div class="search-title">
						<span class="counter_num">3.</span>
						<h4><a href="#">Заголовок статьи с совпадением по запросу</a></h4>
					</div>
					<a href="#" class="search-page_title">Категория</a>
					
					<p>Страховая сумма защищает аккредитив. <mark>Акционерное общество</mark> гарантирует регрессный гарант, что не имеет аналогов в англо-саксонской правовой системе. Норма защищает акцепт. Фирменное наименование, учитывая отсутствие в законе норм, посвященных данному вопросу, опровергает индоссамент</p>
				</li>
				<li>
					<div class="search-title">
						<span class="counter_num">4.</span>
						<h4><a href="#">Заголовок статьи с совпадением по запросу</a></h4>
					</div>
					<a href="#" class="search-page_title">Категория</a>
					
					<p>Страховая сумма защищает аккредитив. <mark>Акционерное общество</mark> гарантирует регрессный гарант, что не имеет аналогов в англо-саксонской правовой системе. Норма защищает акцепт. Фирменное наименование, учитывая отсутствие в законе норм, посвященных данному вопросу, опровергает индоссамент</p>
				</li>
				<li>
					<div class="search-title">
						<span class="counter_num">5.</span>
						<h4><a href="#">Заголовок статьи с совпадением по запросу</a></h4>
					</div>
					<a href="#" class="search-page_title">Категория</a>
					
					<p>Страховая сумма защищает аккредитив. <mark>Акционерное общество</mark> гарантирует регрессный гарант, что не имеет аналогов в англо-саксонской правовой системе. Норма защищает акцепт. Фирменное наименование, учитывая отсутствие в законе норм, посвященных данному вопросу, опровергает индоссамент</p>
				</li>
			</ul>
		</div>
	</div>
	<div class="pagenavi-wrapp fon-light-other">
		<div class="container">
			<div class="wp-pagenavi">
				<a class="previouspostslink" rel="prev" href="#">НАЗАД</a>
				<a class="page larger" href="#">1</a>
				<a class="page larger" href="#">2</a>
				<span class="extend">...</span>
				<a class="page larger" href="#">17</a>
				<span class="current">18</span>
				<a class="page larger" href="#">19</a>
				<span class="extend">...</span>
				<a class="larger page" href="#">25</a>
				<a class="larger page" href="#">26</a>
				<a class="nextpostslink" href="#">ВПЕРЕД</a>
			</div>
		</div>
	</div>
//= template/core/footer.html